<ng-container>
  <div class="col-12 mat-elevation-z24 data-table mx-auto search-panel">
  <div class="row" style="padding-top:10px">
      <!-- Table Filter   -->
      <ng-container *ngIf="isFilterable">
        <div class="col-4" style="margin-top: 7px;">
          <div class="input-form">
            <mat-label>{{('FILTRA LA RICERCA' | translate)}}</mat-label>
            <mat-form-field class="p-3">
              <input matInput (keyup)="applyFilter($event)" class="search-input">
            </mat-form-field>
          </div>
        </div>

        <!-- Anno -->
        <div class="col-2 mt-7">
          <mat-form-field appearance="outline">
            <mat-label>Anno</mat-label>
            <mat-select [(ngModel)]="yearSelected" (ngModelChange)="changePeriod()">
              <mat-option *ngFor="let year of years" [value]="year">
                {{year}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Mese -->
        <div class="col-2 mt-7">
          <mat-form-field appearance="outline">
            <mat-label>Mese</mat-label>
            <mat-select [(ngModel)]="monthSelected" [compareWith]="compare" (ngModelChange)="changePeriod()">
              <mat-option *ngFor="let month of monthsToView" [value]="month">
                {{month.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </ng-container>

      <!--Add New element -->
      <ng-container *ngIf="addAction && isEditable">
        <div class="col p-lg-4" style="margin-top: -10px">
          <div class="col-9 float-right mr-xl-5 r-border">
            <button mat-raised-button class="ricovera-green float-right button-r" (click)="emitAddAction()">
              <mat-icon class="file-alt"></mat-icon>
              <mat-label style="height: 39px;">{{addAction.buttonText}}</mat-label>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="mat-elevation-z24 data-table mt-4 assistance">
  <!-- Table -->
    <table mat-table [dataSource]="tableDataSource" matSort multiTemplateDataRows>
      <!-- data columns -->
      <ng-container *ngFor="let tableColumn of tableColumns" [matColumnDef]="tableColumn.name">
        <!-- if sortable column header -->
        <ng-container *ngIf="tableColumn.isSortable; else notSortable">
          <th mat-header-cell *matHeaderCellDef
              [mat-sort-header]="tableColumn.name"
              [class.text-right]="tableColumn.position == 'right'"
              [class.text-center]="tableColumn.position == 'center'"
              [arrowPosition]="tableColumn.position === 'right' ? 'before' : 'after'">
            {{tableColumn.name | uppercase}}
          </th>
        </ng-container>
        <!-- else not sortable -->
        <ng-template #notSortable>
          <th mat-header-cell *matHeaderCellDef
              [class.text-right]="tableColumn.position == 'right'"
              [class.text-center]="tableColumn.position == 'center'">
            {{tableColumn.name | uppercase}}
          </th>
        </ng-template>

        <!-- column data -->
        <td mat-cell *matCellDef="let element" [class.text-right]="tableColumn.position == 'right'" [class.text-center]="tableColumn.position == 'center'">
          {{tableColumn.isDate ? (resolve(tableColumn.dataKey, element) | date: 'dd/MM/YYYY') : resolve(tableColumn.dataKey, element) | translate | uppercase}}
          <mat-icon *ngIf="tableColumn.dataKey=='expand' && element == expandedElement" class="expandIcon">arrow_drop_down</mat-icon>
          <mat-icon *ngIf="tableColumn.dataKey=='expand' && element != expandedElement" class="expandIcon">arrow_right</mat-icon>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetails">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <ng-container *ngFor="let assistanceProject of element.assistanceProjects">
              <div class="m-3 p-4 border border-dark rounded-lg">
                <app-assistance-project-details
                  [assistanceProject]="assistanceProject"
                  [rowActionIcons]="{download: 'file_download_outline', edit: 'edit', delete: 'delete_outline', position: 'center'}"
                  [period]="period"
                  (ngEdit)="emitEditAction(assistanceProject)"
                  (ngDelete)="emitDeleteAction(assistanceProject)"
                  (ngDownloadUVI)="emitDownloadAction(assistanceProject)">
                </app-assistance-project-details>
              </div>
            </ng-container>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
          [class.expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetails']" class="detail-row"></tr>

      <!-- No data row -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [colSpan]="displayedColumns.length">{{'noData' | translate}}</td>
      </tr>
    </table>

    <!-- Pagination -->
    <mat-paginator *ngIf="displayPaginator()"
                   [pageSizeOptions]="paginationSizes"
                   [pageSize]="defaultPageSize"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
</ng-container>
