/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import '~material-icons/iconfont/material-icons.css';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-main-nav {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.bg-whitesmoke {
  background: whitesmoke;
}

.white-icon {
  color: white;
}

.white-icon svg {
  fill: white;
}

.gray-icon {
  color: gray;
}

.gray-icon svg {
  fill: gray;
}
.error.mat-snack-bar-container{
  background: #dd553d;
  color: white;
  margin: 0 !important;
  position: absolute;
  right: 50px;
  top: 65px;
  .mat-snack-bar-button{
    background-color: black;
  }
}
.success.mat-snack-bar-container{
  background: #609970;
  color: white;
  margin: 0 !important;
  position: absolute;
  right: 50px;
  top: 65px;
}

.min-w-250px {
  min-width: 250px;
}

.img-display-cover {
  object-fit: cover!important;
  object-position: 100% 0;
}
