@import "~styles/index";

.close-button{
  float: right;
  //top:-24px;
  //right:-24px;
}

.close-icon {
  transition: 1s ease-in-out;
  font-weight: bold;
  font-size: 1.7rem;
  color: $redGlobalBGColor;
}

.cancel-btn {
  background-color: $redGlobalBGColor;
  color: white;
}

.close-icon:hover {
  transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button{
  float: right;
  top:-52px;
  right:-52px;
}

::ng-deep .icon-outside .mat-dialog-container {
    overflow: unset
  }

::ng-deep {
  .ap-full-view.cdk-overlay-pane, .ap-full-view-btns.cdk-overlay-pane  {
    max-width: 99vw !important;
    width: 100% !important;
    height: 98vh;
  }

  .ap-full-view .data-table, .ap-full-view-btns .data-table {
    width: 97.6% !important;
  }

  .ap-full-view .mat-dialog-container, .ap-full-view-btns .mat-dialog-container {
    overflow: hidden !important;
  }

  .ap-full-view .mat-dialog-content {
    max-height: 95% !important;
  }

  .ap-full-view-btns .mat-dialog-content {
    max-height: 88% !important;
  }
}
