<button mat-icon-button class="close-button" (click)="cancel()">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>

<div>
  <h1 mat-dialog-title [innerHTML]="data.title | titlecase"></h1>
</div>

<mat-dialog-content>
  <ng-template appInsertion></ng-template>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-raised-button class="cancel-btn" (click)="cancel()" [innerHTML]="data.cancelText"></button>
  <button mat-raised-button type="submit" [innerHTML]="data.confirmText" [attr.form]="formId" [disabled]="data.disableSave"></button>
</div>
