<div class="d-flex bg-whitesmoke p-15">
  <div>
	<div class="row pt-4" id="guest-info">
	   <div class="col">
	     <mat-card class="mat-elevation-z4 h-100 n-card">
	       <mat-card-header class="m-0">
	         <mat-card-title>
	           <mat-icon class="mat-icon-size">person</mat-icon>
	           <mat-label>{{('aslRegistry.aslRegistryForm.generalData' | translate) | titlecase}}</mat-label>
	         </mat-card-title>
	       </mat-card-header>
	
	       <mat-card-content class="bg-off-white">
	         <div class="row pb-2">
	           <!-- Description -->
	           <div class="col-10">
	             <label class="f-500">{{'aslRegistry.aslRegistryForm.description' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{asl?.description}}" style="width: 100%;"/>
	           </div>
		  </div>
		  
		  <div class="row pb-2">
	           <!-- Supplier code -->
	           <div class="col-3">
	             <label class="f-500">{{'aslRegistry.aslRegistryForm.supplierCode' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{asl?.supplierCode}}"/>
	           </div>
	
	           <!-- CUU (IPA) -->
	           <div class="col-3">
	             <label class="f-500">{{'aslRegistry.aslRegistryForm.cuuIpa' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{asl?.cuuIpa}}"/>
	           </div>
	           
	           <!-- PIVA -->
	           <div class="col-3">
	             <label class="f-500">{{'aslRegistry.aslRegistryForm.piva' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{asl?.piva}}"/>
	           </div>
	           
	           <!-- FISCAL CODE -->
	           <div class="col-3">
	             <label class="f-500">{{'aslRegistry.aslRegistryForm.fiscalCode' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{asl?.fiscalCode}}"/>
	           </div>
	         </div>
	         
	         <div class="row pb-2">
	           <!-- ADDRESS -->
	           <div class="col-3">
	             <label class="f-500">{{'aslRegistry.aslRegistryForm.address' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{asl?.address}}"/>
	           </div>
	
	           <!-- CITY -->
	           <div class="col-3">
	             <label class="f-500">{{'aslRegistry.aslRegistryForm.city' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{asl?.city?.description}}"/>
	           </div>
	           
	           <!-- PROV -->
	           <div class="col-3">
	             <label class="f-500">{{'aslRegistry.aslRegistryForm.province' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{asl?.city?.province?.code}}"/>
	           </div>
	           
	           <!-- CAP -->
	           <div class="col-3">
	             <label class="f-500">{{'aslRegistry.aslRegistryForm.cap' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{asl?.cap}}"/>
	           </div>
	         </div>
	       </mat-card-content>
	     </mat-card>
	   </div>
	</div>
	
	<div class="row pt-4" id="guest-info">
	    <div class="col">
	      <mat-card class="mat-elevation-z4 h-100 n-card">
	        <mat-card-header class="m-0">
	          <mat-card-title>
	            <mat-icon class="mat-icon-size">receipt</mat-icon>
	            <mat-label>{{('aslRegistry.aslRegistryForm.invoiceData' | translate) | titlecase}}</mat-label>
	          </mat-card-title>
	        </mat-card-header>
	
	        <mat-card-content class="bg-off-white">
			  <div class="row pb-2">
	           <!-- FISCAL NATURE -->
	           <div class="col-3">
	             <label class="f-500">{{'aslRegistry.aslRegistryForm.fiscalNature' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{asl?.fiscalNature}}"/>
	           </div>
	
	           <!-- PAY CODE -->
	           <div class="col-3">
	             <label class="f-500">{{'aslRegistry.aslRegistryForm.payCode' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{asl?.payCode}}"/>
	           </div>
	            
	            <!-- PAY TYPE -->
	           <div class="col-3">
	             <label class="f-500">{{'aslRegistry.aslRegistryForm.payType' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{asl?.payType}}"/>
	           </div>
	            
	            <!-- CIG -->
	            <div class="col-3">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.cig' | translate}}</label>
	              <input type="text" class="form-control uppercase disabled" value="{{asl?.cig}}"/>
	            </div>
	          </div>
	          
	          <div class="row pb-2">
	            <!-- BANK -->
	            <div class="col-3">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.bank' | translate}}</label>
	              <input type="text" class="form-control uppercase disabled" value="{{asl?.bank}}"/>
	            </div>
	
	            <!-- IBAN -->
	            <div class="col-3">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.iban' | translate}}</label>
	              <input type="text" class="form-control uppercase disabled" value="{{asl?.iban}}"/>
	            </div>
	            
	            <!-- INVOICE EXPIRATION DAYS -->
	            <div class="col-2">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.expirationDays' | translate}}</label>
	              <input type="number" class="form-control uppercase disabled" value="{{asl?.invoiceExpirationDays}}"/>
	            </div>
	            
	            <!-- MEASURE UNIT -->
	            <div class="col-2">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.measureUnit' | translate}}</label>
	              <input type="text" class="form-control uppercase disabled" value="{{asl?.measureUnit}}"/>
	            </div>
	            
	            <!-- ADMINISTRATION REFERENCE -->
	            <div class="col-2">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.administrationRef' | translate}}</label>
	              <input type="text" class="form-control uppercase disabled" value="{{asl?.administrationReference}}"/>
	            </div>
	          </div>
	          
	          <div class="row pb-2">
	            <!-- CAUSAL -->
	            <div class="col-10">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.causal' | translate}}</label>
	              <input type="text" class="form-control uppercase disabled" value="{{asl?.causal}}" style="width: 100%;"/>
	            </div>
			  </div>
	        </mat-card-content>
	      </mat-card>
	    </div>
  	</div>
  	
  	<div class="row pt-4" id="guest-info">
	    <div class="col">
	      <mat-card class="mat-elevation-z4 h-100 n-card">
	        <mat-card-header class="m-0">
	          <mat-card-title>
	            <mat-icon>receipt</mat-icon>
	            <mat-label>{{('aslRegistry.aslRegistryForm.invoiceConfiguration' | translate) | titlecase}}</mat-label>
	          </mat-card-title>
	        </mat-card-header>
	
	        <mat-card-content class="bg-off-white">
			  <div class="row pb-2">
	            <!-- FISCAL NATURE -->
	            <div class="col-3">
	              <div style="display: flex;width: 150%">
	               	  <mat-slide-toggle class="disabled" [checked]="reducedBillInvoiceRSA ? reducedBillInvoiceRSA : false">
		                {{'aslRegistry.aslRegistryForm.reducedBillInvoiceRSA' | translate}}
		              </mat-slide-toggle>
				  </div>
				  <div style="display: flex;width: 200%">
				  	  <mat-slide-toggle class="disabled" [checked]="groupByDistrictRSA ? groupByDistrictRSA : false">
		                {{'aslRegistry.aslRegistryForm.groupByDistrictRSA' | translate}}
		              </mat-slide-toggle>
                  </div>
	            </div>
	
	            <!-- PAY CODE -->
	            <div class="col-3">
	              <div style="display: flex;width: 150%; margin-left:40px">
	              	  <mat-slide-toggle class="disabled" [checked]="billTaxRSA ? billTaxRSA : false">
		                {{'aslRegistry.aslRegistryForm.billTaxRSA' | translate}}
		              </mat-slide-toggle>
                  </div>
                  <div style="display: flex;width: 200%; margin-left:40px">
				  	  <mat-slide-toggle class="disabled" [checked]="isPerformanceTypeDescriptionRSA ? isPerformanceTypeDescriptionRSA : false">
		                {{'aslRegistry.aslRegistryForm.isPerformanceTypeDescriptionRSA' | translate}}
		              </mat-slide-toggle>
                  </div>
	            </div>
	            
	            <div class="col-3">
                  <div style="display: flex;width: 150%; margin-left:60px">
				  	  <mat-slide-toggle class="disabled" [checked]="isProvidedTreatmentsSummaryRSA ? isProvidedTreatmentsSummaryRSA : false">
		                {{'aslRegistry.aslRegistryForm.isProvidedTreatmentsSummaryRSA' | translate}}
		              </mat-slide-toggle>
                  </div>
	            </div>
	          </div>
	        </mat-card-content>
	      </mat-card>
	    </div>
    </div>
  </div>
<!-- Action column -->
  <div class="col-2 d-flex flex-column justify-content-center" style="min-height: 166px; margin-left:20px">
	  <!-- Edit button -->
	    <ng-container *ngIf="rowActionIcons?.edit && isEditable">
	      <button class="btn btn-block rounded mat-elevation-z8 mb-3 button-r editBtn" mat-raised-button (click)="emitEditAction(asl)">
	        <mat-icon class="editIcon">{{rowActionIcons?.edit}}</mat-icon>
	        <mat-label>{{'edit' | translate}}</mat-label>
	      </button>
	    </ng-container>
	
	    <!-- Delete button -->
	    <ng-container *ngIf="rowActionIcons?.delete && isEditable">
	      <button class="btn btn-block rounded mat-elevation-z8 button-r delBtn" mat-raised-button (click)="emitDeleteAction(asl)">
	        <mat-icon class="delIcon">close</mat-icon>
	        <mat-label>{{'delete' | translate}}</mat-label>
	      </button>
	    </ng-container>
  </div> 
</div> 