@import "~styles/cards";

.mat-card-header .mat-card-title {
  font-size: 20px !important;
}

p {
  margin: 0 0 2px !important;
}

@media screen and (max-width: 1700px) {
  .align-content-end {
    padding-right: 0;
    padding-left: 0;
  }
}

::ng-deep {
  .mat-column-expandedDetails {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .border-dark {
    border-color: darkgray !important;
    padding: 0 !important;
  }

  .p-15 {
    padding: 15px;
  }

  .red-text {
    color: #e23730 !important;
  }

  .vl-center {
    align-items: center;
  }

  .vl-center:not(:last-child) {
    border-right: 1px solid darkgray;
    height: 30px;
    padding-right: 5px;
  }

  .bed {

    background-repeat: no-repeat;
    background-size: 26px;
    background-position-x: 7px;
    background-position-y: 6px;
    background-color: #609970;
    height: 31px;
    width: 39px;
    margin-top: -0.3em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .editBtn .editIcon {
    background-color: #59A066;
    color: #fff;
    height: 31px;
    width: 39px;
    margin-left: -54px;
    margin-top: -0.35em;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-top: 5px;
    font-size: 20px;
  }

  .editBtn {
    padding: 0;
    //border: 1px solid #59A066;
    color: #59A066;
    height: 31px;
    margin-top: 8px;
    max-width: 174px;
  }

  .editBtn mat-label, .delBtn mat-label {
    padding-left: 20px;
  }

  .dwlBtn .dwlIcon {
    background-color: #4A8397;
    color: #fff;
    height: 31px;
    width: 39px;
    margin-left: -67px;
    margin-top: -6px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-top: 4px;
    padding-left: 9px;
    font-size: 22px;
  }

  .dwlBtn {
    padding: 0;
    //border: 1px solid #4A8397;
    color: #4A8397;
    height: 31px;
    margin-top: 8px;
    max-width: 174px;
  }

  .dwlBtn mat-label {
    padding-left: 10px;
    margin-right: -51px;
  }

  .delBtn .delIcon {
    background-color: #dd553d;
    color: #fff;
    height: 31px;
    width: 39px;
    margin-left: -62px;
    margin-top: -6px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-top: 5px;
    font-size: 21px;
  }

  .delBtn {
    padding: 0;
    //border: 1px solid #e23730;
    color: #e23730;
    height: 31px;
    margin-top: 8px;
    max-width: 174px;
  }
}

.min-h-122 {
  min-height: 122px;
}

.font-size-l {
  font: 400 20px/28px Roboto, "Helvetica Neue", sans-serif;
}

.f-20 {
  max-width: 20%;
  flex: 20%;
}

.button-r {
  border-radius: 8px !important ;
}

.mat-card-content {
  padding: 10px !important;
}

@import '~styles/cards';

//::ng-deep .mat-card-header-text {
//  margin: 0 !important;
//}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

::ng-deep {
  .mat-input-element:disabled,
  .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after,
  .mat-select-disabled .mat-select-value, {
    color: gray !important;
  }
}

.file-upload-form-field {
  ::ng-deep {
    .mat-form-field-wrapper,
    .mat-form-field-flex,
    .mat-form-field-appearance-standard {
      padding: 0 !important;
    }

    .mat-form-field-infix {
      border: none !important;
      padding-top: 0 !important;
      border-top: none !important;
    }

    //.mat-form-field-appearance-legacy .mat-form-field-infix {
    //  border: none !important;
    //  padding-top: 0 !important;
    //}
    //
    //.mat-form-field-appearance-standard .mat-form-field-flex {
    //  border: none !important;
    //  padding-top: 0 !important;
    //}

    .mat-form-field-underline {
      display: none;
    }

    .mat-form-field-outline-start, .mat-form-field-outline-end {
      border-radius: 0 !important;
      border: none !important;
    }
  }
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  font-size: inherit;
}

.mat-toolbar-single-row button {
  width: 200px;
}


#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

.n-card {
  box-shadow: none;
  border: 2px solid #DEDEDE;
}
.mat-card-title {
  font-weight: 400 !important;
}

::ng-deep .n-card {
  .mat-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
  }

  mat-label {
    padding-top: 1px;
  }

  mat-icon {
    font-size: 40px;
    margin-top: -15px;
  }

  mat-card-content {
    background-color: #F6F6F6;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #fff;
    border: 2px solid #DEDEDE;
    border-radius: 5px;
    color: transparent;
  }

  .mat-form-field-appearance-outline .mat-form-field-flex {
    height: 40px;
  }

  .mat-form-field-infix {
    padding-top: 0.1em;
  }

  mat-card-content:not(.full-w) .outer-label {
    margin-right: 10px;
    color: #838383;
  }

  .mat-select-arrow-wrapper {
    padding-top: 8px;
  }

  .mat-select-value {
    padding-top: 1px;
  }

  .sm-mat-card {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 0px !important;
  }

  .sm-mat-card:not(.full-w) .outer-label {
    margin-right: 21px;
    display: inline-flex;
    width: 39%;
  }

  .sm-mat-card:not(.full-w) mat-form-field {
    width: 55%;
  }

  .file-alt {
    background-image: url('../../../../../../assets/icon/file-alt.svg');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 14px;
    background-position-y: 13px;
    height: 43px;
    width: 39px;
  }

  .file-upload-block .container {
    border-color: black !important;
    border-radius: 5px;
    margin-left: 15px !important;
    width: calc(100% - 30px);
    padding: 20px !important;
    background-color: #fff;
  }

  .file-upload-block .file-upload-icon {
    position: absolute;
    right: 1em;
    margin-top: 0.5em;
  }

  .file-upload-block .align-items-center {
    align-items: flex-start !important;
  }

  .file-upload-block .file-upload-blue {
    position: absolute;
    margin-top: 3em;
    margin-left: 5em;
  }

  .p-lr-2 {
    padding-right: 2px;
    padding-left: 2px;
  }

  .wid-f mat-label, .wid-f mat-form-field {
    width: 100% !important;
  }

  .quote-b mat-label {
    width: 61% !important;
  }

  .quote-b mat-form-field {
    width: 32% !important;
  }

  .file-upload-block .d-flex.align-items-center.flex-column {
    padding-left: 20px;
  }
  .menomazione mat-label {
    width: 26% !important;
    margin-right: 20px !important;
  }

  .menomazione mat-form-field {
    width: 63% !important;
  }

  .residenza app-virtual-scroll-autocomplete mat-form-field, .residenza mat-form-field {
    width: 56%;
  }

  .residenza .outer-label {
    min-width: 64px;
    display: inline-flex;
  }

  .file-upload-blue {
    padding: 0;
    border: 1px solid #4A8397;
    color: #4A8397;
    height: 32px;
    margin-top: 8px;
    border-radius: 8px !important ;
  }

  .file-upload-blue mat-label {
    padding-left: 15px;
    padding-right: 15px;
  }

  .folder-icon {
    background-color: #4A8397;
    color: #fff;
    height: 32px;
    width: 39px;
    margin-top: -0.35em;
    margin-left: -2px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 22px;
    padding-top: 4px;
  }

  .border-dark {
    border-color: darkgray !important;
    padding: 0 !important;
  }

  .error-width .mat-form-field-subscript-wrapper {
    width: 214px;
    margin-left: -6.5vw;
    padding-left: 0;
  }

  .error-width-utente .mat-form-field-subscript-wrapper {
    padding-left: 10px;
    width: 224px;
  }

}
.name{
  display: inline-block;
  width: 224px;
  float: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  font-size: 14px;
  font-weight: 400;
  color: #353f4a;
}

::ng-deep app-assistance-project-form {
  @media screen and (min-width: 970px) and (max-width: 1024px) {
    app-file-upload .container.border-dark {
      zoom: 0.7 !important;
    }
  }
  @media screen and (min-width: 767px) and (max-width: 969px) {
    .sm-fix {
      .mat-card-header-text {
        margin-left: 0px;
      }
      .mat-card-title {
        margin-bottom: 6px !important;
        column-gap: 5px !important;
        .mat-icon {
          background-position-x: 5px;
          width: 32px;
        }
      }
    }
    app-file-upload .container.border-dark {
      zoom: 0.5 !important;
    }
  }
}