<div class="mx-4 my-3">

  <div class="d-flex justify-content-between mt-2">
    <span class="bolder">Impegnativa N° {{element.authNumber}} </span>
    <span class="bolder">Del  {{element.dateInsert | date: 'dd/MM/YYYY'}} </span>
  </div>

  <div class="d-flex justify-content-between mt-2">
    <span class="bolder"> Periodo </span>
    <span class="bolder-grey"> {{element.treatmentStrDate | date: 'dd/MM/YYYY'}} - {{element.treatmentEndDate | date: 'dd/MM/YYYY'}} </span>
  </div>

  <div class="d-flex justify-content-between mt-2">
    <span class="bolder"> Presenze </span>
    <span class="bolder"> {{element.numberOfPresence}}</span>
  </div>

  <hr>

  <div class="text-left mt-2">
    <span class="bolder-1"> {{element.performanceType.code}} - {{element.performanceType.description}}</span>
  </div>

</div>
