<!-- Stepper -->
<mat-horizontal-stepper #stepper [linear]="false" class="w-100 h-100" (selectionChange)="onStepChange($event)">
  <!-- Step -->
  <mat-step *ngFor="let recoveryTaxRegimeType of recoveryTaxRegimeTypes; let i = index">
    <ng-template matStepLabel>{{recoveryTaxRegimeType?.description | uppercase}}</ng-template>
    <ng-container *ngIf="stepSelectedIndex === i">
      <app-invoices-history-table
        [title]="recoveryTaxRegimeType?.description"
        [tableData]="observableData$"
        [isFilterable]="true"
        [isPageable]="true"
        [paginationSizes]="[10, 15, 20]"
        [defaultPageSize]="10"
        (period)="onPeroidChange($event)"
        (ngDownload)="onDownloadClick($event)"
        (ngEdit)="openInvoiceFormDialog($event)">
      </app-invoices-history-table>
    </ng-container>
  </mat-step>
</mat-horizontal-stepper>