::ng-deep app-invoices-history {
    .mat-stepper-horizontal {
        margin-top: 30px;
    }

    .mat-step-icon:not(.mat-step-icon-state-error).mat-step-icon-state-number .mat-step-icon-content {
        display: none;
    }

    .mat-step-icon.mat-step-icon-state-number, .mat-step-icon.mat-step-icon-state-error, .mat-step-icon.mat-step-icon-state-edit {
        width: 100px;
        border-radius: 0px;
        border: 1px solid #db3535;
        background-color: #fff;
        color: #db3535;
        width: 150px;
        border-bottom: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .mat-step-icon.mat-step-icon-state-error .mat-step-icon-content {
        left: 23% !important;
    }

    .mat-step-label-error {
        height: 28px;
        padding-left: 23px;
    }

    .mat-step-label-error .mat-step-text-label {
        height: 15px;
        font-size: 13px;
    }

    .mat-step-sub-label-error {
        margin-top: -5px;
    }

    .mat-step-icon.mat-step-icon-state-number.mat-step-icon-selected {
        background-color: #dd553d;
    }

    .mat-step-label.mat-step-label-active {
        position: absolute;
        color: #dd553d !important;
    }

    .mat-step-label.mat-step-label-active.mat-step-label-selected {
        color: #fff !important;
    }

    .mat-stepper-horizontal-line {
        display: none;
    }

    .mat-step-header {
        padding-right: 0px;
        padding-left: 15px;
        height: 24px;
        justify-content: center;
        margin-bottom: -2px;
    }

    .mat-step-header:first-child {
        padding-left: 1px;
    }

    .mat-horizontal-stepper-header-container {
        border-bottom: 2.5px solid #dd553d;
        margin-left: 2px;
    }

    .mat-horizontal-stepper-header .mat-step-icon {
        margin-right: 0px;
    }

    .mat-horizontal-content-container {
        padding-left: 0;
        padding-right: 5px;
        margin-left: -5px;
    }

    .mat-step-icon-content {
        display: none;
    }
}