@import "~app/shared/components/generic-table/generic-table.component";

td {
  border-bottom-width: 0;
}

.button-r {
  border-radius: 8px !important ;
}

.mat-row  {
  text-align: center;
}

th.mat-header-cell,
th.mat-sort-header,
td.mat-cell:not(.mat-column-expandedDetails) {
  text-align: center;
  padding-block: 15px;
}



tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  text-align: left;
  //display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

::ng-deep .assistance th:not(:last-child) .mat-sort-header-container.mat-focus-indicator {
  border-right: 1px solid;
  height: 37px;
}


.assistance td {
  font-weight: 500;
}

.data-table {
  border-radius: 5px;
}

::ng-deep .input-form .mat-form-field-label-wrapper {
  border: 1px solid darkgray;
  height: 20px !important;
  border-radius: 8px;
  margin-top: 14px;
}

::ng-deep .input-form .mat-form-field-underline {
  display: none !important;
}

::ng-deep .mat-button-wrapper mat-label {
  display: inline-block;
  margin-top: -0.4rem;
}

.input-form mat-label {
  margin-left: 15px;
}

.input-form mat-form-field {
  padding-top: 0px !important;
}

.file-alt {
  background-image: url('../../../../../assets/icon/file-alt.svg');
  background-repeat: no-repeat;
  background-size: 13px;
  background-position-x: 14px;
  background-position-y: 7px;
  background-color: #4A8397;
  height: 32px;
  width: 39px;
  margin-top: -0.35em;
  margin-left: -2px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.ricovera-green {
  padding: 0;
  border: 1px solid #4A8397;
  color: #4A8397;
  height: 32px;
  margin-top: 8px;
}

.ricovera-green mat-label {
  padding-left: 10px;
  padding-right: 10px;
}

.r-border {
  border-left: 1px solid lightgray;
  height: 50px;
}

.mat-header-row {
  background-color: #A8A8A8 !important;
}

.mat-header-row th {
  color: #EEEEEE;
  font-weight: 400;
}

::ng-deep .mat-sort-header-arrow {
  color: lightgray;
}

::ng-deep tbody tr:nth-child(4n+1) {
  background-color: #E9E9E9;
}

::ng-deep td.mat-column-Nome-Ospite, ::ng-deep td.mat-column-Cognome-Ospite {
  font-weight: 600 !important;
}

.expandIcon {
  font-size: 3em;
  color: darkgray;
}

.mt-7 {
  margin-top: 7px;
}

::ng-deep .mat-sidenav-content {
  background-color: #FFFFFF;
}

.search-panel {
  box-shadow: none;
  border: 2px solid #DADADA;
  background-color: #F6F6F6;
  height: 100px;
}

.search-panel-label {
  width: 30%;
  margin-top: 11px;
  color: #575757;
  font-size: 16px;
  margin-left: 4%;
}


.table-panel {
  box-shadow: none;
  border: 2px solid #DEDEDE;
  background-color: #F6F6F6;
}

.search-input {
  padding: 3px;
  width: calc(100% - 4px);
  height: 28px;
  margin-top: -6px;
  border-radius: 5px;
  background-color: #fff;
}

.mat-column-Comune {
  width: 15%;
}

.mat-column-ET- {
  padding-right: 0px !important;
}

::ng-deep .inner-w-80 .mat-form-field-wrapper {
  width: 80%;
}

::ng-deep .input-form mat-label {
  font-weight: 500;
  color: #606060;
}

::ng-deep .input-form mat-form-field {
  margin-top: -8px !important;
}

::ng-deep .mat-header-row th {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

::ng-deep tr.mat-header-row {
  height: 50px !important;
}

.black {
  color: black;
}

.button-r {
  border-radius: 8px !important ;
}

#guest_foto > img {
  border-radius: 10% !important;
  border: 5px solid #0075FF;
}

::ng-deep .odd-color tbody tr:nth-child(2n+1) {
  background-color: #E9E9E9;
}

::ng-deep .close-button {
  margin-top: -20px;
  margin-right: -15px;
}

.c-pointer {
  cursor: pointer;
}
