@import "~styles/cards";

::ng-deep .data-table {
  width: 100%;
  margin: 20px auto;
}

//Cambio colore stepper
::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: rgba(219, 53, 53, 1);
}

//CSS per la sezione della Tabella

.full-width-table {
  width: 100%;
}

.data-table {
  width: 100%;
}

/* Structure */
table {
  width: 100%;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

.example-element-row td {
  border-bottom-width: 0;
}

mat-cell {
  display: flex !important;
  justify-content: center !important;

}

mat-header-cell {
  display: flex;
  justify-content: center;
}

.button-r {
  border-radius: 8px !important;
}

//Per mettere tutto al centro all'interno delle tabelle

th.mat-header-cell,
th.mat-sort-header,
td.mat-cell {
  text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.stepper-with-no-click ::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

th {
  font-weight: bolder;
  font-size: large;
}

td, th {
  width: 10%;
}

.uppercase {
  text-transform: uppercase;
}

::ng-deep .width-100 {
  width: 100% !important;
  margin-top: 20px !important;
}

::ng-deep .mat-calendar-header {
  color: #e23730 ;
}

::ng-deep .mat-calendar-arrow {
  border-top-color: #e23730;
}

::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: transparent;
}

.red-btn {
  background-color: #e23730;
  color: #fff;
}

::ng-deep .mat-calendar-period-button {
  margin-left: auto;
  margin-right: auto;
}

:ng-deep .no-year .mat-calendar-controls, ::ng-deep .no-year .mat-calendar-table-header-divider::after {
  display: none !important;
}

.calendar-header-text {
  margin-top: 8px;
  font-weight: 500;
  font-size: 22px;
  color: #e23730;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

::ng-deep .mat-calendar-table-header th {
  font-size: 17px;
  font-weight: 500;
  color: #e23730;
}

::ng-deep .mat-calendar-body-label {
  opacity: 0;
}

::ng-deep mat-calendar .no-year .mat-calendar-body-selected {
  background-color: transparent;
  color: rgba(0,0,0,.87);
}

::ng-deep mat-calendar .no-year .mat-calendar-body .mat-focus-indicator {
  background-color: transparent !important;
}

::ng-deep mat-calendar .mat-calendar-body-cell::before, ::ng-deep .mat-calendar-body-cell::after, ::ng-deep .mat-calendar-body-cell-preview {
  top: 60% !important;
  height: 23% !important;
}

::ng-deep mat-calendar .mat-calendar-body-cell.selected.red-bar .mat-calendar-body-cell-preview {
  background-color: #FF647C !important;
}

::ng-deep mat-calendar .mat-calendar-body-cell.selected.yellow-bar .mat-calendar-body-cell-preview {
  background-color: #FFCF5C !important;
}

::ng-deep mat-calendar .mat-calendar-body-cell.selected.start .mat-calendar-body-cell-preview {
  left: 5%;
  width: 95%;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}

::ng-deep mat-calendar .mat-calendar-body-cell.selected.end .mat-calendar-body-cell-preview {
  width: 95%;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}

::ng-deep mat-calendar:not(.no-year) .mat-calendar-body-active .mat-calendar-body-cell-content {
  background-color: #e23730 !important;
}

::ng-deep .g-guest-btns {
  position: fixed;
  bottom: 0;
  width: calc(100% - 300px);
  margin-left: -24px;
  z-index: 1;
  .mat-button-wrapper mat-label {
    margin-top: 0px !important;
  }
}
