<app-guest-menu [guest]="patient" *ngIf="isHospitalized"
                (dismiss)="dismiss(patient)" (modifica)="changeModifica()"
                [isEdited]="!editable && isEdit && isHospitalized && isEditable"
                [isDismiss]="editable && isHospitalized && isEditable && !isDismissed"
                (selectedMenuChange)="selectedMenuChange($event)"></app-guest-menu>

<!-- Set buttons template -->
<div class="d-flex flex-row-reverse mt-4 g-guest-btns" *ngIf="selectedMenu==1">
  <div class="col-auto">
    <!-- Previous button -->
    <button mat-raised-button type="button"
            class="mr-2 btn btn-primary font-weight-bolder button-r prev-btn" (click)="stepper.previous()"
            *ngIf="stepper.selectedIndex !== 0 && !isHospitalized">
      <mat-icon class="mr-1 prev"></mat-icon>
      <mat-label style="padding-left: 20px !important; padding-right: 20px !important">Indietro</mat-label>
    </button>

    <!-- Cancel button -->
    <button mat-raised-button type="button"
            [routerLink]="isHospitalized ? ['/guest'] : ['/acceptance']"
            class="mr-2 btn font-weight-bolder button-r cancel-btn">
      <mat-icon class="mr-1 cancel"></mat-icon>
      <mat-label>Annulla</mat-label>
    </button>

    <!-- Save button -->
    <button mat-raised-button type="button"
            class="mr-2 btn btn-primary font-weight-bolder button-r salva-btn" (click)="onSave()" *ngIf="isEditable">
      <mat-icon class="mr-1 check"></mat-icon>
      <mat-label>Salva</mat-label>
    </button>

    <!-- Hospitalize button -->
    <button mat-raised-button type="submit"
            class="mr-2 btn btn-success font-weight-bolder button-r ricovera-btn" (click)="onHospitalize()"
            *ngIf="!isHospitalized && isEditable && !isFromArchive">
      <mat-icon class="mr-1 bed"></mat-icon>
      <mat-label>Ricovera</mat-label>
    </button>

    <!-- Next button -->
    <button mat-raised-button type="button"
            class="mr-2 btn btn-primary font-weight-bolder button-r next-btn" (click)="stepper.next()"
            *ngIf="stepper.selectedIndex !== 4 && !isHospitalized">
      <mat-icon class="mr-1 next"></mat-icon>
      <mat-label style="padding-left: 20px !important; padding-right: 20px !important">Avanti</mat-label>
    </button>
  </div>
</div>


<!-- Stepper -->
<mat-horizontal-stepper #stepper [linear]="false" (selectionChange)="onStepChange($event)"
                        [ngStyle]="{'display': (selectedMenu==1 ? '' : 'none')}" [classList]="isHospitalized ? 'w-100 h-100' : 'w-100 h-100 stepper-with-no-click'">

  <!-- Step registry -->
  <mat-step [stepControl]="registryStepForm.form" errorMessage="Verifica errori." [hasError]="registryStepHasError">
    <ng-template matStepLabel>{{'registry.registry'| translate}}</ng-template>
    <app-registry-step #registryStepForm [formId]="'registryStepForm'" [cities]="cities"></app-registry-step>
  </mat-step>

  <!--Step residence -->
  <mat-step *ngIf="!isFromArchive" [stepControl]="residenceStep.form" errorMessage="Verifica errori."
            [hasError]="residenceHasError">
    <ng-template matStepLabel>{{'residence.residence'| translate}}</ng-template>
    <app-residence-step #residenceStep [formId]="'residenceStepForm'" [cities]="cities"></app-residence-step>
  </mat-step>

  <!-- Step family member -->
  <mat-step *ngIf="!isFromArchive">
    <!--<mat-step errorMessage="Verifica errori." [hasError]="familyHasError">-->
    <ng-template matStepLabel>{{'family.family'| translate}}</ng-template>
    <app-family-step></app-family-step>
  </mat-step>

  <!-- Step exemptions -->
  <mat-step *ngIf="!isFromArchive">
    <ng-template matStepLabel>{{'exemptions.exemptions'| translate}}</ng-template>
    <app-exemptions-step></app-exemptions-step>
  </mat-step>

  <!-- Step recovery tax regime  -->
  <mat-step *ngIf="!isFromArchive" [stepControl]="recoveryTaxRegimeStepForm.form" errorMessage="Verifica errori."
            [hasError]="recoveryTaxRegimeStepHasError">
    <ng-template matStepLabel>{{'recoveryTaxRegime.hospitalizeTaxRegime'| translate}}</ng-template>
    <app-recovery-tax-regime-step #recoveryTaxRegimeStepForm [formId]="'recoveryTaxRegimeStepForm'" [cities]="cities"
                                  [recoveryTaxRegimeTypes]="guestMinimal?.organizationBuilding?.recoveryTaxRegimeTypes"
                                  [building]="guestMinimal?.organizationBuilding"></app-recovery-tax-regime-step>
  </mat-step>

  <!-- Step dismiss -->
  <mat-step *ngIf="isFromArchive">
    <ng-template matStepLabel>{{'dismissDialog.dismiss'| translate}}</ng-template>
    <app-dismiss-step #registryStepForm [formId]="'dismissStepForm'"></app-dismiss-step>
  </mat-step>

</mat-horizontal-stepper>

<ng-container *ngIf="assistanceProjects$ && selectedMenu==2">
  <app-guest-assistance-projects-table
    [tableData]="assistanceProjects$"
    [tableColumns]="assistanceProjectsTableColumns"
    [isFilterable]="false"
    [isDADateFilterable]="true"
    [isADateFilterable]="true"
    [isPageable]="true"
    [paginationSizes]="[10, 15, 20]"
    [defaultPageSize]="10"
    [addAction]="{buttonIcon:'add', buttonText: 'assistanceProjects.addProject' | translate }"
    (ngAdd)="openFormDialog()"
    (ngEdit)="openFormDialog($event)"
    (ngDelete)="onDeleteClick($event)"
  >
  </app-guest-assistance-projects-table>
</ng-container>

<ng-container *ngIf="selectedMenu==3">
  <div class="row mt-2">
    <div class="col">
      <mat-card>
        <mat-card-content style="padding: 0 !important;">
          <div class="mat-elevation-z24 data-table mx-auto">
            <div class="row">
              <div class="col p-lg-4">
                <div class="float-right mr-xl-5" *ngIf="isEditableAttendance">
                  <button mat-raised-button color="primary" (click)="openGuestExitPopup(nearestAttendance)"
                          *ngIf="showUscito">
                    <mat-icon>done</mat-icon>
                    {{(guestCondition === 'USCITO' ? 'Ospite Uscito' : 'Ospite Rientrato') | translate}}
                  </button>
                </div>
                <div class="float-right mr-xl-2" *ngIf="isEditableAttendance">
                  <button mat-raised-button color="primary" (click)="openAttendanceFormDialog()">
                    <mat-icon>add</mat-icon>
                    {{'Nuova Programmazione' | translate}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{'Calendario' | translate}}</mat-card-title>
        </mat-card-header>

        <mat-card-content style="padding-top: 3px !important;">
          <div class="row">
            <div class="col-md-6" style="margin-left: auto;margin-right: auto;margin-top: 20px;">
              <mat-card>
                <app-mat-calendar-inline [calendarObject]="calendarElement" (previous)="onPrevious($event)"
                                         (next)="onNext($event)"
                                         (dateSelected)="onDateSelected($event)"></app-mat-calendar-inline>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{'Prossima Uscita' | translate}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <app-generic-table
            [tableData]="closerProgramming$"
            [tableColumns]="closerProgrammingTableColumns"
            [noSearchPanel]="true"
            [isPageable]="true"
            [paginationSizes]="[10, 15, 20]"
            [isEditable]="isEditableAttendance"
            [defaultPageSize]="10"
            [mainContainerClass]="'width-100'">
          </app-generic-table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{'Tutte le programmazioni' | translate}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <app-generic-table
            [tableData]="allProgramming$"
            [tableColumns]="allProgrammingColumns"
            [noSearchPanel]="true"
            [isPageable]="true"
            [paginationSizes]="[10, 15, 20]"
            [defaultPageSize]="10"
            [rowActionIcons]="{edit: 'edit', delete: 'delete_outline', position: 'center'}"
            [isEditable]="isEditableAttendance"
            (ngEdit)="openAttendanceFormDialog($event)"
            (ngDelete)="onAttendanceDeleteClick($event)">
          </app-generic-table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>
