<form [formGroup]="form" (ngSubmit)="onFormSubmitWithoutDate()" id="{{formId}}">

  <div class="row pt-4">
    <div class="col">
      <mat-card class="mat-elevation-z4 h-100">
        <mat-card-content class="pt-4">
          <div class="row mt-2 w-100">
          	<div class="col w-25">
	          <!-- Date -->
	          <mat-form-field appearance="outline">
	            <mat-label>{{'dismiss.date' | translate}}</mat-label>
	            <input matInput [matDatepicker]="picker" autocomplete="off" formControlName="date" required>
	            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
	            <mat-datepicker #picker color="primary"></mat-datepicker>
	          </mat-form-field>
	        </div>
	        <div class="col w-25">
	          <!-- Time -->
	          <mat-form-field appearance="outline">
	            <mat-label>{{'dismiss.time' | translate}}</mat-label>
	            <input type="time" matInput placeholder="{{'dimission.time' | translate}}" autocomplete="off" formControlName="time" step="60" required>
	          </mat-form-field>
	        </div>
		  </div>
		  
		  <div class="row mt-2 w-100">
		  	<div class="col w-25">
			  <!-- Reason -->
	          <mat-form-field appearance="outline">
	           	  <mat-label>{{'dismiss.reason' | translate}}</mat-label>
		          <mat-select formControlName="reason" [compareWith]="compare" required [ngModelOptions]="{standalone: true}"
		          	(selectionChange)="onReasonSelection()" required>
	                <mat-option *ngFor="let option of dismissReasons" [value]="option">
	                  {{option.description}}
	                </mat-option>
	              </mat-select>
              </mat-form-field>
	      	</div>
	      	<div class="col w-25">
			  <!-- Note -->
	          <mat-form-field appearance="outline">
	            <mat-label>{{'dismiss.note' | translate}}</mat-label>
	            <input matInput placeholder="{{'dismiss.note' | translate}}" autocomplete="off" formControlName="note">
	          </mat-form-field>
	        </div>
          </div>
          
          <div class="row mt-2 w-100">
          	<div class="col w-25">
	          <!-- Drug Management -->
	          <mat-form-field appearance="outline">
	           	  <mat-label>{{'dismiss.drugManagement' | translate}}</mat-label>
		          <mat-select formControlName="drugManagement" [compareWith]="compare" [ngModelOptions]="{standalone: true}" required>
	                <mat-option *ngFor="let option of drugManagements$" [value]="option">
	                  {{option}}
	                </mat-option>
	              </mat-select>
              </mat-form-field>
	        </div>
	      	<div class="col w-25">
	          <!-- Article Management -->
	          <mat-form-field appearance="outline">
	           	  <mat-label>{{'dismiss.articleManagement' | translate}}</mat-label>
		          <mat-select formControlName="articleManagement" [compareWith]="compare" [ngModelOptions]="{standalone: true}" required>
	                <mat-option *ngFor="let option of articleManagements$" [value]="option">
	                  {{option}}
	                </mat-option>
	              </mat-select>
              </mat-form-field>
          	</div>
          </div>
          
          <!-- Absent on last day -->
          <mat-checkbox class="mr-4" formControlName="absentOnLastDay" color="warn">
            {{'dismiss.absentOnLastDay' | translate}}
      	  </mat-checkbox>
      
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
