
<ng-container>
  <div class="mat-elevation-z24 data-table mx-auto {{mainContainerClass}}">
    <div class="row">
      <!-- Table DA Date Filter   -->
      <ng-container *ngIf="isDADateFilterable">
        <div class="col-2">
          <mat-form-field class="p-3">
            <mat-label>{{'DA' | translate}}</mat-label>
            <input matInput [matDatepicker]="picker" (keyup.backspace)="deleteDADateFilter()" (dateChange)="applyDADateFilter($event)" [value]="selectedDADate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </ng-container>

      <!-- Table A Date Filter   -->
      <ng-container *ngIf="isADateFilterable">
        <div class="col-2">
          <mat-form-field class="p-3">
            <mat-label>{{'A' | translate}}</mat-label>
            <input matInput [matDatepicker]="picker" (keyup.backspace)="deleteADateFilter()" (dateChange)="applyADateFilter($event)" [value]="selectedADate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </ng-container>

      <!-- Table Status Filter -->
      <ng-container>
        <div [formGroup]="statusFormGroup" class="col-2">
          <mat-form-field class="p-3">
            <mat-label>{{'assistanceProjects.assistanceProjectForm.status' | translate}}</mat-label>
            <mat-select formControlName="status" (selectionChange)="onStatusSelection()">
              <mat-option>---</mat-option>
              <mat-option *ngFor="let assistanceProjectStatus of assistanceProjectStatues$ | async" [value]="assistanceProjectStatus">
                {{assistanceProjectStatus.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>

      <!--Add New element -->
      <ng-container *ngIf="addAction">
        <div class="col p-lg-4">
          <div class="float-right mr-xl-5">
            <button mat-raised-button class="button-r impegnativa-green" (click)="emitAddAction()" *ngIf="isEditable">
              <mat-icon class="file-alt"></mat-icon>
              <mat-label style="height: 39px;">{{addAction.buttonText}}</mat-label>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="mat-elevation-z24 data-table mt-4 assistance">
    <!-- Table -->
    <table mat-table [dataSource]="tableDataSource.filteredData" matSort multiTemplateDataRows (matSortChange)="sortTable($event)">
      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="element-detail">
            <div class="m-3 p-4 border border-dark rounded-lg">
              <app-guest-assistance-project-details
                [assistanceProject]="element"
                [rowActionIcons]="{download: 'file_download_outline', edit: 'edit', delete: 'close', position: 'center'}"
                [isEditable]="isEditable"
                (ngEdit)="emitEditAction(element)"
                (ngDelete)="emitDeleteAction(element)">
              </app-guest-assistance-project-details>
            </div>

          </div>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
          [class.expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

      <!-- No data row -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [colSpan]="displayedColumns.length">{{'noData' | translate}}</td>
      </tr>
    </table>

    <!-- Pagination -->
    <mat-paginator *ngIf="displayPaginator()"
                   [pageSizeOptions]="paginationSizes"
                   [pageSize]="defaultPageSize"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
</ng-container>
