<form [formGroup]="form" (ngSubmit)="onSubmit()" id="{{formId}}" #f="ngForm" (keydown.enter)="$event.preventDefault()">
  <div class="d-flex top-btns">
    <div class="d-flex justify-content-start">
      <mat-form-field appearance="outline" style="background: white">
        <mat-label>{{'recoveryTaxRegime.form.building' | translate}}</mat-label>
        <mat-select  [(ngModel)]="building" [compareWith]="compare" required [ngModelOptions]="{standalone: true}"
                    (selectionChange)="setRecoveryTaxRegimeTypes()" [disabled]="!isEditable">
          <mat-option *ngFor="let option of buildings" [value]="option">
            {{option.name | uppercase}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formSubmitAttempt">
          <app-form-field-error [formInput]="form.get('recoveryTaxRegimeType')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-button-toggle-group [formControlName]="'recoveryTaxRegimeType'"
                             (change)="onTaxRegimeTypeChange($event)"
                             aria-label="Font Style"
                             #group="matButtonToggleGroup"
                                required>
      <mat-button-toggle *ngFor="let option of recoveryTaxRegimeTypes" [value]="option.description"
                         class="mat-elevation-z4"
                         [style]="recoveryTaxRegimeTypes && recoveryTaxRegimeTypes.length > 6 ? 'min-width: 10vw' : ''">
        {{option.description | uppercase}}
      </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-error *ngIf="formSubmitAttempt" style="padding-top: 15px">
      <app-form-field-error [formInput]="form.get('recoveryTaxRegimeType')" [isFormSubmitted]="formSubmitAttempt"
                            ></app-form-field-error>
    </mat-error>
  </div>

  <div class="row pt-2">
    <!-- CARD BILLING DATA-->
    <div class="col-md-6">
      <mat-card class="mat-elevation-z0 h-100 billing-card">
        <!-- CARD BILLING DATA HEADER -->
        <mat-card-header>
          <mat-card-title>
            <mat-icon class="profile icon-rescale"></mat-icon>
            <span>{{('recoveryTaxRegime.billingInformation' | translate)}}</span>
          </mat-card-title>
        </mat-card-header>

        <!-- CARD BILLING DATA CONTENT -->
        <mat-card-content class="sm-mat-card" style="padding-top: 10px !important;height: 89.4%;">
          <div class="row">
            <!-- Firstname -->
            <div class="col-10">
              <mat-label class="outer-label"
                         style="min-width: 91px;">{{'recoveryTaxRegime.form.firstName' | translate}} *</mat-label>
              <mat-form-field appearance="outline">
                <input oninput="this.value = this.value.toUpperCase()" matInput formControlName="firstName"
                       style="text-transform: uppercase;" required>
                <mat-error *ngIf="formSubmitAttempt">
                  <app-form-field-error [formInput]="form.get('firstName')"
                                        [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Lastname -->
            <div class="col-10">
              <mat-label class="outer-label"
                         style="min-width: 91px;">{{'recoveryTaxRegime.form.lastName' | translate}} *</mat-label>
              <mat-form-field appearance="outline">
                <input oninput="this.value = this.value.toUpperCase()" matInput formControlName="lastName"
                       style="text-transform: uppercase;" required>
                <mat-error *ngIf="formSubmitAttempt">
                  <app-form-field-error [formInput]="form.get('lastName')"
                                        [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Fiscal code -->
            <div class="col-10">
              <mat-label class="outer-label"
                         style="min-width: 91px;">{{'recoveryTaxRegime.form.fiscalCode' | translate}} *</mat-label>
              <mat-form-field appearance="outline">
                <input oninput="this.value = this.value.toUpperCase()" matInput formControlName="fiscalCode" required>
                <mat-error *ngIf="formSubmitAttempt">
                  <app-form-field-error [formInput]="form.get('fiscalCode')"
                                        [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Recipient code -->
            <div class="col-10">
              <mat-label class="outer-label"
                         style="max-width: 91px;">{{'recoveryTaxRegime.form.recipientCode' | translate}}</mat-label>
              <mat-form-field appearance="outline">
                <input oninput="this.value = this.value.toUpperCase()" matInput formControlName="recipientCode">
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- CARD BILLING ADDRESS -->
    <div class="col-md-6">
      <mat-card class="mat-elevation-z0 h-100 mailbox-card">
        <mat-card-header>
          <mat-card-title>
            <mat-icon class="mailbox icon-rescale"></mat-icon>
            <span>{{('recoveryTaxRegime.billingAddress' | translate)}}</span>
          </mat-card-title>
        </mat-card-header>

        <!-- CARD BILLING ADDRESS CONTENT -->
        <mat-card-content class="sm-mat-card" style="padding-top: 10px !important;padding-bottom: 0 !important;">
          <div class="row">
            <!-- Nation -->
            <app-virtual-scroll-autocomplete
              class="col-md-12"
              [formFieldClass]="'w-100'"
              [label]="'recoveryTaxRegime.form.nation' | translate"
              [labelOutside]="true"
              [options]="nations$"
              [control]="formControl('nation')"
              [optionKey]="'description'"
              [isAllUpperCase]="true"
              [required]="true"
              [filterKey]="'description'">
            </app-virtual-scroll-autocomplete>

            <!-- Province -->
            <app-virtual-scroll-autocomplete
              class="col-md-6"
              [formFieldClass]="'w-100'"
              [label]="'recoveryTaxRegime.form.province' | translate"
              [labelOutside]="true"
              [options]="provinces$"
              [control]="formControl('province')"
              [optionKey]="'description'"
              [isAllUpperCase]="true"
              [required]="true"
              (selectedOption)="onProvinceSelection($event)"
              [filterKey]="'description'">
            </app-virtual-scroll-autocomplete>



            <!-- City -->
            <app-virtual-scroll-autocomplete
              class="col-md-6"
              [formFieldClass]="'w-100'"
              [label]="'recoveryTaxRegime.form.city' | translate"
              [labelOutside]="true"
              [options]="cities"
              [control]="formControl('city')"
              [optionKey]="'description'"
              [filterKey]="'description'"
              [required]="true"
              [isAllUpperCase]="true">
            </app-virtual-scroll-autocomplete>
          </div>

          <div class="row">
            <!-- Address -->
            <div class="col-12">
              <mat-label style="display: inherit;">{{'recoveryTaxRegime.form.address' | translate}} *</mat-label>
              <mat-form-field appearance="outline" style="width: 100%;">
                <input oninput="this.value = this.value.toUpperCase()" matInput formControlName="address" required>
                <mat-error *ngIf="formSubmitAttempt">
                  <app-form-field-error [formInput]="form.get('address')"
                                        [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
                </mat-error>
              </mat-form-field>
            </div>

            <!-- CAP -->
            <div class="col-6">
              <mat-label style="display: inherit;">{{'recoveryTaxRegime.form.cap' | translate}} *</mat-label>
              <mat-form-field appearance="outline" style="width: 100%;">
                <input type="number" mask="00000" oninput="this.value = this.value.toUpperCase()" matInput formControlName="cap" required>
                <mat-error *ngIf="formSubmitAttempt">
                  <app-form-field-error [formInput]="form.get('cap')"
                                        [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Pec -->
            <div class="col-6">
              <mat-label style="display: inherit;">{{'recoveryTaxRegime.form.pec' | translate}}</mat-label>
              <mat-form-field appearance="outline" style="width: 100%;">
                <input oninput="this.value = this.value.toUpperCase()" matInput formControlName="pec">
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row pt-4">
    <!-- Contract -->
    <div class="col-md-6">
      <div class="d-flex justify-content-start">
        <mat-form-field *ngIf="isPrivateTaxRegime()" appearance="outline" class="col-md-4">
          <mat-label>{{'recoveryTaxRegime.form.contract' | translate}}</mat-label>
          <mat-select formControlName="contract" [compareWith]="compare">
            <mat-option *ngFor="let option of contracts$ | async" [value]="option">
              {{option.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Acceptance Date -->
    <div class="col-md-6">
      <div class="d-flex justify-content-start">
        <mat-form-field appearance="outline" class="w-200px">
          <mat-label>{{'recoveryTaxRegime.form.acceptanceDate' | translate}}</mat-label>
          <input oninput="this.value = this.value.toUpperCase()" matInput [matDatepicker]="picker"
                 formControlName="acceptanceDate" required class="text-uppercase">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="formSubmitAttempt">
            <app-form-field-error [formInput]="form.get('acceptanceDate')"
                                  [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
</form>
