@import '~styles/cards';

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
  border: none !important;
}

.mat-button-toggle {
  font-size: 20px;
  font-weight: bolder;

  min-width: 207px;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  border: solid 2px black !important;
}

::ng-deep .mat-button-toggle-label-content {
  color: red !important;
}

::ng-deep app-stepper-acceptance {

  .billing-card, .mailbox-card {
    box-shadow: none !important;
    border: 2px solid #e9e9e9;
    border-top: none;

    .mat-card-header {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }

    mat-card-content {
      background-color: #F6F6F6;
    }
	
	.icon-rescale {
		transform: scale(0.8);
	}
	
    .profile {
      background-image: url('../../../../../assets/icon/profile.png');
      background-repeat: no-repeat;
      background-size: 38px;
      background-position-y: -2px;
      height: 35px;
      width: 38px;
    }

    .mailbox {
      background-image: url('../../../../../assets/icon/mailbox.png');
      background-repeat: no-repeat;
      background-size: 38px;
      background-position-y: -2px;
      height: 35px;
      width: 38px;
    }

    .mat-card-title {
      display: flex;
      margin-bottom: -2px !important;
      margin-top: -2px !important;
      align-items: center;
      gap: 30px;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
      background-color: #fff;
      border: 2px solid #DEDEDE;
      border-radius: 5px;
      color: transparent;
    }

    .mat-form-field-appearance-outline .mat-form-field-flex {
      height: 40px;
    }

    .mat-form-field-infix {
      padding-top: 0.1em;
    }

    .sm-mat-card:not(.full-w) .outer-label {
      margin-right: 21px;
      display: inline-flex;
    }

    .sm-mat-card:not(.full-w) mat-form-field {
      width: 55%;
    }

    app-virtual-scroll-autocomplete mat-form-field, .residenza mat-form-field {
      width: 56%;
    }

    .outer-label {
      min-width: 64px;
      display: inline-flex;
    }

    .mat-card-header-text {
      width: 57%;
    }

    .pli-15 .mat-form-field-infix {
      padding-left: 10px;
    }

    .pli-8 .mat-form-field-infix {
      padding-left: 8px;
    }

    .h-toogler {
      .mat-slide-toggle-bar {
        width: 30px;
        height: 12px;
        background-color: rgba(0,0,0,.38) !important;
      }

      .mat-slide-toggle-thumb {
        height: 16px;
        width: 16px;
        background-color: #fafafa !important;
      }

      .mat-slide-toggle-thumb-container {
        top: -2px;
      }
    }
  }

  .top-btns {
    background-color: #e9e9e9;
    margin-top: 20px;

    .mat-button-toggle {
      border: solid 2px lightgray !important;
      box-shadow: none;
      border-radius: 5px;
      height: 40px;
      width: 130px;
    }

    .mat-button-toggle-butt {
      max-height: 40px;
    }

    .mat-button-toggle-checked {
      background-color: #4B8599 !important;
      border: solid 2px #4B8599 !important;
      .mat-button-toggle-label-content {
        color: #fff !important;
      }
    }

    .mat-button-toggle-label-content {
      color: #4B8599 !important;
      height: 40px;
      font-size: 18px;
      margin-top: -5px;
    }
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.w-200px {
  width: 200px;
}
