<form
  *ngIf="residence$ | async; else loading"
  [formGroup]="form"
  (ngSubmit)="onSubmit()" (reset)="onReset()">
  <div class="row">
    <!-- CARD BILLING DATA-->
    <div class="col-md-6">
      <mat-card class="box-border overflow-auto">
        <!-- CARD BILLING DATA HEADER -->
        <mat-card-header class="d-flex">
          <div mat-card-avatar class="d-flex d-center">
            <mat-icon class="mat-icon-size">person</mat-icon>
          </div>
          <mat-card-title class="d-center">
            <div class="pt-2 font-uppercase"> Dati Generali </div>
          </mat-card-title>
        </mat-card-header>

        <!-- CARD BILLING DATA CONTENT -->
        <mat-card-content class="bg-off-white">
          <div class="row pb-2">

            <!-- Name -->
            <div class="col-4">
              <label class="f-500">{{'residence.residenceForm.residenceName' | translate}}*</label>
              <input type="text" class="form-control uppercase" formControlName="residenceName"/>
              <mat-error *ngIf="formSubmitAttempt">
                <app-form-field-error [formInput]="form.get('residenceName')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
              </mat-error>
            </div>

            <!-- P.IVA -->
            <div class="col-4">
              <label class="f-500">{{'residence.residenceForm.piva' | translate}}*</label>
              <input type="text" class="form-control uppercase" formControlName="piva"/>
              <mat-error *ngIf="formSubmitAttempt">
                <app-form-field-error [formInput]="form.get('piva')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
              </mat-error>
            </div>

            <!-- Tax Regime -->
            <div class="col-4">
              <label class="f-500">{{'residence.residenceForm.taxRegimes' | translate}}*</label>
              <mat-select class="form-control uppercase" formControlName="taxRegim" [compareWith]="compare">
                <mat-option *ngFor="let option of taxRegimes$ | async" [value]="option">
                  {{option.description}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formSubmitAttempt">
                <app-form-field-error [formInput]="form.get('taxRegim')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
              </mat-error>
            </div>
          </div>

          <div class="row pb-2">

            <!-- Email -->
            <div class="col-4 mt-2">
              <label class="f-500">{{'residence.residenceForm.email' | translate}}*</label>
              <div class="input-group mb-3">
                <input type="email" class="form-control border-right-0 uppercase" formControlName="email"/>
                <div class="input-group-prepend">
                  <div class="input-group-text bg-white border-left-0">
                    <mat-icon matSuffix class="input-icon">alternate_email</mat-icon>
                  </div>
                </div>
              </div>
              <mat-error *ngIf="formSubmitAttempt">
                <app-form-field-error [formInput]="form.get('email')" [isFormSubmitted]="formSubmitAttempt"
                                      [min]="5" [max]="254" [patternName]="'email'">
                </app-form-field-error>
              </mat-error>
            </div>

            <!-- Phone -->
            <div class="col-4 mt-2">
              <label class="f-500">{{'residence.residenceForm.phoneNumber' | translate}}</label>
              <div class="input-group mb-3">
                <input type="number" class="form-control border-right-0 uppercase" formControlName="phoneNumber"/>
                <div class="input-group-prepend">
                  <div class="input-group-text bg-white border-left-0">
                    <mat-icon matSuffix class="input-icon">phone</mat-icon>
                  </div>
                </div>
              </div>
              <mat-error *ngIf="formSubmitAttempt">
                <app-form-field-error [formInput]="form.get('phoneNumber')" [isFormSubmitted]="formSubmitAttempt" [patternName]="'numero di telefono'"></app-form-field-error>
              </mat-error>
            </div>

            <!-- Fax -->
            <div class="col-4 mt-2">
              <label class="f-500">{{'residence.residenceForm.faxNumber' | translate}}</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control border-right-0 uppercase" formControlName="faxNumber"/>
                <div class="input-group-prepend">
                  <div class="input-group-text bg-white border-left-0">
                    <mat-icon matSuffix class="input-icon">print</mat-icon>
                  </div>
                </div>
              </div>
              <mat-error *ngIf="formSubmitAttempt">
                <app-form-field-error [formInput]="form.get('faxNumber')" [isFormSubmitted]="formSubmitAttempt" [patternName]="'numero fax'"></app-form-field-error>
              </mat-error>
            </div>
          </div>

          <div class="row">
            <!-- Predefined Drugs Service -->
            <div class="col-4">
              <label class="f-500">{{'residence.residenceForm.predefinedServiceDrug' | translate}}</label>
              <mat-select class="form-control" formControlName="predefinedServiceDrug" [compareWith]="compare">
                <mat-option *ngFor="let option of predefinedServiceDrugs$ | async" [value]="option">
                  {{option.description}}
                </mat-option>
              </mat-select>
            </div>

            <div class="col-6">
              <section class="checkbox-section">
                <div class="d-grid pt-4 pl-3">
                  <mat-checkbox class="mr-1 uppercase" formControlName="automaticMonthlyGenerationSdi" color="warn">
                    {{'residence.residenceForm.automaticMonthlySdi' | translate}}
                  </mat-checkbox>

                  <mat-checkbox class="mr-1 uppercase" formControlName="automaticGenerationSdi" color="warn">
                    {{'residence.residenceForm.automaticSdi' | translate}}
                  </mat-checkbox>
                </div>
              </section>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- CARD BILLING ADDRESS -->
    <div class="col-md-6">
      <mat-card class="h-100 box-border overflow-auto bg-off-white">
        <!-- CARD BILLING HEADER -->
        <mat-card-header class="d-flex">
          <div mat-card-avatar class="d-flex d-center">
            <mat-icon class="mat-icon-size">receipt</mat-icon>
          </div>
          <mat-card-title class="d-center">
            <div class="pt-2 font-uppercase">
              DATi di Fatturazione
            </div>
          </mat-card-title>
        </mat-card-header>

        <!-- CARD BILLING CONTENT -->
        <mat-card-content class="bg-off-white">
          <div class="row">
            <!-- ADDRESS FIELDS -->
            <ng-container formGroupName="billingAddress">
              <!-- Address -->
              <div class="col-6">
                <label class="f-500">{{'residence.residenceForm.address' | translate}}</label>
                <input type="text" class="form-control uppercase" formControlName="address"/>
              </div>

              <!-- Nation -->
              <div class="col-6">
                <label class="f-500">{{'residence.residenceForm.nation' | translate}}</label>
                <mat-select class="form-control" formControlName="nation" [compareWith]="compare">
                  <mat-option *ngFor="let option of nations$ | async" [value]="option">
                    {{option.description}}
                  </mat-option>
                </mat-select>
              </div>

              <!-- City -->
              <div class="col-6 mt-3">
                <label class="f-500">{{'residence.residenceForm.city' | translate}}</label>
                <mat-select class="form-control" formControlName="city" [compareWith]="compare">
                  <mat-option *ngFor="let option of cities$ | async" [value]="option">
                    {{option.description}}
                  </mat-option>
                </mat-select>
              </div>

              <!-- CAP -->
              <div class="col-3 mt-3">
                <label class="f-500">{{'residence.residenceForm.cap' | translate}}</label>
                <input type="text" class="form-control" formControlName="cap"/>
              </div>

            </ng-container>

            <!-- Province -->
            <!-- Province -->
            <div class="col-3 mt-3">
              <label class="f-500">{{'residence.residenceForm.province' | translate}}</label>
              <mat-select class="form-control" formControlName="province" [compareWith]="compare">
                <mat-option *ngFor="let option of provinces$ | async" [value]="option">
                  {{option.description}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formSubmitAttempt">
                <app-form-field-error [formInput]="form.get('province')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
              </mat-error>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <div class="row mt-4">
    <div class="col-12">

      <div class="d-flex justify-content-end bg-custom-gray">
        <button class="button-r mr-2 ricovera-green" mat-raised-button>
          <mat-icon class="bed text-white pt-1">navigate_next</mat-icon>
          <mat-label class="position-relative action-btn-text"> &nbsp; {{'save' | translate}} &nbsp;</mat-label>
        </button>
        <!-- Bottone per l'azione di cancellazione -->
        <button  class="button-r elimina-red" mat-raised-button>
          <mat-icon class="elimina-red-icon"></mat-icon>
          <mat-label class="position-relative action-btn-text">{{'cancel' | translate}}</mat-label>
        </button>
      </div>
    </div>
  </div>
</form>

<ng-template #loading>
  {{'residence.loadingData' | translate}}
</ng-template>
