.checkbox-section {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;

  .mat-checkbox {
    padding-left: 15px;
  }
}


.d-center{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bg-red{
  background-color: #dd553d;
}

.box-border{
  border: 1px solid #e4e4e4;
  border-radius: 9px;
}

.box-title{
  color: white;
  font-size: 19px;
  padding: 8px 0px;
  font-weight: 600;
  text-transform: uppercase;
}

.bg-off-white{
  background-color: #f6f6f6;

}

.mat-card-header{
  background: #dd553d!important;
  color: white!important;
  padding: 10px!important;
}

.mat-card{
  padding: 0px!important;
}

.mat-card-content{
  padding: 22px 18px 11px 18px!important;
}

.mat-card-header .mat-card-title{
  margin-bottom: 0px!important;
}

.mat-card-title{
  margin-bottom: 0px!important;
}

.mat-card-header-text{
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}

.mat-card-header .mat-card-header-text{
  justify-content: center!important;
  display: flex!important;
}

.checkbox-section .mat-checkbox{
  padding: 0px!important;
}

.d-grid{
  display: grid!important;
}

.overflow-auto{
  overflow: auto;
}

.mat-card:not([class*=mat-elevation-z]){
  box-shadow: none!important;
}

.font-uppercase{
  text-transform: uppercase;
}

.mat-icon-size{
  font-size: 46px;
  margin-bottom: 23px;
}

.bg-custom-gray{
  background-color: #e9e9e9;
  padding: 13px;
}


.d-font{
  font-size: 17px;
  letter-spacing: 0.2px;
  font-weight: 500;
}

.b-right{
  border-right: 3px solid #e1e1e1;
}

.icon-with-button{
  border: 1px solid #e1e1e1;
  background: #fff;
  border-radius: 6px;
  padding: 0;
  overflow: auto;
}

.icon-text{
  background: #498598;
  padding: 4px;
  display: flex;
}

.icon-text-blue{
  background: #498598;
}

.icon-text-green{
  background: #56a166;
}

.icon-font-blue{
  color: #498598;
}

.icon-font-green{
  color: #56a166;
}

.icon-text-red{
  background: #b95535;
}

.icon-font-red{
  color: #b95535;
}

.icon-font{
  padding: 4px 12px;
  display: flex;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.2px;
}


.ricovera-green {
  padding: 0;
  border: 1px solid #609970;
  color: #609970;
  height: 32px;
}

.ricovera-lista-blue {
  padding: 0;
  border: 1px solid #4A8397;
  color: #4A8397;
  height: 32px;
}

.elimina-red {
  padding: 0;
  border: 1px solid #B7562C;
  color: #B7562C;
  height: 32px;
}

.elimina-red-icon {
  background-image: url('../../../../../assets/icon/cross-cirlce.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position-x: 11px;
  background-position-y: 7px;
  background-color: #B7562C;
  height: 31px;
  width: 39px;
  margin-top: -0.3em;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.elimina-red mat-label, .ricovera-green mat-label, .ricovera-lista-blue mat-label {
  padding-left: 10px;
  padding-right: 10px;
}

.bed {
  // background-image: url('../../../../../assets/icon/bed.svg');
  background-repeat: no-repeat;
  background-size: 26px;
  background-position-x: 7px;
  background-position-y: 6px;
  background-color: #609970;
  height: 31px;
  width: 39px;
  margin-top: -0.3em;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.action-btn-text{
  font-size: 15px!important;
  top: -3px!important;
}

.f-500{
  font-weight: 500;
}

.input-icon{
  font-size: 23px;
}

.min-h-37p {
  min-height: 37px;
  max-height: 37px;
}

.uppercase {
  text-transform: uppercase;
}
