<form [formGroup]="form" (ngSubmit)="onSubmit()" id="{{formId}}" size="1500">
  <div class="row mt-2">
    <div class="col">
      <!-- Nome -->
      <div class="row pli-8">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input oninput="this.value = this.value.toUpperCase()" matInput placeholder="Nome" autocomplete="off" formControlName="firstName" required>
            <mat-error *ngIf="formSubmitAttempt">
              <app-form-field-error [formInput]="form.get('firstName')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
            </mat-error>
          </mat-form-field>
        </div>
      <!-- Cognome -->
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Cognome</mat-label>
            <input oninput="this.value = this.value.toUpperCase()" matInput placeholder="Cognome" autocomplete="off" formControlName="lastName" required>
            <mat-error *ngIf="formSubmitAttempt">
              <app-form-field-error [formInput]="form.get('lastName')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row pli-8">
        <div class="col-md-6">
          <!-- Codice Fiscale -->
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>{{'registry.form.fiscalCode' | translate}}</mat-label>
            <input  oninput="this.value = this.value.toUpperCase()" matInput autocomplete="off"
                   formControlName="fiscalCode"  [required]="this.form.get('isResponsible')?.value == true" placeholder="Codice Fiscale">
            <mat-error *ngIf="formSubmitAttempt">
              <app-form-field-error [formInput]="form.get('fiscalCode')" [isFormSubmitted]="formSubmitAttempt"
                                    [patternName]="'codice fiscale'"></app-form-field-error>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Parentela -->
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Parentela</mat-label>
            <mat-select formControlName="kinship" required>
              <mat-option value="Coniuge">CONIUGE</mat-option>
              <mat-option value="Figlio/a">FIGLIO/A</mat-option>
              <mat-option value="Nuora">NUORA</mat-option>
              <mat-option value="Genero">GENERO</mat-option>
              <mat-option value="Fratello">FRATELLO</mat-option>
              <mat-option value="Sorella">SORELLA</mat-option>
              <mat-option value="Nipote">NIPOTE</mat-option>
              <mat-option value="Madre">MADRE</mat-option>
              <mat-option value="Padre">PADRE</mat-option>
              <mat-option value="Tutore">TUTORE</mat-option>
              <mat-option value="Amministratore di sostegno">AMMINISTRATORE DI SOSTEGNO</mat-option>
              <mat-option value="Altro">ALTRO</mat-option>
            </mat-select>
            <mat-error *ngIf="formSubmitAttempt">
              <app-form-field-error [formInput]="form.get('kinship')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>



      <div class="row pli-8">
        <div class="col-md-6">
          <!-- Mobile -->
          <mat-form-field appearance="outline">
            <mat-label>Cellulare</mat-label>
            <input prefix="+39" mask="000 00000000" [required]="!form.get('landingPhone')?.value" matInput autocomplete="off" formControlName="mobilePhone">
            <mat-error *ngIf="formSubmitAttempt">
              <app-form-field-error [formInput]="form.get('mobilePhone')" [isFormSubmitted]="formSubmitAttempt"
                                    [patternName]="'numero di cellulare'"></app-form-field-error>
            </mat-error>
          </mat-form-field>

        </div>
        <div class="col-md-6">
          <!-- Phone -->
          <mat-form-field appearance="outline">
            <mat-label>Telefono fisso</mat-label>
            <input type="text" pattern="[0-9]*" [required]="!form.get('mobilePhone')?.value" matInput placeholder="Telefono Fisso" autocomplete="off" formControlName="landingPhone">
            <mat-error *ngIf="formSubmitAttempt">
              <app-form-field-error [formInput]="form.get('landingPhone')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
            </mat-error>
          </mat-form-field>
        </div>

      </div>
      <!-- Email -->
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput  type="email" oninput="this.value = this.value.toUpperCase()" placeholder="Email" autocomplete="off" formControlName="email">
        <mat-icon matSuffix>alternate_email</mat-icon>
        <mat-error *ngIf="formSubmitAttempt">
          <app-form-field-error [formInput]="form.get('email')"
                                [isFormSubmitted]="formSubmitAttempt" [patternName]="'e-mail'"></app-form-field-error>
        </mat-error>
      </mat-form-field>

      <div class="row pli-8">
      <!-- Province -->
        <div class="col-md-6">
          <app-virtual-scroll-autocomplete
            [formFieldClass]="'w-100'"
            [required]="this.form.get('isResponsible')?.value == true"
            [label]="'family.form.province' | translate"
            [options]="provinces$"
            [control]="formControl('province')"
            [optionKey]="'description'"
            [isAllUpperCase]="true"
            [filterKey]="'description'">
          </app-virtual-scroll-autocomplete>
          <mat-error *ngIf="formSubmitAttempt">
            <app-form-field-error [formInput]="form.get('province')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
          </mat-error>
        </div>
        <div class="col-md-6">
          <!-- Birth place -->
          <app-virtual-scroll-autocomplete
            [formFieldClass]="'w-100'"
            [required]="this.form.get('isResponsible')?.value == true"
            [label]="'family.form.birthPlace' | translate"
            [options]="cities$"
            [control]="birthPlaceFormControl()"
            [optionKey]="'description'"
            [isAllUpperCase]="true"
            [filterKey]="'description'">
          </app-virtual-scroll-autocomplete>
          <mat-error *ngIf="formSubmitAttempt">
            <app-form-field-error [formInput]="form.get('birthPlace')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
          </mat-error>
        </div>
      </div>


      <div class="row pli-8">
        <div class="col-md-6">
            <!-- Indirizzo -->
            <mat-form-field appearance="outline">
              <mat-label>Indirizzo</mat-label>
              <input oninput="this.value = this.value.toUpperCase()" matInput placeholder="Indirizzo completo" autocomplete="off" formControlName="address"  [required]="this.form.get('isResponsible')?.value == true">
              <mat-error *ngIf="formSubmitAttempt">
                <app-form-field-error [formInput]="form.get('address')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
              </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <!-- CAP -->
            <mat-form-field appearance="outline">
              <mat-label>{{'family.form.cap' | translate}}</mat-label>
              <input mask="00000" oninput="this.value = this.value.toUpperCase()" matInput formControlName="cap"  [required]="this.form.get('isResponsible')?.value == true" placeholder="CAP">
              <mat-error *ngIf="formSubmitAttempt">
                <app-form-field-error [formInput]="form.get('cap')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
              </mat-error>
            </mat-form-field>
        </div>
      </div>


      <mat-checkbox color="warn"
                    formControlName="isResponsible">
        <mat-label>Coobbligato in solido</mat-label>
      </mat-checkbox>
    </div>
  </div>
</form>


