@import "~styles/cards";

.data-table {
  //width: 100%;
  //margin: 20px auto;
}

.mat-paginator {
  display: flex;
  justify-content: center;
}

//CSS per la sezione della Tabella
tr.example-element-row:hover {
  background: whitesmoke;
}

.button-r {
  border-radius: 10px !important;
}

//Per mettere tutto al centro all'interno delle tabelle
th.mat-header-cell,
th.mat-sort-header,
td.mat-cell {
  text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

th {
  font-weight: bolder;
  font-size: 15px;
  //font-size: large;
}

td, th {
  border: #888888;
  border-width: 1px;
  border-style: solid;
}

.td-patient, .th-patient {
  width: 20%;
}

.td-other-information, .th-other-information {
  width: 22%;
}

.td-totals, .th-totals {
  width: 23%;
}

.td-presents, .th-presents {
  width: 33%;
}

.uppercase {
  text-transform: uppercase;
}

.mat-form-field {
  display: block;
  font-size: 15px;
  margin-bottom: 1%;
  font-weight: 500;
}
