<div class="d-flex justify-content-between">
  <div>
    <div class="d-flex justify-content-start">
      <div>
        <p>Data Autorizzazione:</p>
        <p>Stato:</p>
      </div>
      <div class="ml-4">
        <p><strong>{{assistanceProject?.authDate | date: 'dd/MM/YYYY'}}</strong></p>
        <p><strong>{{assistanceProject?.status?.description}}</strong></p>
      </div>
    </div>
  </div>

  <div>
    Nr: <strong>{{assistanceProject?.authNumber}}</strong>
  </div>
</div>

<div class="row mt-2 p-2 bg-whitesmoke rounded rounded-lg align-items-center">
  <div class="col-2">
    <div>
      <strong>Prescrizione</strong>
      <div class="ml-3">
        <p>Nr: <strong>{{assistanceProject?.performanceType?.code}} {{assistanceProject?.performanceType?.description}}</strong></p>
        <p>Data: <strong>{{assistanceProject?.prescriptionDate | date: 'dd/MM/YYYY'}}</strong></p>
      </div>
    </div>

    <div class="mt-4">
      <strong>Trattamento</strong>
      <div class="ml-3">
        <p>Inizio: <strong>{{assistanceProject?.treatmentStrDate | date: 'dd/MM/YYYY'}}</strong></p>
        <p>Fine: <strong>{{assistanceProject?.treatmentEndDate | date: 'dd/MM/YYYY'}}</strong></p>
      </div>
    </div>
  </div>

  <!-- Quotes -->
  <div class="col mx-3">
    <div class="row">
      <div class="float-left">
        Trattamento Attivo: <strong>{{assistanceProject?.treatment}}</strong>
      </div>
    </div>

    <div class="row mt-4">
      <!-- Q-QUOT -->
      <div class="col">
        <mat-card>
          <mat-card-header>
            <mat-card-title class="font-weight-bold">Q.QUOT</mat-card-title>
          </mat-card-header>
          <mat-card-content class="text-center font-weight-bolder">
            {{assistanceProject?.dailyFee | number: '1.2-2'}} €
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Q-ASL -->
      <div class="col">
        <mat-card>
          <mat-card-header>
            <mat-card-title class="font-weight-bold">Q.ASL</mat-card-title>
          </mat-card-header>
          <mat-card-content class="text-center font-weight-bolder">
            {{assistanceProject?.aslPercentFee}} %
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Q-Comune -->
      <div class="col">
        <mat-card>
          <mat-card-header>
            <mat-card-title class="font-weight-bold">Q.Comune</mat-card-title>
          </mat-card-header>
          <mat-card-content class="text-center font-weight-bolder">
            {{assistanceProject?.cityPercentFee}} %
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Q-Utente -->
      <div class="col">
        <mat-card>
          <mat-card-header>
            <mat-card-title class="font-weight-bold">Q.Utente</mat-card-title>
          </mat-card-header>
          <mat-card-content class="text-center font-weight-bolder">
            {{assistanceProject?.userPercentFee}} %
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>

  <!-- Action column -->
  <div class="col-2">
  
  	<!-- Download UVI button -->
    <ng-container *ngIf="assistanceProject?.file">
      <button class="btn btn-block rounded mat-elevation-z8 mb-3" mat-raised-button (click)="onDownloadClick(assistanceProject)">
        <mat-icon fontSet="material-icons-outlined">{{rowActionIcons?.download}}</mat-icon>
        <mat-label>{{'assistanceProjects.downloadUVI' | translate}}</mat-label>
      </button>
    </ng-container>
    <!-- Edit button -->
    <ng-container *ngIf="rowActionIcons?.edit && isEditable">
      <button class="btn btn-block rounded mat-elevation-z8" mat-raised-button (click)="emitEditAction(assistanceProject)">
        <mat-icon>{{rowActionIcons?.edit}}</mat-icon>
        <mat-label>{{'edit' | translate}}</mat-label>
      </button>
    </ng-container>

    <!-- Delete button -->
    <ng-container *ngIf="rowActionIcons?.delete && isEditable">
      <button class="btn btn-block rounded mat-elevation-z8 mt-3" mat-raised-button color="warn" (click)="emitDeleteAction(assistanceProject)">
        <mat-icon>{{rowActionIcons?.delete}}</mat-icon>
        <mat-label>{{'delete' | translate}}</mat-label>
      </button>
    </ng-container>
  </div>
</div>
