@import "~app/shared/components/generic-table/generic-table.component";

td {
  border-bottom-width: 0;
}

.button-r {
  border-radius: 8px !important ;
}

.mat-row  {
  text-align: center;
}

th.mat-header-cell,
th.mat-sort-header,
td.mat-cell:not(.mat-column-expandedDetails) {
  text-align: center;
  padding-block: 15px;
}



tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  text-align: left;
  //display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-header-row {
  background-color: #A8A8A8 !important;
}

.mat-header-row th {
  color: #fff;
  font-weight: 400;
}

::ng-deep tbody tr:nth-child(4n+1) {
  background-color: #E9E9E9;
}

::ng-deep td.mat-column-Nome-Ospite, ::ng-deep td.mat-column-Cognome-Ospite {
  font-weight: 600 !important;
}

.expandIcon {
  font-size: 3em;
  color: darkgray;
}

::ng-deep .assistance th:not(:last-child) .mat-sort-header-container.mat-focus-indicator {
  border-right: 1px solid;
  height: 28px;
}

.assistance tr:nth-child(2n+1) td {
  font-weight: 500;
}

::ng-deep .assistance .mat-column-Ospite {
  width: 25%;
}

::ng-deep .assistance th:last-child {
  width: 7%;
}

.assistance td {
  font-weight: 500;
}
