<ng-container>
  <div class="mat-elevation-z24 data-table mx-auto">
    <div class="row">
      <!-- Table DA Date Filter   -->
      <ng-container>
        <div class="col-4" style="margin-top: 10px;">
          <div class="input-form">
            <mat-label>{{('CERCA' | translate)}}</mat-label>
            <mat-form-field class="p-3">
              <input matInput (keyup)="applyFilter($event)" class="search-input">
            </mat-form-field>
          </div>
        </div>
      </ng-container>
      
      <ng-container>
        <div class="col-2">
          <mat-form-field class="p-3">
            <mat-label>{{'DA' | translate}}</mat-label>
            <input matInput [matDatepicker]="pickerDa" (dateChange)="dateChange($event, 'treatmentStartDate')"
                   (dateInput)="dateChange($event, 'treatmentStartDate')">
            <mat-datepicker-toggle matSuffix [for]="pickerDa"></mat-datepicker-toggle>
            <mat-datepicker #pickerDa></mat-datepicker>
          </mat-form-field>
        </div>
      </ng-container>

      <!-- Table A Date Filter   -->
      <ng-container>
        <div class="col-2">
          <mat-form-field class="p-3">
            <mat-label>{{'A' | translate}}</mat-label>
            <input matInput [matDatepicker]="pickerA" (dateChange)="dateChange($event, 'treatmentEndDate')">
            <mat-datepicker-toggle matSuffix [for]="pickerA"></mat-datepicker-toggle>
            <mat-datepicker #pickerA></mat-datepicker>

          </mat-form-field>
        </div>
      </ng-container>

      <!-- Auth Number Filter   -->
      <ng-container>
        <div class="col-2">
          <mat-form-field class="p-3">
            <mat-label>{{'assistanceProjects.assistanceProjectForm.authNumber' | translate}}</mat-label>
            <input matInput type="number" (keyup)="applyAuthNumberFilter($event)"/>
          </mat-form-field>
        </div>
      </ng-container>

      <!-- Table Status Filter -->
      <ng-container>
        <div [formGroup]="statusFormGroup" class="col-2">

          <mat-form-field class="p-3">
            <mat-label>{{'assistanceProjects.assistanceProjectForm.status' | translate}}</mat-label>
            <mat-select formControlName="status" (selectionChange)="onStatusSelection()" [value]="selectectedStatus">
              <mat-option>---</mat-option>
              <mat-option *ngFor="let assistanceProjectStatus of assistanceProjectStatues$ | async" [value]="assistanceProjectStatus">
                {{assistanceProjectStatus.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="mat-elevation-z24 data-table mt-4 assistance">
    <!-- Table -->
    <table mat-table [dataSource]="tableDataSource" matSort multiTemplateDataRows>
      <!-- data columns -->
      <ng-container *ngFor="let tableColumn of tableColumns" [matColumnDef]="tableColumn.name">
        <!-- if sortable column header -->
        <ng-container *ngIf="tableColumn.isSortable; else notSortable">
          <th mat-header-cell *matHeaderCellDef
              [mat-sort-header]="tableColumn.name"
              [class.text-right]="tableColumn.position == 'right'"
              [class.text-center]="tableColumn.position == 'center'"
              [style.width]="tableColumn?.columnWidth ? tableColumn.columnWidth : ''"
              [arrowPosition]="tableColumn.position === 'right' ? 'before' : 'after'">
            {{tableColumn.name | uppercase}}
          </th>
        </ng-container>

        <!-- else not sortable -->
        <ng-template #notSortable>
          <th mat-header-cell *matHeaderCellDef
              [class.text-right]="tableColumn.position == 'right'"
              [class.text-center]="tableColumn.position == 'center'">
            {{tableColumn.name | uppercase}}
          </th>
        </ng-template>

        <!-- column data -->
        <td mat-cell *matCellDef="let element" [class.text-right]="tableColumn.position == 'right'" [class.text-center]="tableColumn.position == 'center'">
          {{tableColumn.isDate ? (resolve(tableColumn.dataKey, element) | date: 'dd/MM/YYYY') : resolve(tableColumn.dataKey, element) | translate | uppercase}}
          <mat-icon *ngIf="tableColumn.dataKey=='expand' && element == expandedElement" class="expandIcon">arrow_drop_down</mat-icon>
          <mat-icon *ngIf="tableColumn.dataKey=='expand' && element != expandedElement" class="expandIcon">arrow_right</mat-icon>
        </td>

      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetails">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <ng-container *ngFor="let assistanceProject of element.assistanceProjects">
              <div class="m-3 p-4 border border-dark rounded-lg">
                <app-assistance-project-history-details
                  [assistanceProject]="assistanceProject"
                  [rowActionIcons]="{download: 'file_download_outline', edit: 'edit', delete: 'delete_outline', position: 'center'}"
                  [period]="period"
                  (ngEdit)="emitEditAction(assistanceProject)"
                  (ngDelete)="emitDeleteAction(assistanceProject)"
                  (ngDownloadUVI)="emitDownloadAction(assistanceProject)">
                </app-assistance-project-history-details>
              </div>
            </ng-container>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
          [class.expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>

      <tr mat-row *matRowDef="let row; columns: ['expandedDetails']" class="detail-row"></tr>

      <!-- No data row -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [colSpan]="displayedColumns.length">{{'noData' | translate}}</td>
      </tr>
    </table>

    <!-- Pagination -->
    <mat-paginator #paginator
                   [pageSizeOptions]="paginationSizes"
                   [pageSize]="defaultPageSize"
                   showFirstLastButtons>
    </mat-paginator>

  </div>
</ng-container>
