#guest_selected_foto > img {
  border-radius: 12% !important;
  border: 2px solid #0075FF;
}

::ng-deep app-guest-menu .row {
  margin-top: -10px;
}

.guest-top-panel {
  width: 80%;
}

.guest-top-panel label {
  margin-bottom: 0px !important;
}

.margin-left-30 {
  margin-left: 30px;
}

.details-txt {
  width: 75%;
  background-color: #f7f6f7;
  border: 2px solid #e9e9e9;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: -13px;
}

.details-txt .nome {
  width: 30%;
  height: 55px;
  border-right: 2px solid #e9e9e9;
  gap: 5px;
}

.details-txt .codiceFiscale, .details-txt .age, .details-txt .empty {
  font-size: 17px;
  font-weight: normal;
  height: 55px;
  border-right: 2px solid #e9e9e9;
}

.details-txt .codiceFiscale {
  width: 42%;
  text-align: center;
}

.details-txt .age {
  width: 25%;
}

.details-txt .empty {
  width: 10px;
}

.gray-label {
  color: #939192;
}

.black-label {
  color: #000;
}

::ng-deep .nav-pos {
  min-height: 50px;
  padding-left: 157px;
  margin-top: -41px;
  box-shadow: none !important;
}

::ng-deep .nav-pos .container {
  max-width: 100%;
  padding-left: 0px;
}

::ng-deep .theme-white {
  background-color: #fff !important;
}

.nav-link {
  font-size: 18px;
  font-weight: 400;
  color: #fff !important;
}

.nav-item {
  background-color: #4D4D4D !important;
  max-height: 31px;
  margin-right: 2px;
}

.nav-item.active {
  background-color: #dd553d !important;
}

.nav-item.active .nav-link {
  background-color: transparent !important;
}

.nav-item .nav-link {
  padding: 0.3rem 1rem 0.3rem 1rem;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -1px;
}

.btn-block {
  width: 20%;
  display: flex;
  align-items: center;
  place-content: flex-end;
}


.arrow-icon {
  height: 20px  !important;
  width: 20px  !important;
}

::ng-deep .guest-menu-card {
  padding: 0px;
  box-shadow: none !important;
}

::ng-deep .mat-sidenav-content {
  background-color: #fff;
}

.femmina-img {
  width: 30px;
  margin-top: -8px;
}

.editBtn {
  padding: 0;
  //border: 1px solid #59A066;
  color: #59A066;
  height: 31px;
  margin-top: 8px;
  max-width: 174px;
  border-radius: 8px !important;
}

.editBtn .editIcon {
  background-color: #59A066;
  color: #fff;
  height: 31px;
  width: 39px;
  margin-left: -54px;
  margin-top: -0.3em;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-top: 5px;
  font-size: 20px;
}

.editBtn mat-label, .dimetti-btn mat-label {
  padding-left: 20px;
  margin-right: -20px;
}

.dimetti-btn {
  padding: 0;
  color: #dc3545;
  height: 31px;
  margin-top: 8px;
  max-width: 174px;
  border-radius: 8px !important;
}

.dimetti-btn .arrow-icon {
  height: auto !important;
  background-color: #dc3545;
  color: #fff;
  height: 31px !important;
  width: 39px !important;
  margin-left: -54px;
  margin-top: -0.3em;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-top: 5px;
  font-size: 20px;
}
