<div class="row">
  <div class="col-12">
    <mat-card class="guest-menu-card">
      <mat-card-content *ngIf="guest" style="display: flex;">
        <div class="guest-top-panel d-flex align-items-center">
          <span id="guest_selected_foto">
              <img src="{{guest.picContent ? guest.picContent : 'assets/img/blank-avatar.png'}}" height="150px" width="150px" style="border-radius: 50%;{{guest.sex ? '' : 'border: 2px solid #FDAFBB;'}}">
          </span>
          <div class="d-flex align-items-center details-txt">
            <div class="d-flex align-items-center nome">
              <label id="j_idt263" class="margin-left-30" style="font-size: 20px;">{{guest.firstName | uppercase}} {{guest.lastName | uppercase}}</label>
              <img class="{{guest.sex ? '' : 'femmina-img'}}" src="{{guest.sex ? 'assets/img/maschio.svg' : 'assets/img/femmina.svg'}}">
            </div>
            <div class="d-flex align-items-center justify-content-center codiceFiscale">
              <label class="gray-label">Codice Fiscale: <span class="black-label">{{guest.fiscalCode | uppercase}}</span></label>
            </div>
            <div class="d-flex align-items-center justify-content-center age">
              <label class="gray-label">Età: <span class="black-label">{{getAge(guest.birthDate)}}</span></label>
            </div>
            <div class="d-flex empty"></div>
          </div>
        </div>
        <div class="btn-block">
          <!-- Dismiss button -->
          <button mat-raised-button type="submit" style="float: right;width: 140px;" *ngIf="isDismiss"
                  class="btn rounded mat-elevation-z8 mb-3 button-r dimetti-btn" (click)="changeDismiss()">
          <mat-icon class="mr-1 arrow-icon">arrow_back</mat-icon>
            <mat-label>Dimetti</mat-label>
          </button>

          <!-- Modifica button -->
          <button mat-raised-button type="submit" style="float: right;width: 140px;" *ngIf="isEdited"
                  class="btn rounded mat-elevation-z8 mb-3 button-r editBtn" (click)="changeModifica()">
            <mat-icon class="mr-1 editIcon">edit</mat-icon>
            <mat-label>Modifica</mat-label>
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark nav-pos">

  <!-- Collapsible content -->
  <links>
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item {{selectedMenu==1 ? 'active' : ''}}" (click)="setSelectedMenu(1)">
              <a class="nav-link waves-light" mdbWavesEffect>{{'Scheda Ospite' | uppercase}}</a>
          </li>
          <li class="nav-item {{selectedMenu==2 ? 'active' : ''}}" (click)="setSelectedMenu(2)">
              <a class="nav-link waves-light" mdbWavesEffect>{{'Impegnative' | uppercase}}</a>
          </li>
        <li class="nav-item {{selectedMenu==3 ? 'active' : ''}}" (click)="setSelectedMenu(3)">
          <a class="nav-link waves-light" mdbWavesEffect>{{'Presenze' | uppercase}}</a>
        </li>
      </ul>
      <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
