@import "~styles/cards";

::ng-deep .data-table {
  width: 100%;
  margin: 20px auto;
}

//Cambio colore stepper
::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: rgba(219, 53, 53, 1);
}

//CSS per la sezione della Tabella

.full-width-table {
  width: 100%;
}

.data-table {
  width: 100%;
}

/* Structure */
table {
  width: 100%;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

.example-element-row td {
  border-bottom-width: 0;
}

mat-cell {
  display: flex !important;
  justify-content: center !important;

}

mat-header-cell {
  display: flex;
  justify-content: center;
}

.button-r {
  border-radius: 8px !important;
}

//Per mettere tutto al centro all'interno delle tabelle

th.mat-header-cell,
th.mat-sort-header,
td.mat-cell {
  text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.stepper-with-no-click ::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

th {
  font-weight: bolder;
  font-size: large;
}

td, th {
  width: 10%;
}

.uppercase {
  text-transform: uppercase;
}

::ng-deep .width-100 {
  width: 100% !important;
  margin-top: 20px !important;
}

::ng-deep .mat-calendar-header {
  color: #e23730;
}

::ng-deep .mat-calendar-arrow {
  border-top-color: #e23730;
}

::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: transparent;
}

.red-btn {
  background-color: #e23730;
  color: #fff;
}

::ng-deep .mat-calendar-period-button {
  margin-left: auto;
  margin-right: auto;
}

::ng-deep .no-year .mat-calendar-controls, ::ng-deep .no-year .mat-calendar-table-header-divider::after {
  display: none !important;
}

.calendar-header-text {
  margin-top: 8px;
  font-weight: 500;
  font-size: 22px;
  color: #e23730;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

::ng-deep .mat-calendar-table-header th {
  font-size: 17px;
  font-weight: 500;
  color: #e23730;
}

::ng-deep .mat-calendar-body-label {
  opacity: 0;
}

::ng-deep mat-calendar .no-year .mat-calendar-body-selected {
  background-color: transparent;
  color: rgba(0, 0, 0, .87);
}

::ng-deep mat-calendar .no-year .mat-calendar-body .mat-focus-indicator {
  background-color: transparent !important;
}

::ng-deep mat-calendar .mat-calendar-body-cell::before, ::ng-deep .mat-calendar-body-cell::after, ::ng-deep .mat-calendar-body-cell-preview {
  top: 60% !important;
  height: 23% !important;
}

::ng-deep mat-calendar .mat-calendar-body-cell.selected.red-bar .mat-calendar-body-cell-preview {
  background-color: #FF647C !important;
}

::ng-deep mat-calendar .mat-calendar-body-cell.selected.yellow-bar .mat-calendar-body-cell-preview {
  background-color: #FFCF5C !important;
}

::ng-deep mat-calendar .mat-calendar-body-cell.selected.start .mat-calendar-body-cell-preview {
  left: 5%;
  width: 95%;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}

::ng-deep mat-calendar .mat-calendar-body-cell.selected.end .mat-calendar-body-cell-preview {
  width: 95%;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}

::ng-deep mat-calendar:not(.no-year) .mat-calendar-body-active .mat-calendar-body-cell-content {
  background-color: #e23730 !important;
}

::ng-deep .g-guest-btns {
  position: fixed;
  bottom: 0;
  width: calc(100% - 300px);
  margin-left: -24px;
  z-index: 1;

  .mat-button-wrapper mat-label {
    margin-top: 0px !important;
  }
}


@import '~styles/cards';

//.mat-form-field {
//  display: block;
//  font-size: 14px;
//  margin-bottom: 1%;
//}

:host ::ng-deep .mat-form-field {
  display: block;
  font-size: 14px;
  margin-bottom: 2%;
}


.img-block {
  flex-direction: row;
  display: flex;
}

::ng-deep app-attendance-summary {
  .mat-stepper-horizontal {
    margin-top: 30px;
  }

  .mat-step-icon:not(.mat-step-icon-state-error).mat-step-icon-state-number .mat-step-icon-content {
    display: none;
  }

  .mat-step-icon.mat-step-icon-state-number, .mat-step-icon.mat-step-icon-state-error {
    width: 100px;
    border-radius: 0px;
    border: 1px solid #db3535;
    background-color: #fff;
    color: #db3535;
    width: 150px;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .mat-step-icon.mat-step-icon-state-error .mat-step-icon-content {
    left: 23% !important;
  }

  .mat-step-label-error {
    height: 28px;
    padding-left: 23px;
  }

  .mat-step-label-error .mat-step-text-label {
    height: 15px;
    font-size: 13px;
  }

  .mat-step-sub-label-error {
    margin-top: -5px;
  }

  .mat-step-icon.mat-step-icon-state-number.mat-step-icon-selected {
    background-color: #dd553d;
  }

  .mat-step-label.mat-step-label-active {
    position: absolute;
    color: #dd553d !important;
  }

  .mat-step-label.mat-step-label-active.mat-step-label-selected {
    color: #fff !important;
  }

  .mat-stepper-horizontal-line {
    display: none;
  }

  .mat-step-header {
    padding-right: 0px;
    padding-left: 15px;
    height: 24px;
    justify-content: center;
    margin-bottom: -1px;
  }

  .mat-step-header:first-child {
    padding-left: 1px;
  }

  .mat-horizontal-stepper-header-container {
    border-bottom: 2.5px solid #dd553d;
    margin-left: 2px;
  }

  .mat-horizontal-stepper-header .mat-step-icon {
    margin-right: 0px;
  }

  .mat-horizontal-content-container {
    padding-left: 0;
    padding-right: 5px;
    margin-left: -5px;
  }

  .anagrafica-card, .identifier-card {
    box-shadow: none !important;
    border: 2px solid #e9e9e9;
    border-top: none;

    .mat-card-header {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
      background-color: #fff;
      border: 2px solid #DEDEDE;
      border-radius: 5px;
      color: transparent;
    }

    .mat-form-field-appearance-outline .mat-form-field-flex {
      height: 40px;
    }

    .mat-form-field-infix {
      padding-top: 0.1em;
    }

    .icon-rescale {
      transform: scale(0.8);
    }

    .profile {
      background-image: url('../../../assets/icon/profile.png');
      background-repeat: no-repeat;
      background-size: 38px;
      background-position-y: -2px;
      height: 35px;
      width: 38px;
    }

    .google-docs {
      background-image: url('../../../assets/icon/google-docs.png');
      background-repeat: no-repeat;
      background-size: 32px;
      background-position-y: 1px;
      height: 35px;
      width: 38px;
    }

    .attachment {
      background-image: url('../../../assets/icon/attachment.png');
      background-repeat: no-repeat;
      background-size: 30px;
      background-position-y: 2px;
      height: 35px;
      width: 38px;
    }

    .mat-card-title {
      display: flex;
      margin-bottom: -2px !important;
      margin-top: -2px !important;
      align-items: center;
      gap: 30px;
    }
  }

  .g-guest-btns {
    background-color: #e9e9e9;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .g-guest-btns .cancel-btn {
    padding: 0;
    border: 2px solid #D7D7D7;
    color: #ba5633;
    background-color: #fff;
    height: 32px;
    line-height: initial;
    border-radius: 4px !important;
    box-shadow: none;
    border-left: none;
  }

  .g-guest-btns .salva-btn {
    padding: 0;
    border: 2px solid #D7D7D7;
    color: #56a265;
    background-color: #fff;
    height: 32px;
    line-height: initial;
    border-radius: 4px !important;
    box-shadow: none;
    border-left: none;
  }

  .g-guest-btns .next-btn {
    padding: 0;
    border: 2px solid #D7D7D7;
    color: cornflowerblue;
    background-color: #fff;
    height: 32px;
    line-height: initial;
    border-radius: 4px !important;
    box-shadow: none;
    border-left: none;
  }

  .g-guest-btns .prev-btn {
    padding: 0;
    border: 2px solid #D7D7D7;
    color: cornflowerblue;
    background-color: #fff;
    height: 32px;
    line-height: initial;
    border-radius: 4px !important;
    box-shadow: none;
    border-left: none;
  }

  .g-guest-btns .next {
    background-image: url('../../../assets/icon/next.svg');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 7px;
    background-position-y: 5px;
    background-color: cornflowerblue;
    height: 30px;
    width: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: -1px;
  }

  .g-guest-btns .prev {
    background-image: url('../../../assets/icon/next.svg');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 7px;
    background-position-y: 5px;
    background-color: cornflowerblue;
    height: 30px;
    width: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: -1px;
  }

  .g-guest-btns .cancel {
    background-image: url('../../../assets/icon/cancel.png');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 7px;
    background-position-y: 5px;
    background-color: #ba5633;
    height: 30px;
    width: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: -1px;
  }

  .g-guest-btns .check {
    background-image: url('../../../assets/icon/check.png');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 7px;
    background-position-y: 5px;
    background-color: #56a265;
    height: 30px;
    width: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: -1px;
  }

  .cancel-btn mat-label, .salva-btn mat-label, .ricovera-btn mat-label {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
  }

  .g-guest-btns .ricovera-btn {
    padding: 0;
    border: 2px solid #D7D7D7;
    color: #56a265;
    background-color: #fff;
    height: 32px;
    line-height: initial;
    border-radius: 4px !important;
    box-shadow: none;
    border-left: none;
  }

  .g-guest-btns .bed {
    background-image: url('../../../assets/icon/bed.svg');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 7px;
    background-position-y: 6px;
    background-color: #609970;
    height: 30px;
    width: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: -1px;
  }
}

mat-card-content {
  background-color: #F6F6F6;
}

.identifier-card {
  background-color: #F6F6F6;
}

.note-card {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #fff;
    border: 2px solid #DEDEDE;
    border-radius: 5px;
    color: transparent;
  }

  .mat-form-field-appearance-outline .mat-form-field-flex {
    height: 40px;
  }

  .mat-form-field-infix {
    padding-top: 0.1em;
  }

  .google-docs {
    background-image: url('../../../assets/icon/google-docs.png');
    background-repeat: no-repeat;
    background-size: 32px;
    background-position-y: 1px;
    height: 35px;
    width: 38px;
  }

  .mat-card-title {
    display: flex;
    margin-bottom: -2px !important;
    margin-top: -2px !important;
    align-items: center;
    gap: 30px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.retrieve-btn {
  padding: 0;
  color: #59A066;
  height: 31px;
  margin-top: 8px;
  max-width: 174px;
  border-radius: 8px !important;
  line-height: initial;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.archived {
  color: #59A066;
  font-weight: bold;
}

.full-width-table {
  width: 100%;
}

.data-table {
  width: 99%;
  margin: 5px auto;
  border-radius: 5px;
}

.groupedHeader {
  background-color: #dd553d;
  color: white;
}

/* Structure */
table {
  width: 100%;
}

th {
  font-weight: bolder;
  font-size: large;
}

.mat-form-field {
  font-size: medium;
  width: 100%;
}

td, th {
  width: 15%;
}

.td-actions {
  width: 22%;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

.example-element-row td {
  border-bottom-width: 0;
}

.button-r {
  border-radius: 8px !important ;
}

//Per mettere tutto al centro all'interno delle tabelle

th.mat-header-cell,
th.mat-sort-header,
td.mat-cell {
  text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  margin-left: 1rem;
  justify-content: center;
}

.bed {
  background-image: url('../../../assets/icon/bed.svg');
  background-repeat: no-repeat;
  background-size: 26px;
  background-position-x: 7px;
  background-position-y: 6px;
  background-color: #609970;
  height: 31px;
  width: 39px;
  margin-top: -0.3em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.clipboard {
  background-image: url('../../../assets/icon/clipboard.svg');
  background-repeat: no-repeat;
  background-size: 21px;
  height: 30px;
  width: 30px;
}

.clipboard-btn {
  background-image: url('../../../assets/icon/clipboard.svg');
  background-repeat: no-repeat;
  background-size: 14px;
  background-position-x: 12px;
  background-position-y: 6px;
  background-color: #4A8397;
  height: 31px;
  width: 39px;
  margin-top: -0.3em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.groupedHeader {
  text-align: left !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mat-header-row:not(.groupedHeader) {
  background-color: #A8A8A8;
}

.mat-header-row:not(.groupedHeader) th {
  color: #fff;
}

tr:nth-child(odd) {
  background-color: #E9E9E9;
}

.ricovera-green {
  padding: 0;
  border: 1px solid #609970;
  color: #609970;
  height: 32px;
}

.ricovera-lista-blue {
  padding: 0;
  border: 1px solid #4A8397;
  color: #4A8397;
  height: 32px;
}

.elimina-red {
  padding: 0;
  border: 1px solid #dd553d;
  color: #dd553d;
  height: 32px;
}

.elimina-red-icon {
  background-image: url('../../../assets/icon/cross-cirlce.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position-x: 11px;
  background-position-y: 7px;
  background-color: #dd553d;
  height: 31px;
  width: 39px;
  margin-top: -0.3em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.elimina-red mat-label, .ricovera-green mat-label, .ricovera-lista-blue mat-label {
  padding-left: 10px;
  padding-right: 10px;
}

::ng-deep .acceptance .mat-sort-header-container.mat-focus-indicator {
  border-right: 1px solid;
  height: 28px;
}

.lr-border {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  height: 50px;
}

::ng-deep .input-form .mat-form-field-label-wrapper {
  border: 1px solid darkgray;
  height: 20px !important;
  border-radius: 8px;
  margin-top: 14px;
}

::ng-deep .search-input .mat-form-field-underline {
  display: none !important;
}

::ng-deep .acceptance .mat-button-wrapper mat-label, ::ng-deep .acceptance-search .mat-button-wrapper mat-label {
  display: inline-block;
  margin-top: -0.4rem;
}

.acceptance td {
  font-weight: 500;
}

::ng-deep .acceptance .mat-column-landingPhone {
  width: 30% !important;
}

.search-input input {
  padding: 3px;
  width: calc(100% - 4px);
  height: 28px;
  margin-top: -6px;
  border-radius: 5px;
  background-color: #fff;
}

.acceptance-search, .acceptance {
  margin-left: 0px !important;
}

th.mat-header-cell:last-of-type {
  padding-right: 0px !important;
}

th:not(.groupedHeader) {
  font-weight: 400;
}
