<mat-horizontal-stepper (selectionChange)="onStepChange($event)">
  <mat-step *ngFor="let recoveryTaxRegimeType of recoveryTaxRegimeTypes; let i = index" [editable]="true" [completed]="false">
    <ng-template matStepLabel>{{recoveryTaxRegimeType.description}}</ng-template>
    <ng-container *ngIf="stepSelectedIndex === i">
      <app-attendance-summary-table
        [title]="recoveryTaxRegimeType?.description ? recoveryTaxRegimeType.description : ''"
        [tableData]="data"
        [tableColumns]="recoveryTaxRegimeType?.description === 'PRIVATO' ? privatoColumns : columns"
        [isFilterable]="true"
        [isPageable]="true"
        [paginationSizes]="[10, 15, 20]"
        [defaultPageSize]="10"
        (filter)="onFilterChange($event)">
      </app-attendance-summary-table>
    </ng-container>
  </mat-step>
</mat-horizontal-stepper>
