@import "~styles/cards";

.mat-paginator {
  display: flex;
  justify-content: center;
}

//CSS per la sezione della Tabella
tr.example-element-row:hover {
  background: whitesmoke;
}

//Per mettere tutto al centro all'interno delle tabelle
th.mat-header-cell,
th.mat-sort-header,
td.mat-cell {
  text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

th {
  font-weight: bolder;
  font-size: 15px;
  //font-size: large;
}

td, th {
  border: #888888;
  border-width: 1px;
  border-style: solid;
}

.td-patient, .th-patient {
  width: 20%;
}

.td-other-information, .th-other-information {
  width: 22%;
}

.td-totals, .th-totals {
  width: 23%;
}

.td-presents, .th-presents {
  width: 33%;
}

.uppercase {
  text-transform: uppercase;
}

.mat-form-field {
  display: block;
  font-size: 15px;
  margin-bottom: 1%;
  font-weight: 500;
}

.btn-left {
  float: left;
}

.mat-button {
  width: 150px !important;
  max-width: 100%;
}

.consolidate-button {
	background-color: #59A066;
}

.pdf-button {
	background-color: orange;
	border-radius: 10px !important;
	margin-top: 2px;
	margin-bottom: -10px;
}

.xml-button {
	background-color: yellow;
	border-radius: 10px !important;
	margin-top: 2px;
	margin-bottom: -10px;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 10px;
  padding-left: 10px;
}

.download-xml-blue {
  padding: 0;
  border: 1px solid #4A8397;
  color: #4A8397;
  height: 32px;
}

.download-pdf-green {
  padding: 0;
  border: 1px solid #609970;
  color: #609970;
  height: 32px;
}

.clipboard-blue, .clipboard-green {
  background-image: url(../../../../../assets/icon/file-alt.svg);
  background-repeat: no-repeat;
  background-size: 13px;
  background-position-x: 14px;
  background-position-y: 7px;
  height: 32px;
  width: 39px;
  margin-top: -0.35em;
  margin-left: -2px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.clipboard-blue {
  background-color: #4A8397;
}

.clipboard-green {
  background-color: #609970;
}

.download-xml-blue mat-label, .download-pdf-green mat-label {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  margin-top: -0.4rem;
}

.download-pdf-green mat-label {
  padding-left: 16px;
  padding-right: 16px;
}

.button-r {
  border-radius: 8px;
}