<div class="row" style="margin-top: 10px;margin-left: -10px;margin-right: -20px;">
  <div class="col-12">
    <mat-card class="mat-elevation-z4">

      <mat-card-header>
        <mat-card-title>{{'fatturazioneHistory.title' | translate}} {{title | translate | uppercase}}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <!-- Genera e Anno e Mese-->
        <div class="row">

          <!-- Table Filter -->
          <div class="col">
            <mat-form-field>
              <mat-label>{{'search' | translate}}</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="{{'search' | translate}}">
            </mat-form-field>
          </div>

         <!-- Anno -->
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>{{'fatturazioneHistory.year' | translate}}</mat-label>
              <mat-select [(ngModel)]="yearSelected" (ngModelChange)="changePeriod()">
                <mat-option *ngFor="let year of years" [value]="year">
                  {{year}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Mese -->
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>{{'fatturazioneHistory.month' | translate}}</mat-label>
              <mat-select [(ngModel)]="monthSelected" [compareWith]="compareById" (ngModelChange)="changePeriod()">
                <mat-option *ngFor="let month of monthsToView" [value]="month">
                  {{month.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
		  
		  <div class="col" style="text-align: center; margin-top:-22px" *ngIf="isEditable">
          <!-- Genera -->
          <div>
            <button mat-raised-button class="mt-3 button-r download-xml-blue" (click)="onAllXmlDownloadClick()" [disabled]="isRowSelected()">
              <mat-icon class="clipboard-blue"></mat-icon>
              <mat-label>{{'fatturazioneHistory.downloadXmlButton' | translate}}</mat-label>
            </button>
          </div>
          
          <!-- Consolida -->
          <div>
            <button mat-raised-button class="mt-3 button-r download-pdf-green" (click)="onAllPdfDownloadClick()" [disabled]="isRowSelected()">
              <mat-icon class="clipboard-green"></mat-icon>
              <mat-label>{{'fatturazioneHistory.downloadPdfButton' | translate}}</mat-label>
            </button>
          </div>
		  </div>
        </div>

        <!-- Divider -->
        <div class="row">
          <div class="col">
            <hr class="mr-1 ml-1">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="data-table mat-elevation-z2">
              <!-- Tabella -->
              <table mat-table [dataSource]="tableDataSource" matSort multiTemplateDataRows class="mt-xl-1 w-100">

                <!-- Visualizzazione delle colonne della tabella -->
                <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
				  
				  <ng-container *ngIf="column === 'checkConsilidate'">
                    <th mat-header-cell *matHeaderCellDef><mat-checkbox color="warn" style="margin-right:18px; margin-top:10px" 
                    	(change)="toggleAllDraftInvoices($event.checked)"></mat-checkbox></th>
                    <td mat-cell *matCellDef="let element" class="th-numInvoice">
                      <p><mat-checkbox color="warn" style="margin-right:18px; margin-top:10px" (change)="toggleInvoice(element, $event.checked)" [checked]="element.checked"></mat-checkbox></p>
                    </td>
                  </ng-container>
                  
                  <ng-container *ngIf="column === 'numInvoice'">
                    <th mat-header-cell *matHeaderCellDef class="th-numInvoice">{{('fatturazioneHistory.table.number' | translate) | uppercase}}</th>
                    <td mat-cell *matCellDef="let element" class="th-numInvoice">
                      <p>{{element.numInvoice}}</p>
                    </td>
                  </ng-container>

                  <!-- Colonna dateInsert -->
                  <ng-container *ngIf="column === 'dateInsert'">
                    <th mat-header-cell *matHeaderCellDef class="th-dateInsert">{{('fatturazioneHistory.table.date' | translate) | uppercase}}</th>
                    <td mat-cell *matCellDef="let element" class="th-dateInsert">
                      <p>{{element.dateInsert | date: 'dd/MM/YYYY HH:mm:ss'}}</p>
                    </td>
                  </ng-container>

                  <ng-container *ngIf="column === 'documentType'">
                    <th mat-header-cell *matHeaderCellDef class="th-documentType">{{('fatturazioneHistory.table.documentType' | translate) | uppercase}}</th>
                    <td mat-cell *matCellDef="let element" class="th-documentType">
                      <p>{{element.invoiceType != null ? element.invoiceType.description : '' | uppercase}}</p>
                    </td>
                  </ng-container>

                  <ng-container *ngIf="column === 'destinatary'">
                    <th mat-header-cell *matHeaderCellDef class="th-destinatary">{{('fatturazioneHistory.table.recipient' | translate) | uppercase}}</th>
                    <td mat-cell *matCellDef="let element" class="th-destinatary">
                      <p>{{element.destinatary | uppercase}}</p>
                    </td>
                  </ng-container>

                  <ng-container *ngIf="column === 'description'">
                    <th mat-header-cell *matHeaderCellDef class="th-description">{{('fatturazioneHistory.table.description' | translate) | uppercase}}</th>
                    <td mat-cell *matCellDef="let element" class="th-description">
                      <p>{{element.description | uppercase}}</p>
                    </td>
                  </ng-container>
                  
                  <ng-container *ngIf="column === 'status'">
                    <th mat-header-cell *matHeaderCellDef class="th-description">{{('fatturazioneHistory.table.status' | translate) | uppercase}}</th>
                    <td mat-cell *matCellDef="let element" class="th-description">
                      <p>{{element.invoiceStatus?.description | uppercase}}</p>
                    </td>
                  </ng-container>
                  
                  <ng-container *ngIf="column === 'documents'">
                    <th mat-header-cell *matHeaderCellDef class="th-description">{{('fatturazioneHistory.table.documents' | translate) | uppercase}}</th>
                    <td mat-cell *matCellDef="let element" class="th-description">
                      <p *ngIf="element.invoiceStatus?.description != 'BOZZA'">
                        <button class="pdf-button" mat-raised-button *ngIf="element.pdfFile" (click)="onDownloadClick(element.pdfFile)">
                          <span>{{'fatturazioneHistory.table.pdf' | translate}}</span>
                        </button>
                        <button class="xml-button" mat-raised-button *ngIf="element.xmlFile" (click)="onDownloadClick(element.xmlFile)">
                          <span>{{'fatturazioneHistory.table.xml' | translate}}</span>
                        </button>
                  	  </p>
                    </td>
                  </ng-container>

                  <ng-container *ngIf="column === 'total'">
                    <th mat-header-cell *matHeaderCellDef class="th-total">{{('fatturazioneHistory.table.total' | translate) | uppercase}}</th>
                    <td mat-cell *matCellDef="let element" class="th-total">
                      <span class="detail-col-2" style="color: green"> {{element.total ? element.total : 0 | number: '1.2-2'}} €</span>
                    </td>
                  </ng-container>

                  <ng-container *ngIf="column === 'azioni'">
                    <th mat-header-cell *matHeaderCellDef class="th-azioni">{{('fatturazioneHistory.table.action' | translate) | uppercase}}</th>
                    <td mat-cell *matCellDef="let element" class="th-azioni">
                      <button mat-icon-button (click)="openInvoiceFormDialog(element)">
                        <mat-icon>list</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                </ng-container>
                <!-- Header della tabella   -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>

                <!-- Riga che appare quando la tabella è vuota -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="10">Nessun Dato Presente</td>
                </tr>

              </table>

              <!-- Pagination -->
              <mat-paginator #paginatorFamily
                             [length]="tableDataSource.data ? tableDataSource.data.length : 0"
                             [pageSizeOptions]="paginationSizes"
                             [pageSize]="defaultPageSize">
              </mat-paginator>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>