@import "~styles/cards";

.data-table {
  width: 97%;
  margin: 5px auto;
}

table {
  width: 100%;
}


th {
  font-weight: bolder;
  font-size: large;
}

//td, th {
//  width: 15%;
//}

.mat-form-field {
  font-size: medium;
  width: 100%;
}

.td-actions {
  width: 25%;
}


tr:not(.expanded-row):hover {
  background: whitesmoke;
}

td {
  border-bottom-width: 0;
}

.button-r {
  border-radius: 8px !important;
}

.mat-row {
  text-align: center;
}

th.mat-header-cell,
th.mat-sort-header,
td.mat-cell:not(.mat-column-expandedDetails) {
  text-align: center;
  padding-block: 15px;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.blue {
  background-color: #007BFF;
  color: #fff;
}

.cdk-column-Nome-Documento {
  width: 40%;
  word-break: break-word;
}

.cdk-column-actions {
  min-width: 365px;
}


.mat-card-red .data-table {
  box-shadow: none;
  width: 100%;
}

.mat-card-red .mat-table {
  background: transparent;
}

.mat-card-red .mat-card-content {
  padding: 15px 0px 10px 0px !important;
}

::ng-deep .mat-card-red tbody tr:nth-child(2n+1) {
  background-color: #E9E9E9;
}

.clipboard {
  background-image: url('../../../../assets/icon/clipboard.svg');
  background-repeat: no-repeat;
  background-size: 21px;
  height: 30px;
  width: 30px;
}

.mat-card-red .mat-card-title span {
  position: absolute;
  margin-top: 6px;
  margin-left: 10px;
  font-size: 19px;
}

.mat-card-red .mat-card-header {
  height: 46px;
  padding-top: 0px !important;
}

.mat-card-red .mat-header-row {
  background-color: #A8A8A8;
  height: 48px;
}

.mat-header-row th {
  color: #fff;
  font-weight: 500;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
}

::ng-deep .mat-card-red .mat-sort-header-container.mat-focus-indicator {
  border-right: 1px solid;
  height: 33px;
}

::ng-deep .mat-card-red th.mat-header-cell:nth-child(2) .mat-sort-header-container.mat-focus-indicator {
  border-left: 1px solid;
  height: 28px;
}

.mat-card-red .ricovera-green {
  padding: 0;
  border: 1px solid #609970;
  color: #609970;
  height: 32px;
  width: 115px;
}

.mat-card-red .elimina-red {
  padding: 0;
  border: 1px solid #B7562C;
  color: #B7562C;
  height: 32px;
  width: 115px;
}

.elimina-red-icon {
  background-image: url('../../../../assets/icon/cross-cirlce.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position-x: 11px;
  background-position-y: 7px;
  background-color: #B7562C;
  height: 31px;
  width: 39px;
  margin-top: -0.3em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.bed {
  background-image: url('../../../../assets/icon/bed.svg');
  background-repeat: no-repeat;
  background-size: 26px;
  background-position-x: 7px;
  background-position-y: 6px;
  background-color: #609970;
  height: 31px;
  width: 39px;
  margin-top: -0.3em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.ricovera-green mat-label {
  padding-left: 10px;
  padding-right: 10px;
}

.elimina-red mat-label {
  padding-left: 13px;
  padding-right: 14px;
  margin-top: -8px;
}

.aggiungi {
  padding: 0;
  border: 1px solid #4A8397;
  color: #4A8397;
  height: 32px;
  margin-top: 8px;
}

.aggiungi mat-label {
  padding-left: 8px;
  padding-right: 8px;
}

::ng-deep .aggiungi .mat-button-wrapper mat-label {
  display: inline-block;
  margin-top: -0.4rem;
}

.aggiungi-icon {
  background-image: url('../../../../assets/icon/clipboard.svg');
  background-repeat: no-repeat;
  background-size: 13px;
  background-position-x: 14px;
  background-position-y: 7px;
  background-color: #4A8397;
  height: 32px;
  width: 39px;
  margin-top: -0.35em;
  margin-left: -2px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

::ng-deep .mat-card-red .mat-button-wrapper mat-label {
  display: inline-block;
  margin-top: -0.4rem;
}

.mat-card-red td.mat-column-actions {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  align-items: flex-end;
  padding-right: 10px;
}

.mat-card-red .mat-column-actions {
  min-width: 183px;
}

.mat-card-red .mat-column-Descrizione {
  width: 13%;
}

.mat-card-red .mat-column-Descrizione > div {
  text-align: left;
}

.row {
  height: 95%;
  align-items: center;
}

.input-form mat-label {
  margin-left: 15px;
}

.input-form mat-label {
  font-weight: 500;
}

.input-form mat-form-field {
  padding-top: 0px !important;
  margin-top: -5px;
}

.search-input {
  padding: 3px;
  width: calc(100% - 4px);
  height: 28px;
  margin-top: -6px;
  border-radius: 5px;
  background-color: #fff;
}

::ng-deep .input-form .mat-form-field-label-wrapper {
  border: 1px solid darkgray;
  height: 20px !important;
  border-radius: 8px;
  margin-top: 14px;
}

::ng-deep .input-form .mat-form-field-underline {
  display: none !important;
}

.red-style-cointainer {
  margin-top: 30px;
  padding-left: 0px;
  margin-left: -5px;
}

.text-bold {
  font-weight: 500;
}

.cancel {
  background-image: url('../../../../assets/icon/cancel.png');
  background-repeat: no-repeat;
  background-size: 21px;
  background-position-x: 7px;
  background-position-y: 5px;
  background-color: #ba5633;
  height: 30px;
  width: 35px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-top: -1px;
}

.check {
  background-image: url('../../../../assets/icon/check.png');
  background-repeat: no-repeat;
  background-size: 21px;
  background-position-x: 7px;
  background-position-y: 5px;
  background-color: #56a265;
  height: 30px;
  width: 35px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-top: -1px;
}


.no-text {
  background-color: transparent;
}

::ng-deep .exemptions-card .salva-btn, ::ng-deep .exemptions-card .cancel-btn, ::ng-deep .therapeutic-card .salva-btn, ::ng-deep .therapeutic-card .cancel-btn {
  padding: 0px !important;
  min-width: 35px;
  min-height: 36px;
  box-shadow: none;
}
