<ng-container>
  <div class="mat-elevation-z24 data-table mx-auto">
    <div class="row"  *ngIf="!noSearchPanel">
      <!-- Table Filter   -->
      <ng-container *ngIf="isFilterable">
        <div class="col-4 search-input-block" *ngIf="!isMatCardTable">
          <mat-label class="textFilter" style="display: none;">{{textFilter | translate}}</mat-label>
          <mat-form-field class="p-3">
            <mat-label class="inside-text">{{textFilter | translate}}</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="{{textFilter | translate}}" [disabled]="addAction?.disabled">
          </mat-form-field>
        </div>
        <div class="col-8" style="margin-top: 7px;border-right: 1px solid lightgray;height: 50px;" *ngIf="isMatCardTable">
          <div class="col-8 input-form" style="margin-top: -10px;">
            <mat-label>{{('FILTRA LA RICERCA' | translate)}}</mat-label>
            <mat-form-field class="p-3">
              <input matInput (keyup)="applyFilter($event)" class="search-input">
            </mat-form-field>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="isDADateFilterable">
        <div class="col-2">
          <mat-form-field class="p-3">
            <mat-label>{{'DA' | translate}}</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </ng-container>

      <!-- Table A Date Filter   -->
      <ng-container *ngIf="isADateFilterable">
        <div class="col-2">
          <mat-form-field class="p-3">
            <mat-label>{{'A' | translate}}</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </ng-container>

      <!--Add New element -->
      <ng-container *ngIf="addAction">
        <div class="col p-lg-4" *ngIf="!isMatCardTable">
          <div class="float-right mr-1"> <!-- removed class mr-xl-5-->
            <button mat-raised-button color="primary" (click)="emitAddAction()" [disabled]="addAction.disabled">
              <mat-icon>{{addAction.buttonIcon}}</mat-icon>
              <mat-label>{{addAction.buttonText}}</mat-label>
            </button>
          </div>
        </div>
        <div class="col" style="margin-top: -10px;padding-bottom: 0px !important;" *ngIf="isMatCardTable">
          <div class="col-9">
            <button mat-raised-button class="aggiungi float-right button-r" (click)="emitAddAction()" [disabled]="addAction.disabled">
              <mat-icon class="file-alt"></mat-icon>
              <mat-label style="height: 39px;">{{addAction.buttonText}}</mat-label>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="mat-elevation-z24 data-table mt-4" *ngIf="!isMatCardTable">
    <!-- Table -->
    <table mat-table [dataSource]="tableDataSource" matSort multiTemplateDataRows (matSortChange)="sortTable($event)">
      <!-- data columns -->
      <ng-container *ngFor="let tableColumn of tableColumns" [matColumnDef]="tableColumn.name">
        <!-- if sortable column header -->
        <ng-container *ngIf="tableColumn.isSortable; else notSortable">
          <th mat-header-cell *matHeaderCellDef [mat-sort-header]="tableColumn.name"
              [class.text-right]="tableColumn.position == 'right'"
              [class.text-center]="tableColumn.position == 'center'"
              [arrowPosition]="tableColumn.position === 'right' ? 'before' : 'after'">
            {{(inUpperCase ? (tableColumn.name | uppercase) : tableColumn.name)}}
          </th>
        </ng-container>
        <!-- else not sortable -->
        <ng-template #notSortable>
          <th mat-header-cell *matHeaderCellDef [class.text-right]="tableColumn.position == 'right'" [class.text-center]="tableColumn.position == 'center'">
            {{(inUpperCase ? (tableColumn.name | uppercase) : tableColumn.name)}}
          </th>
        </ng-template>

        <!-- column data -->
        <td mat-cell *matCellDef="let element" [class.text-right]="tableColumn.position == 'right'" [class.text-center]="tableColumn.position == 'center'">
          {{tableColumn?.method != null ? gridEvent(tableColumn.method, tableColumn.dataKey, element) : (tableColumn.isDate ? (resolve(tableColumn.dataKey, element) | date: 'dd/MM/yyyy') : resolve(tableColumn.dataKey, element) | translate)}}
        </td>
      </ng-container>

      <!-- action columns -->
      <ng-container *ngIf="rowActionIcons" [matColumnDef]="'actions'">
        <th mat-header-cell *matHeaderCellDef [ngStyle]="{'width': (rowActionIcons.apri ? '30%' : '22.5%')}"
            [class.text-right]="rowActionIcons.position == 'right'"
            [class.text-center]="rowActionIcons.position == 'center'">
          {{(inUpperCase ? (('actions' | translate) | uppercase) : 'actions' | translate)}}
        </th>
        <td mat-cell *matCellDef="let element"
            [class.text-right]="rowActionIcons.position == 'right'"
            [class.text-center]="rowActionIcons.position == 'center'">
          <!-- Bottone per l'azione di dowload -->
          <ng-container *ngIf="rowActionIcons.download">
            <button class="rounded mr-2" mat-raised-button (click)="emitDownloadAction(element)">
              <mat-icon>{{rowActionIcons.download}}</mat-icon>
              <mat-label>{{'download' | translate}}</mat-label>
            </button>
          </ng-container>

          <!-- Bottone per l'azione di modifica -->
          <ng-container *ngIf="rowActionIcons.edit && !isNoTextBtn">
            <button class="rounded mr-2" mat-raised-button (click)="emitEditAction(element)" [disabled]="addAction?.disabled" *ngIf="isEditable">
              <mat-icon>{{rowActionIcons.edit}}</mat-icon>
              <mat-label>{{'edit' | translate}}</mat-label>
            </button>
          </ng-container>

          <!-- Bottone per l'azione di cancellazione -->
          <ng-container *ngIf="rowActionIcons.delete && !isNoTextBtn">
            <button class="rounded mr-2" mat-raised-button color="warn" (click)="emitDeleteAction(element)" [disabled]="addAction?.disabled" *ngIf="isEditable">
              <mat-icon>{{rowActionIcons.delete}}</mat-icon>
              <mat-label>{{'delete' | translate}}</mat-label>
            </button>
          </ng-container>

          <!-- Bottone per l'azione di cancellazione -->
          <ng-container *ngIf="rowActionIcons.delete && isNoTextBtn">
            <button class="rounded mr-2 salva-btn no-text" mat-raised-button color="warn" (click)="emitEditAction(element)" [disabled]="addAction?.disabled" *ngIf="isEditable">
              <mat-icon class="check"></mat-icon>
            </button>
          </ng-container>

          <!-- Bottone per l'azione di modifica -->
          <ng-container *ngIf="rowActionIcons.edit && isNoTextBtn">
            <button class="rounded mr-2 cancel-btn no-text" mat-raised-button (click)="emitDeleteAction(element)" [disabled]="addAction?.disabled" *ngIf="isEditable">
              <mat-icon class="cancel"></mat-icon>
            </button>
          </ng-container>

          <!-- Bottone per l'azione di cancellazione -->
          <ng-container *ngIf="rowActionIcons.apri">
            <br/>
            <button class="rounded ml-2 blue" mat-raised-button (click)="emitDownloadAction(element)" style="margin-top: 0.5em">
              <mat-icon>{{rowActionIcons.apri}}</mat-icon>
              <mat-label>{{'apri' | translate}}</mat-label>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- No data row -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [colSpan]="displayedColumns.length">{{'noData' | translate}}</td>
      </tr>
    </table>

    <!-- Pagination -->
    <!--    <mat-paginator *ngIf="!paginationAlwaysShow && displayPaginator()"-->
    <!--                   [pageSizeOptions]="paginationSizes"-->
    <!--                   [pageSize]="defaultPageSize"-->
    <!--                   showFirstLastButtons>-->
    <!--    </mat-paginator>-->
    <!--    <mat-paginator *ngIf="paginationAlwaysShow"-->
    <!--                   [pageSizeOptions]="paginationSizes"-->
    <!--                   [pageSize]="defaultPageSize">-->
    <!--    </mat-paginator>-->
    <mat-paginator #matPaginator
                   [pageSizeOptions]="paginationSizes"
                   [pageSize]="defaultPageSize"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
  <div class="col-12 red-style-cointainer" *ngIf="isMatCardTable">
    <mat-card class="mat-elevation-z4 mat-card-red">

      <mat-card-header>
        <mat-card-title><mat-icon class="clipboard"></mat-icon><span>LISTA DEI CONTRATTI</span></mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="mat-elevation-z24 data-table">
          <!-- Table -->
          <table mat-table [dataSource]="tableDataSource" matSort multiTemplateDataRows (matSortChange)="sortTable($event)">
            <!-- data columns -->
            <ng-container *ngFor="let tableColumn of tableColumns" [matColumnDef]="tableColumn.name">
              <!-- if sortable column header -->
              <ng-container *ngIf="tableColumn.isSortable; else notSortable">
                <th mat-header-cell *matHeaderCellDef [mat-sort-header]="tableColumn.name"
                    [class.text-right]="tableColumn.position == 'right'"
                    [class.text-center]="tableColumn.position == 'center'"
                    [arrowPosition]="tableColumn.position === 'right' ? 'before' : 'after'">
                  {{tableColumn.name | uppercase}}
                </th>
              </ng-container>
              <!-- else not sortable -->
              <ng-template #notSortable>
                <th mat-header-cell *matHeaderCellDef [class.text-right]="tableColumn.position == 'right'" [class.text-center]="tableColumn.position == 'center'">
                  {{tableColumn.name | uppercase}}
                </th>
              </ng-template>

              <!-- column data -->
              <td mat-cell *matCellDef="let element" [class.text-right]="tableColumn.position == 'right'" [class.text-center]="tableColumn.position == 'center'" [class.text-bold]="tableColumn.isBold">
                <div>{{tableColumn.isCurrency ? ('€.' + (resolve(tableColumn.dataKey, element) | currency:'€':'')) : (tableColumn.isPercentage ? (resolve(tableColumn.dataKey, element) | percent) : (tableColumn?.method != null ? gridEvent(tableColumn.method, tableColumn.dataKey, element) : (tableColumn.isDate ? (resolve(tableColumn.dataKey, element) | date: 'dd/MM/yyyy') : resolve(tableColumn.dataKey, element) | translate)))}}</div>
              </td>
            </ng-container>

            <!-- action columns -->
            <ng-container *ngIf="rowActionIcons" [matColumnDef]="'actions'">
              <th mat-header-cell *matHeaderCellDef [ngStyle]="{'width': (rowActionIcons.apri ? '30%' : '11%')}"
                  [class.text-right]="rowActionIcons.position == 'right'"
                  [class.text-center]="rowActionIcons.position == 'center'">
                {{('actions' | translate) | uppercase}}
              </th>
              <td mat-cell *matCellDef="let element"
                  [class.text-right]="rowActionIcons.position == 'right'"
                  [class.text-center]="rowActionIcons.position == 'center'">
                <!-- Bottone per l'azione di dowload -->
                <ng-container *ngIf="rowActionIcons.download">
                  <button class="rounded mr-2" mat-raised-button (click)="emitDownloadAction(element)">
                    <mat-icon>{{rowActionIcons.download}}</mat-icon>
                    <mat-label>{{'download' | translate}}</mat-label>
                  </button>
                </ng-container>

                <!-- Bottone per l'azione di modifica -->
                <ng-container *ngIf="rowActionIcons.edit">
                  <button class="button-r ricovera-green" mat-raised-button (click)="emitEditAction(element)" [disabled]="addAction?.disabled" *ngIf="isEditable">
                    <mat-icon class="bed"></mat-icon>
                    <mat-label>{{'edit' | translate}}</mat-label>
                  </button>
                </ng-container>

                <!-- Bottone per l'azione di cancellazione -->
                <ng-container *ngIf="rowActionIcons.delete">
                  <button class="button-r elimina-red" mat-raised-button (click)="emitDeleteAction(element)" [disabled]="addAction?.disabled" *ngIf="isEditable">
                    <mat-icon class="elimina-red-icon"></mat-icon>
                    <mat-label>{{'delete' | translate}}</mat-label>
                  </button>
                </ng-container>

                <!-- Bottone per l'azione di cancellazione -->
                <ng-container *ngIf="rowActionIcons.apri">
                  <br/>
                  <button class="rounded ml-2 blue" mat-raised-button (click)="emitDownloadAction(element)" style="margin-top: 0.5em">
                    <mat-icon>{{rowActionIcons.apri}}</mat-icon>
                    <mat-label>{{'apri' | translate}}</mat-label>
                  </button>
                </ng-container>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- No data row -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [colSpan]="displayedColumns.length">{{'noData' | translate}}</td>
            </tr>
          </table>

          <!-- Pagination -->
          <mat-paginator #matPaginator
                         [pageSizeOptions]="paginationSizes"
                         [pageSize]="defaultPageSize"
                         showFirstLastButtons>
          </mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
