<div class="row">

  <!-- Totali -->
  <div class="col-12 mb-2">
    <mat-card class="mat-elevation-z4">

      <mat-card-header>
        <mat-card-title class="bold-heading">Totali</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <!-- Totali Riepologativi -->
        <div class="row">
          <div class="col-3">
            <!-- Regime -->
            <mat-form-field appearance="legacy" disabled>
              <div class="row">
                <div class="col">
                  <input matInput disabled value="Regime" style="font-weight: 500; color: #24292e">
                </div>
                <div class="col">
                  <input matInput disabled value="RSA" style="text-align: right">
                </div>
              </div>
            </mat-form-field>
          </div>

          <div class="col-3">
            <!-- Presenze -->
            <mat-form-field appearance="legacy" disabled>
              <div class="row">
                <div class="col">
                  <input matInput disabled value="Presenze" style="font-weight: 500; color: #24292e">
                </div>
                <div class="col">
                  <input matInput disabled value="{{totalCharge? totalCharge.totNumberPresence : 0}}" style="text-align: right">
                </div>
              </div>
            </mat-form-field>
          </div>

          <div class="col-3">
            <!-- Quota Comune -->
            <mat-form-field appearance="legacy" disabled>
              <div class="row">
                <div class="col">
                  <input matInput disabled value="Quota Comune" style="font-weight: 500; color: #24292e">
                </div>
                <div class="col">
                  <input matInput disabled value="{{totalCharge? totalCharge.totBirthplaceCharge : 0 | number: '1.2-2'}} €" style="text-align: right">
                </div>
              </div>
            </mat-form-field>
          </div>

          <div class="col-3">
            <!-- Totale -->
            <!-- Il Totale è la somma dei tre campi   totUserCharge + totBirthplaceCharge +totAslCharge se le presenze sono > 0 -->
            <mat-form-field appearance="legacy" disabled>
              <div class="row">
                <div class="col">
                  <input matInput disabled value="Totale" style="font-weight: 500; color: #24292e">
                </div>
                <div class="col">
                  <input matInput disabled value="{{totalCharge ? totalChargeHeader : 0 | number: '1.2-2'}} €" style="text-align: right">
                </div>
              </div>
            </mat-form-field>
          </div>

          <div class="col-3">
            <!-- Pazienti -->
            <mat-form-field appearance="legacy" disabled>
              <div class="row">
                <div class="col-9">
                  <input matInput disabled value="Pazienti (duplicati esclusi)" style="font-weight: 500; color: #24292e">
                </div>
                <div class="col">
                  <input matInput disabled value="{{totalCharge? totalCharge.totNumberGuest : 0 }}" style="text-align: right">
                </div>
              </div>
            </mat-form-field>
          </div>

          <div class="col-3">
            <!-- Quota ASL -->
            <mat-form-field appearance="legacy" disabled>
              <div class="row">
                <div class="col">
                  <input matInput disabled value="Quota ASL" style="font-weight: 500; color: #24292e">
                </div>
                <div class="col">
                  <input matInput disabled value="{{totalCharge? totalCharge.totAslCharge : 0 | number: '1.2-2'}} €" style="text-align: right">
                </div>
              </div>
            </mat-form-field>
          </div>



          <div class="col-3">
            <!-- Quota Utente -->
            <mat-form-field appearance="legacy" disabled>
              <div class="row">
                <div class="col">
                  <input matInput disabled value="Quota Utente" style="font-weight: 500; color: #24292e">
                </div>
                <div class="col">
                  <input matInput disabled value="{{totalCharge? totalCharge.totUserCharge : 0 | number: '1.2-2'}} €" style="text-align: right">
                </div>
              </div>
            </mat-form-field>
          </div>




          <div class="col-3" *ngIf="isEditable">
            <!-- Bottone -->
            <!--            <button mat-button class="btn btn-primary btn-block mat-elevation-z8 mt-3 button-r" *ngIf="!enableButton"-->
            <!--                    (click)="calculateTotal()">-->
            <!--              <mat-label style="font-weight: 500;">Calcola Totale</mat-label>-->
            <!--            </button>-->

            <button mat-button class="btn btn-primary btn-block mat-elevation-z8 mt-3 button-r"
                    [disabled]="disableGenerate" (click)="generateFileH()">
              <mat-label style="font-weight: 500;">Genera File H</mat-label>
            </button>

          </div>
        </div>


      </mat-card-content>
    </mat-card>
  </div>

  <!-- Quadratura File H -->
  <div class="col-12">
    <mat-card class="mat-elevation-z4">

      <mat-card-header>
        <mat-card-title>Quadratura File H</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <!-- Anno e Mese-->
        <div class="row">
          <!-- Table Filter -->
          <div class="col">
            <mat-form-field>
              <mat-label>{{'search' | translate}}</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="{{'search' | translate}}">
            </mat-form-field>
          </div>

          <!-- Anno -->
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Anno</mat-label>
              <mat-select [(ngModel)]="yearSelected" (ngModelChange)="changePeriod()">
                <mat-option *ngFor="let year of years" [value]="year">
                  {{year}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Mese -->
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Mese</mat-label>
              <mat-select [(ngModel)]="monthSelected" [compareWith]="compare" (ngModelChange)="changePeriod()">
                <mat-option *ngFor="let month of monthsToView" [value]="month">
                  {{month.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Struttura -->
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Struttura</mat-label>
              <mat-select [(ngModel)]="buildingSelected" [compareWith]="compare" (ngModelChange)="changeStructure()">
                <mat-option *ngFor="let building of buildings" [value]="building">
                  {{building.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>

        <!-- Divider -->
        <div class="row">
          <div class="col">
            <hr class="mr-1 ml-1">
          </div>
        </div>

        <!-- Filtri Tabella -->
        <!--        <div class="mx-auto">-->
        <!--          <div class="row justify-content-end">-->

        <!--            &lt;!&ndash; Filtro tabella Regime&ndash;&gt;-->
        <!--            <div class="col-4">-->

        <!--              <mat-form-field appearance="outline">-->
        <!--                <mat-label>Regime</mat-label>-->
        <!--                <mat-select [(ngModel)]="regimeSelected">-->
        <!--                  <mat-option *ngFor="let regime of regimeOptions" [value]="regime">-->
        <!--                    {{regime}}-->
        <!--                  </mat-option>-->
        <!--                </mat-select>-->
        <!--              </mat-form-field>-->
        <!--            </div>-->

        <!--            &lt;!&ndash; Filtro tabella &ndash;&gt;-->
        <!--            <div class="col-4">-->
        <!--              <mat-form-field appearance="outline">-->
        <!--                <mat-label>Cerca ...</mat-label>-->
        <!--                <input matInput>-->
        <!--                <mat-icon matSuffix>search</mat-icon>-->
        <!--              </mat-form-field>-->
        <!--            </div>-->

        <!--          </div>-->
        <!--        </div>-->

        <!-- Tabella -->
        <div class="row">
          <div class="col">

            <div class="data-table mat-elevation-z2">
              <!-- Tabella -->
              <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mt-xl-1 w-100">

                <th mat-header *matHeaderCellDef class="th-patient">Paziente</th>

                <!-- Visualizzazione delle colonne della tabella -->
                <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">

                  <!-- Colonna pazienti -->
                  <ng-container *ngIf="column === 'patient'">
                    <th mat-header-cell *matHeaderCellDef class="th-patient">Paziente</th>
                    <td mat-cell *matCellDef="let element" class="td-patient">
                      <app-patient-cell [element]="element"></app-patient-cell>
                    </td>
                  </ng-container>

                  <!-- Colonna Altre informazioni -->
                  <ng-container *ngIf="column === 'other-information'">
                    <th mat-header-cell *matHeaderCellDef class="th-other-information">Altre
                      informazioni
                    </th>
                    <td mat-cell *matCellDef="let element" class="td-other-information">
                      <app-other-information-cell [element]="element"></app-other-information-cell>
                    </td>
                  </ng-container>

                  <!--  Colonna Presenze -->
                  <ng-container *ngIf="column === 'presents'">
                    <th mat-header-cell *matHeaderCellDef class="th-presents">Presenze</th>
                    <td mat-cell *matCellDef="let element" class="td-presents">
                      <!--                      <app-presents-cell [element]="element" [month]="monthSelected!.name" (change)="onChangeNumberOfPresent($event)"></app-presents-cell>-->
                      <app-presents-cell [element]="element" [month]="monthSelected!.name"></app-presents-cell>
                    </td>
                  </ng-container>

                  <!-- Colonna Totali -->
                  <ng-container *ngIf="column === 'totals'">
                    <th mat-header-cell *matHeaderCellDef class="th-totals">Totali</th>
                    <td mat-cell *matCellDef="let element" class="td-totals">
                      <app-totals-cell [element]="element" ></app-totals-cell>
                    </td>
                  </ng-container>

                </ng-container>

                <!-- Header della tabella   -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>

                <!-- Riga che appare quando la tabella è vuota -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="6">Nessun Dato Presente</td>
                </tr>

              </table>

              <!-- Pagination -->
              <mat-paginator #paginatorFamily
                             [length]="dataSource.data ? dataSource.data.length : 0"
                             [pageSizeOptions]="paginationSizes"
                             [pageSize]="defaultPageSize">
              </mat-paginator>
            </div>

          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>



</div>
