<form [formGroup]="form" (ngSubmit)="onSubmit()" id="{{formId}}">
  <div class="row mt-2">
    <div class="col">
      <!-- Etichetta -->
      <mat-form-field appearance="outline">
        <mat-label>{{'exemptions.form.tag' | translate}}</mat-label>
        <input oninput="this.value = this.value.toUpperCase()" matInput
               placeholder="{{'exemptions.form.tag' | translate}}" autocomplete="off" formControlName="tag" required>
        <mat-error *ngIf="formSubmitAttempt">
          <app-form-field-error [formInput]="form.get('tag')"
                                [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
        </mat-error>
      </mat-form-field>

      <!-- Scadenza -->
      <mat-form-field appearance="outline">
        <mat-label>{{'exemptions.form.expirationDate' | translate}}</mat-label>
        <input matInput [matDatepicker]="picker2" [disabled]="disabledExpireDate" autocomplete="off"
               formControlName="expirationDate" [required]="!disabledExpireDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>
        <mat-error *ngIf="formSubmitAttempt">
          <app-form-field-error [formInput]="form.get('expirationDate')"
                                [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
        </mat-error>
      </mat-form-field>

      <!-- Scadenza indefinita -->
      <mat-checkbox [checked]="disabledExpireDate" (change)="checkBoxChangeValue()">
        Nessuna Scadenza
      </mat-checkbox>

    </div>
  </div>
</form>
