<ng-container>
  <div class="col-8 mat-elevation-z24 data-table search-panel n-card" style="height: auto;margin-left: 20px;">
    <div class="row" style="padding-top:20px">
        <!-- Table Filter   -->
        <ng-container *ngIf="isFilterable">
          <div class="col-md-10" style="display: flex;">
            <mat-label class="outer-label search-panel-label">{{'Cerca ospite' | uppercase}}</mat-label>
            <mat-form-field appearance="outline" class="inner-w-80" style="width: 100%;padding-left: 1%;">
            <input matInput (keyup)="applyFilter($event)" />
            </mat-form-field>
          </div>
        </ng-container>
    </div>
  </div>

  <div class="mat-elevation-z24 data-table mt-4 assistance odd-color">
  <!-- Table -->
    <table mat-table [dataSource]="tableDataSource" matSort multiTemplateDataRows>
      <!-- data columns -->
      <ng-container *ngFor="let tableColumn of tableColumns" [matColumnDef]="tableColumn.name">
        <!-- if sortable column header -->
        <ng-container *ngIf="tableColumn.isSortable; else notSortable">
          <th mat-header-cell *matHeaderCellDef
              [mat-sort-header]="tableColumn.name"
              [class.text-right]="tableColumn.position == 'right'"
              [class.text-center]="tableColumn.position == 'center'"
              [arrowPosition]="tableColumn.position === 'right' ? 'before' : 'after'">
            {{tableColumn.name | uppercase}}
          </th>
        </ng-container>
        <!-- else not sortable -->
        <ng-template #notSortable>
          <th mat-header-cell *matHeaderCellDef
              [class.text-right]="tableColumn.position == 'right'"
              [class.text-center]="tableColumn.position == 'center'">
            <div  style="border-right: 1px solid; height: 37px;" *ngIf="tableColumn.dataKey === 'image'">
              {{tableColumn.name | uppercase}}
            </div>
          </th>
        </ng-template>

        <!-- column data -->
        <ng-container *ngIf="tableColumn.dataKey !== 'birthDate' && tableColumn.dataKey !== 'image'">
          <td mat-cell *matCellDef="let element" [class.text-right]="tableColumn.position == 'right'" [class.text-center]="tableColumn.position == 'center'"
              style="{{(tableColumn.dataKey === 'firstName' || tableColumn.dataKey === 'lastName') ? '' : 'font-weight: 10 !important;color:black'}}">
            {{tableColumn.isDate ? (resolve(tableColumn.dataKey, element) | date: 'dd/MM/YYYY') : resolve(tableColumn.dataKey, element) | translate | uppercase}}
          </td>
        </ng-container>
        <ng-container *ngIf="tableColumn.dataKey === 'birthDate'">
          <td mat-cell *matCellDef="let element" [class.text-right]="tableColumn.position == 'right'" [class.text-center]="tableColumn.position == 'center'" style="font-weight: 10 !important;">
            {{getAge(element[tableColumn.dataKey])}}
          </td>
        </ng-container>
        <ng-container *ngIf="tableColumn.dataKey === 'image'">
          <td mat-cell *matCellDef="let element" [class.text-right]="tableColumn.position == 'right'" [class.text-center]="tableColumn.position == 'center'" style="padding: 7px;">
            <span id="guest_foto">
              <img src="{{element.picContent ? element.picContent : 'assets/img/blank-avatar.png'}}" height="75px" width="75px" style="border-radius: 50%;{{element.sex ? '' : 'border: 5px solid #FDAFBB;'}}">
            </span>
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row c-pointer" (click)="rowSelected(element)">
      </tr>

      <!-- No data row -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [colSpan]="displayedColumns.length">{{'noData' | translate}}</td>
      </tr>
    </table>

    <!-- Pagination -->
    <mat-paginator [pageSizeOptions]="paginationSizes"
                   [pageSize]="defaultPageSize"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
</ng-container>
