<div class="row" style="margin-top: 10px;margin-left: -10px;margin-right: -20px;">
  <div class="col-12">
    <mat-card class="mat-elevation-z4">

      <mat-card-header>
        <mat-card-title>{{'attendanceSummary.title' | translate}} {{title | translate | uppercase}}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="mat-elevation-z4 data-table mx-auto search-panel">
          <div class="row">
        
            <!-- Filtro tabella   -->
            <div class="col-sm-12 col-md-6 col-lg-4 pr-0">
              <div class="d-flex align-items-center ml-3">
                <div style="margin-top: -11px;">{{'search' | translate | uppercase}}</div>
                <div style="width: 75%;" class="input-form">
                  <mat-form-field class="p-3 search-input">
                    <input matInput (keyup)="applyFilter($event)" style="text-transform: uppercase;">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- Filtro Struttura -->
        
            <div class="col-sm-12 col-md-6 col-lg-3 p-4 mr-2">
              <div class="lr-border" style="padding-top: 11px;">
                <div style="margin: -20px auto 0; width: 270px">
                  <mat-form-field>
                    <mat-label>{{'DA' | translate}}</mat-label>
                    <input matInput [matDatepicker]="pickerDa" (dateChange)="dateChange($event, 'filterStartDate')"
                           (dateInput)="dateChange($event, 'filterStartDate')" [(ngModel)]="filterStartDate" style="text-transform: uppercase;">
                    <mat-datepicker-toggle matSuffix [for]="pickerDa"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDa></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
        
            <!-- Filtro Regime di ricovero-->
            <div class="col-sm-12 col-md-6 col-lg-3 p-4 mr-2">
              <div class="lr-border" style="padding-top: 11px;">
                <div style="margin: -20px auto 0; width: 270px">
                  <mat-form-field>
                    <mat-label>{{'A' | translate}}</mat-label>
                    <input matInput [matDatepicker]="pickerA" (dateChange)="dateChange($event, 'filterEndDate')"
                           (dateInput)="dateChange($event, 'filterEndDate')" [(ngModel)]="filterEndDate" style="text-transform: uppercase;">
                    <mat-datepicker-toggle matSuffix [for]="pickerA"></mat-datepicker-toggle>
                    <mat-datepicker #pickerA></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
        
            <!--Bottone Esporta -->
            <div class="col p-lg-4">
              <div class="float-right mr-2" style="margin-top: 7px;">
               <!--  <button mat-raised-button class="button-r esporta-btn" (click)="esporta()">
                  <mat-icon class="esporta"></mat-icon>
                  <mat-label>Esporta</mat-label>
                </button> -->
              </div>
            </div>
          </div>
        </div>

        <!-- Divider -->
        <div class="row">
          <div class="col">
            <hr class="mr-1 ml-1">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="data-table mat-elevation-z2">
              <!-- Tabella -->
              <table mat-table [dataSource]="tableDataSource" matSort multiTemplateDataRows class="mt-xl-1 w-100">

                <!-- Visualizzazione delle colonne della tabella -->
                <ng-container [matColumnDef]="tableColumn.name" *ngFor="let tableColumn of tableColumns">

                  <ng-container>
                    <th mat-header-cell *matHeaderCellDef class="th-numInvoice">{{(tableColumn.name | translate) | uppercase}}</th>
                    <td mat-cell *matCellDef="let element" class="th-numInvoice">
                      <p>{{tableColumn.isDate ? (resolve(tableColumn.dataKey, element) | date: 'dd/MM/yyyy') : resolve(tableColumn.dataKey, element) | translate | uppercase}}</p>
                    </td>
                  </ng-container>

                </ng-container>
                <!-- Header della tabella   -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>

                <!-- Riga che appare quando la tabella è vuota -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="10">Nessun Dato Presente</td>
                </tr>

              </table>

              <!-- Pagination -->
              <mat-paginator #paginatorFamily
                             [length]="tableDataSource.data ? tableDataSource.data.length : 0"
                             [pageSizeOptions]="paginationSizes"
                             [pageSize]="defaultPageSize">
              </mat-paginator>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
