@import '~styles/cards';

//::ng-deep .mat-card-header-text {
//  margin: 0 !important;
//}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

::ng-deep {
  .mat-input-element:disabled,
  .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after,
  .mat-select-disabled .mat-select-value, {
    color: gray !important;
  }
}

.file-upload-form-field {
  ::ng-deep {
    .mat-form-field-wrapper,
    .mat-form-field-flex,
    .mat-form-field-appearance-standard {
      padding: 0 !important;
    }

    .mat-form-field-infix {
      border: none !important;
      padding-top: 0 !important;
      border-top: none !important;
    }

    //.mat-form-field-appearance-legacy .mat-form-field-infix {
    //  border: none !important;
    //  padding-top: 0 !important;
    //}
    //
    //.mat-form-field-appearance-standard .mat-form-field-flex {
    //  border: none !important;
    //  padding-top: 0 !important;
    //}

    .mat-form-field-underline {
      display: none;
    }

    .mat-form-field-outline-start, .mat-form-field-outline-end {
      border-radius: 0 !important;
      border: none !important;
    }
  }
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  font-size: inherit;
}

.mat-toolbar-single-row button {
  width: 200px;
}


#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}
