<form [formGroup]="form" (ngSubmit)="onFormSubmitWithoutDate(true)" id="{{formId}}">

  <div class="row pt-4">
    <div class="col">
      <mat-card class="mat-elevation-z4 h-100">
        <mat-card-content class="pt-4">

          <!-- Guest -->
          <app-virtual-scroll-autocomplete class="col-md-8"
                                           [label]="'documents.documentsForm.guest' | translate"
                                           [options]="guests"
                                           [control]="guestFormControl()"
                                           [optionKey]="'fullName'"
                                           [filterKey]="'fullName'"
                                           [isFormSubmitted]="formSubmitAttempt"
                                           [required]="true"
                                           [formFieldClass]="'w94'">
          </app-virtual-scroll-autocomplete>

          <!-- Date -->
          <mat-form-field appearance="outline" class="col-md-12">
            <mat-label>{{'documents.uploadForm.date' | translate}}</mat-label>
            <input matInput [ngxMatDatetimePicker]="documentDatePicker" autocomplete="off" formControlName="date" required>
            <mat-datepicker-toggle matSuffix [for]="$any(documentDatePicker)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #documentDatePicker color="primary"></ngx-mat-datetime-picker>
            <mat-error *ngIf="formSubmitAttempt">
              <app-form-field-error [formInput]="form.get('date')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
            </mat-error>
          </mat-form-field>

          <!-- Descrizione -->
          <mat-form-field appearance="outline" class="col-md-12">
            <mat-label>{{'documents.description' | translate}}</mat-label>
             <textarea matInput placeholder="{{'documents.description' | translate}}" autocomplete="off" formControlName="description"
                                  cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"></textarea>
          </mat-form-field>

          <!-- Document Template Type -->
            <mat-form-field appearance="outline" class="col-md-12">
              <mat-label>{{'documents.uploadForm.templateType' | translate}}</mat-label>
              <mat-select formControlName="documentTemplateType" [compareWith]="compareById" required>
                <mat-option *ngFor="let documentTemplateType of documentTemplateTypes$ | async" [value]="documentTemplateType">
                  {{documentTemplateType.description}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formSubmitAttempt">
                <app-form-field-error [formInput]="form.get('documentTemplateType')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
              </mat-error>
            </mat-form-field>

          <!-- File upload -->
          <div class="col-12 mt-4">
            <app-file-upload [accept]="'application/pdf'"
                             [files]="files"
                             [browseFileLabel]="'documents.uploadForm.browseFileLabel' | translate"
                             [borderColor]="getFileUploadBorder()"
                             [textColor]="getFileUploadTextColor()"
                             (fileUploadedChange)="onFileUploadedChange($event)">
            </app-file-upload>
            <mat-error *ngIf="formSubmitAttempt">
              <app-form-field-error [formInput]="form.get('fileName')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
            </mat-error>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>

</form>
