<button mat-icon-button class="close-button" (click)="cancel()" >
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>

<div>
  <h1 mat-dialog-title [innerHTML]="data.title | titlecase"></h1>
</div>

<div mat-dialog-content>
  <ng-template appInsertion> </ng-template>
</div>
<div mat-dialog-actions class="float-lg-right">
  <button mat-raised-button color="warn" (click)="cancel()" [innerHTML]="data.cancelText"></button>
  <button mat-raised-button (click)="confirm()" [innerHTML]="data.confirmText"></button>
</div>
