.close-button{
  float: right;
  //top:-24px;
  //right:-24px;
}

.close-icon {
  transition: 1s ease-in-out;
  font-weight: bold;
  font-size: 1.7rem;
}

.close-icon:hover {
  transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button{
  float: right;
  top:-52px;
  right:-52px;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset
}
