<div class="d-flex bg-whitesmoke p-15">
  <div>
	<div class="row pt-4" id="guest-info">
	   <div class="col">
	     <mat-card class="mat-elevation-z4 h-100 n-card">
	       <mat-card-header class="m-0">
	         <mat-card-title>
	           <mat-icon class="mat-icon-size">person</mat-icon>
	           <mat-label>{{('areaRegistry.areaRegistryForm.generalData' | translate) | titlecase}}</mat-label>
	         </mat-card-title>
	       </mat-card-header>
	
	       <mat-card-content class="bg-off-white">
	         <div class="row pb-2">
	           <!-- BUSINESS NAME -->
	           <div class="col-10">
	             <label class="f-500">{{'areaRegistry.areaRegistryForm.businessName' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{area?.businessName}}" style="width: 100%;"/>
	           </div>
	           
	           <!-- HEAD CITY -->
	           <div class="col-3">
	             <label class="f-500">{{'areaRegistry.areaRegistryForm.headCity' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{area?.headCity?.description}}"/>
	           </div>
		  </div>
		  
		  <div class="row pb-2">
	           <!-- Supplier code -->
	           <div class="col-3">
	             <label class="f-500">{{'areaRegistry.areaRegistryForm.supplierCode' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{area?.supplierCode}}"/>
	           </div>
	
	           <!-- CUU (IPA) -->
	           <div class="col-3">
	             <label class="f-500">{{'areaRegistry.areaRegistryForm.cuuIpa' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{area?.cuuIpa}}"/>
	           </div>
	           
	           <!-- PIVA -->
	           <div class="col-3">
	             <label class="f-500">{{'areaRegistry.areaRegistryForm.piva' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{area?.piva}}"/>
	           </div>
	           
	           <!-- FISCAL CODE -->
	           <div class="col-3">
	             <label class="f-500">{{'areaRegistry.areaRegistryForm.fiscalCode' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{area?.fiscalCode}}"/>
	           </div>
	         </div>
	         
	         <div class="row pb-2">
	           <!-- ADDRESS -->
	           <div class="col-3">
	             <label class="f-500">{{'areaRegistry.areaRegistryForm.address' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{area?.address}}"/>
	           </div>
	
	           <!-- CITY -->
	           <div class="col-3">
	             <label class="f-500">{{'areaRegistry.areaRegistryForm.city' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{area?.city?.description}}"/>
	           </div>
	           
	           <!-- PROV -->
	           <div class="col-3">
	             <label class="f-500">{{'areaRegistry.areaRegistryForm.province' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{area?.city?.province?.code}}"/>
	           </div>
	           
	           <!-- CAP -->
	           <div class="col-3">
	             <label class="f-500">{{'areaRegistry.areaRegistryForm.cap' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{area?.cap}}"/>
	           </div>
	         </div>
	       </mat-card-content>
	     </mat-card>
	   </div>
	</div>
	
	<div class="row pt-4" id="guest-info">
	    <div class="col">
	      <mat-card class="mat-elevation-z4 h-100 n-card">
	        <mat-card-header class="m-0">
	          <mat-card-title>
	            <mat-icon class="mat-icon-size">receipt</mat-icon>
	            <mat-label>{{('areaRegistry.areaRegistryForm.invoiceData' | translate) | titlecase}}</mat-label>
	          </mat-card-title>
	        </mat-card-header>
	
	        <mat-card-content class="bg-off-white">
			  <div class="row pb-2">
	           <!-- FISCAL NATURE -->
	           <div class="col-3">
	             <label class="f-500">{{'areaRegistry.areaRegistryForm.fiscalNature' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{area?.fiscalNature}}"/>
	           </div>
	
	           <!-- PAY CODE -->
	           <div class="col-3">
	             <label class="f-500">{{'areaRegistry.areaRegistryForm.payCode' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{area?.payCode}}"/>
	           </div>
	            
	            <!-- PAY TYPE -->
	           <div class="col-3">
	             <label class="f-500">{{'areaRegistry.areaRegistryForm.payType' | translate}}</label>
	             <input type="text" class="form-control uppercase disabled" value="{{area?.payType}}"/>
	           </div>
	            
	            <!-- CIG -->
	            <div class="col-3">
	              <label class="f-500">{{'areaRegistry.areaRegistryForm.cig' | translate}}</label>
	              <input type="text" class="form-control uppercase disabled" value="{{area?.cig}}"/>
	            </div>
	          </div>
	          
	          <div class="row pb-2">
	            <!-- BANK -->
	            <div class="col-3">
	              <label class="f-500">{{'areaRegistry.areaRegistryForm.bank' | translate}}</label>
	              <input type="text" class="form-control uppercase disabled" value="{{area?.bank}}"/>
	            </div>
	
	            <!-- IBAN -->
	            <div class="col-3">
	              <label class="f-500">{{'areaRegistry.areaRegistryForm.iban' | translate}}</label>
	              <input type="text" class="form-control uppercase disabled" value="{{area?.iban}}"/>
	            </div>
	            
	            <!-- INVOICE EXPIRATION DAYS -->
	            <div class="col-2">
	              <label class="f-500">{{'areaRegistry.areaRegistryForm.expirationDays' | translate}}</label>
	              <input type="number" class="form-control uppercase disabled" value="{{area?.invoiceExpirationDays}}"/>
	            </div>
	            
	            <!-- MEASURE UNIT -->
	            <div class="col-2">
	              <label class="f-500">{{'areaRegistry.areaRegistryForm.measureUnit' | translate}}</label>
	              <input type="text" class="form-control uppercase disabled" value="{{area?.measureUnit}}"/>
	            </div>
	            
	            <!-- ADMINISTRATION REFERENCE -->
	            <div class="col-2">
	              <label class="f-500">{{'areaRegistry.areaRegistryForm.administrationRef' | translate}}</label>
	              <input type="text" class="form-control uppercase disabled" value="{{area?.administrationReference}}"/>
	            </div>
	          </div>
	          
	          <div class="row pb-2">
	            <!-- CAUSAL -->
	            <div class="col-10">
	              <label class="f-500">{{'areaRegistry.areaRegistryForm.causal' | translate}}</label>
	              <input type="text" class="form-control uppercase disabled" value="{{area?.causal}}" style="width: 100%;"/>
	            </div>
			  </div>
	        </mat-card-content>
	      </mat-card>
	    </div>
  	</div>
  	
  	<div class="row pt-4" id="guest-info">
	    <div class="col">
	      <mat-card class="mat-elevation-z4 h-100 n-card">
	        <mat-card-header class="m-0">
	          <mat-card-title>
	            <mat-icon>receipt</mat-icon>
	            <mat-label>{{('areaRegistry.areaRegistryForm.invoiceConfiguration' | translate) | titlecase}}</mat-label>
	          </mat-card-title>
	        </mat-card-header>
	
	        <mat-card-content class="bg-off-white">
			  <div class="row pb-2">
	            <!-- FISCAL NATURE -->
	            <div class="col-3">
				  <div style="display: flex;width: 150%;">
	                  <mat-slide-toggle class="disabled" [checked]="groupingByCityRSA ? groupingByCityRSA : false">
		                {{'areaRegistry.areaRegistryForm.groupingByCityRSA' | translate}}
		              </mat-slide-toggle>
                  </div>
                  <div style="display: flex;width: 100%;">
		              <mat-slide-toggle class="disabled" [checked]="billTaxRSA ? billTaxRSA : false">
		                {{'areaRegistry.areaRegistryForm.billTaxRSA' | translate}}
		              </mat-slide-toggle>
                  </div>
	            </div>
	
	            <!-- PAY CODE -->
	            <div class="col-3">
	              <div style="display: flex;width: 150%; margin-left:40px">
		              <mat-slide-toggle class="disabled" [checked]="isPerformanceTypeDescriptionRSA ? isPerformanceTypeDescriptionRSA : false">
		                {{'areaRegistry.areaRegistryForm.isPerformanceTypeDescriptionRSA' | translate}}
		              </mat-slide-toggle>
                  </div>
	              <div style="display: flex;width: 150%; margin-left:40px">
		              <mat-slide-toggle class="disabled" [checked]="groupByDistrictRSA ? groupByDistrictRSA : false">
		                {{'areaRegistry.areaRegistryForm.groupByDistrictRSA' | translate}}
		              </mat-slide-toggle>
                  </div>
	            </div>
	            
	            <div class="col-3">
	              <div style="display: flex;width: 150%; margin-left:80px">
		              <mat-slide-toggle class="disabled" [checked]="isProvidedTreatmentsSummaryRSA ? isProvidedTreatmentsSummaryRSA : false">
		                {{'areaRegistry.areaRegistryForm.isProvidedTreatmentsSummaryRSA' | translate}}
		              </mat-slide-toggle>
                  </div>
	            </div>
	          </div>
	        </mat-card-content>
	      </mat-card>
	    </div>
    </div>
  </div>
<!-- Action column -->
  <div class="col-2 d-flex flex-column justify-content-center" style="min-height: 166px; margin-left:20px">
	  <!-- Edit button -->
	    <ng-container *ngIf="rowActionIcons?.edit && isEditable">
	      <button class="btn btn-block rounded mat-elevation-z8 mb-3 button-r editBtn" mat-raised-button (click)="emitEditAction(area)">
	        <mat-icon class="editIcon">{{rowActionIcons?.edit}}</mat-icon>
	        <mat-label>{{'edit' | translate}}</mat-label>
	      </button>
	    </ng-container>
	
	    <!-- Delete button -->
	    <ng-container *ngIf="rowActionIcons?.delete && isEditable">
	      <button class="btn btn-block rounded mat-elevation-z8 button-r delBtn" mat-raised-button (click)="emitDeleteAction(area)">
	        <mat-icon class="delIcon">close</mat-icon>
	        <mat-label>{{'delete' | translate}}</mat-label>
	      </button>
	    </ng-container>
  </div> 
</div> 