<div class="container" appDnd (fileDropped)="onFileDropped($event)" [class]="borderColor">
  <div class="d-flex align-items-center flex-column">
    <input type="file" #fileDropRef id="fileDropRef"
           [multiple]="isMultiple" [accept]="accept"
           (change)="fileBrowseHandler($event)" [disabled]="isDisabled"/>
    <mat-icon svgIcon="file_upload" class="file-upload-icon"></mat-icon>

    <h3 [innerHTML]="browseFileLabel || 'browseFile.dnd' | translate" [class]="textColor"></h3>
    <h3 [class]="textColor">{{'browseFile.or' | translate}}</h3>
    <label *ngIf="!newUI" for="fileDropRef" class="font-weight-bold">{{'browseFile.label' | translate}}</label>
    <button mat-raised-button class="file-upload-blue" *ngIf="newUI">
      <mat-icon class="folder-icon">folder</mat-icon>
      <mat-label style="height: 39px;">{{'browseFile.label' | translate}}</mat-label>
    </button>
  </div>
</div>
<div *ngIf="fileTypeError" style="color: #db202f;text-align: center;">
  {{fileTypeError}} not supported
</div>
<div class="files-list">
  <div class="single-file" *ngFor="let file of files; let i = index">
    <div class="d-flex justify-content-between flex-shrink-1">
      <a><mat-icon svgIcon="file" class="file-icon" (click)="openFile(file)"></mat-icon></a>

      <div>
        <h4 class="name">{{ getFileName(file) }}</h4>
        <p class="size">
          {{ formatBytes(file?.size) }}
        </p>
        <mat-progress-bar mode="determinate" color="warn" [value]="file?.progress"></mat-progress-bar>
      </div>

      <div class="delete" (click)="deleteFile(i)">
        <mat-icon class="gray-icon">delete_forever</mat-icon>
      </div>
    </div>
  </div>
</div>
