<form [formGroup]="form" (ngSubmit)="onSubmit(true)" id="{{formId}}">

  <div class="row pt-4" id="guest-info">
    <!-- GUEST -->
    <div class="col">
      <mat-card class="mat-elevation-z4 h-100 n-card">
        <mat-card-header class="m-0">
          <mat-card-title>
            <mat-icon>home</mat-icon>
            <mat-label>{{('assistanceProjects.assistanceProjectForm.guestInformation' | translate) | uppercase}}</mat-label>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="pt-4 residenza" style="padding-top: 10px !important;padding-bottom: 2px !important;">
          <ng-container formGroupName="guestMinimal">
            <div class="row">
              <app-virtual-scroll-autocomplete
                class="col-md-4"
                [label]="'assistanceProjects.assistanceProjectForm.guest' | translate"
                [labelOutside]="true"
                [options]="guests$"
                [optionKey]="'fullName'"
                [filterKey]="'fullName'"
                [isFormSubmitted]="formSubmitAttempt"
                (selectedOption)="onGuestSelectionChange($event)"
                [control]="guestUuidFormControl(form.get('guestMinimal'))"
                formControlname="fullName"
                [isAllUpperCase]="true"
                [value]="selectedGuest"
                [compareWith]="compareGuests"
                [required]="true">
              </app-virtual-scroll-autocomplete>

              <ng-container formGroupName="historicResidence">
                <!-- Region -->
                <div class="col-md-4">
                  <mat-label class="outer-label">{{'assistanceProjects.assistanceProjectForm.region' | translate}}</mat-label>
                  <mat-form-field appearance="outline">
                    <mat-select formControlName="region" [value]="selectedGuest?.historicResidence?.region" [compareWith]="compareById">
                      <mat-option *ngFor="let region of selectedGuestRegions" [value]="region">{{region?.description | uppercase}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- Asl -->
                <div class="col-md-4" style="padding-left: 55px;">
                  <mat-label class="outer-label" style="min-width: 84px;justify-content: end;">{{'assistanceProjects.assistanceProjectForm.asl' | translate}}</mat-label>
                  <mat-form-field appearance="outline">
                    <mat-select formControlName="asl" [value]="selectedGuest?.historicResidence?.asl" [compareWith]="compareById">
                      <mat-option *ngFor="let asl of selectedGuestAsls" [value]="asl">{{asl?.description | uppercase}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- City -->
                <div class="col-md-4">
                  <mat-label class="outer-label">{{'assistanceProjects.assistanceProjectForm.city' | translate}}</mat-label>
                  <mat-form-field appearance="outline">
                    <mat-select formControlName="city" [value]="selectedGuest?.historicResidence?.city" [compareWith]="compareById">
                      <mat-option *ngFor="let city of selectedGuestCities" [value]="city">{{city?.description | uppercase}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- Area -->
                <div class="col-md-4">
                  <mat-label class="outer-label">{{'assistanceProjects.assistanceProjectForm.area' | translate}}</mat-label>
                  <mat-form-field appearance="outline">
                    <mat-select formControlName="area" [value]="selectedGuest?.historicResidence?.area" [compareWith]="compareById">
                      <mat-option *ngFor="let area of selectedGuestAreas" [value]="area">{{area?.areaCode | uppercase}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- District -->
                <div class="col-md-4" style="padding-left: 55px;">
                  <mat-label class="outer-label" style="min-width: 84px;">{{'assistanceProjects.assistanceProjectForm.district' | translate}}</mat-label>
                  <mat-form-field appearance="outline">
                    <mat-select formControlName="district" [value]="selectedGuest?.historicResidence?.city" [compareWith]="compareById">
                      <mat-option *ngFor="let district of selectedGuestDistricts" [value]="district">{{district?.description | uppercase}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </ng-container>

            </div>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row pt-4">

    <!-- DETAILS -->
    <div class="col-md-4">
      <mat-card class="mat-elevation-z4 n-card">
        <mat-card-header class="m-0">
          <mat-card-title style="margin-bottom: 6px;">
            <mat-icon class="file-alt"></mat-icon>
            <mat-label>{{('assistanceProjects.assistanceProjectForm.details' | translate) | uppercase}}</mat-label>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="mt-4 sm-mat-card" style="padding-bottom: 4px !important;padding-top: 10px !important;">
          <!-- Start date -->
          <div class="col-md-12">
            <mat-label class="outer-label" style="margin-right: 21px;">{{'assistanceProjects.assistanceProjectForm.prescriptionDate' | translate}} *</mat-label>
            <mat-form-field appearance="outline">
              <input matInput class="text-uppercase" [matDatepicker]="picker" autocomplete="off" formControlName="prescriptionDate" required/>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker color="primary"></mat-datepicker>
              <mat-error *ngIf="formSubmitAttempt">
                <app-form-field-error [formInput]="form.get('prescriptionDate')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <mat-label class="outer-label" style="margin-right: 21px;">{{('assistanceProjects.assistanceProjectForm.status' | translate) }} *</mat-label>
            <mat-form-field appearance="outline">
              <mat-select formControlName="status" [compareWith]="compareById" required>
                <mat-option *ngFor="let assistanceProjectStatus of assistanceProjectStatues$ | async" [value]="assistanceProjectStatus">
                  {{assistanceProjectStatus.description  | uppercase}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formSubmitAttempt">
                <app-form-field-error [formInput]="form.get('status')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12" style="margin-top: 5px !important;  margin-bottom: 15px !important;" *ngIf="isEdit && form.get('fileName')?.value !== null" >
            <a><mat-icon svgIcon="file" class="file-icon" style="width: 40px !important; height: 40px !important;" (click)="openFile()"></mat-icon></a>
            <mat-label class="name" >{{form.get('fileName')?.value}}</mat-label>
          </div>
          <!-- File upload -->
          <div class="mt-4" style="margin-top: 5px !important;">
            <!--          <mat-form-field appearance="standard" class="w-100 file-upload-form-field">-->
            <!--            <input matInput formControlName="fileName" readonly/>-->
            <app-file-upload [accept]="'application/pdf'" class="file-upload-block" [browseFileLabel]="'assistanceProjects.assistanceProjectForm.browseFileLabel' | translate"
                             [borderColor]="getFileUploadBorder()"
                             [newUI]="true"
                             [textColor]="getFileUploadTextColor()"
                             (fileUploadedChange)="onFileUploadedChange($event)"
                              >
            </app-file-upload>
            <mat-error *ngIf="formSubmitAttempt">
              <app-form-field-error [formInput]="form.get('fileName')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
            </mat-error>
          </div>

        </mat-card-content>
      </mat-card>
    </div>

    <!-- PERFORMANCE -->
    <div class="col-md-4">
      <mat-card class="mat-elevation-z4 n-card">
        <mat-card-header class="m-0">
          <mat-card-title>
            <mat-icon>account_box</mat-icon>
            <mat-label>{{('assistanceProjects.assistanceProjectForm.performance' | translate) | uppercase}}</mat-label>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="mt-4 sm-mat-card" style="padding-top: 10px !important;padding-bottom: 0px !important;">
          <div class="col-md-12">
            <app-virtual-scroll-autocomplete
              class="w-100"
              [label]="'assistanceProjects.assistanceProjectForm.performanceType' | translate"
              [labelOutside]="true"
              [options]="performanceTypes$"
              [control]="performanceTypeFormControl()"
              [optionKey]="'descriptionCharge'"
              [filterKey]="'description'"
              [isFormSubmitted]="formSubmitAttempt"
              [isAllUpperCase]="true"
              [required]="true"
              (selectedOption)="onPerformanceTypeSelection($event)">
            </app-virtual-scroll-autocomplete>
          </div>

          <div class="col-md-12">
            <app-virtual-scroll-autocomplete
              class="w-100"
              [label]="'assistanceProjects.assistanceProjectForm.performanceCharge' | translate"
              [labelOutside]="true"
              [options]="performanceCharges$"
              [control]="performanceChargeFormControl()"
              [optionKey]="'description'"
              [filterKey]="'description'"
              [isFormSubmitted]="formSubmitAttempt"
              [isAllUpperCase]="true"
              [required]="true">
            </app-virtual-scroll-autocomplete>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- AUTHORIZATION -->
      <mat-card class="mat-elevation-z4 n-card sm-fix" style="margin-top: 15px;">
        <mat-card-header class="m-0">
          <mat-card-title style="margin-bottom: 6px;">
            <mat-icon class="file-alt"></mat-icon>
            <mat-label>{{('assistanceProjects.assistanceProjectForm.authorization' | translate) | uppercase}}</mat-label>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="mt-4 sm-mat-card full-w" style="padding-bottom: 0px !important;padding-top: 10px !important;">
          <div class="row col-md-12">
            <div class="col-md-6">
              <mat-label class="outer-label">{{'assistanceProjects.assistanceProjectForm.authNumber' | translate}}</mat-label>
              <mat-form-field appearance="outline" style="width: 100%;">
                <input matInput type="number" formControlName="authNumber"/>
                <mat-error *ngIf="formSubmitAttempt">
                  <app-form-field-error [formInput]="form.get('authNumber')" [isFormSubmitted]="formSubmitAttempt" [patternName]="'max'"></app-form-field-error>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-label class="outer-label">{{'assistanceProjects.assistanceProjectForm.authDate' | translate}} *</mat-label>
              <mat-form-field appearance="outline" style="width: 100%;">
                <input matInput class="text-uppercase" [matDatepicker]="picker4" autocomplete="off" formControlName="authDate" required/>
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4 color="primary"></mat-datepicker>
                <mat-error *ngIf="formSubmitAttempt">
                  <app-form-field-error [formInput]="form.get('authDate')" [isFormSubmitted]="formSubmitAttempt" ></app-form-field-error>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- TREATMENT -->
    <div class="col-md-4">
      <mat-card class="mat-elevation-z4 h-100 n-card">
        <mat-card-header class="m-0">
          <mat-card-title>
            <mat-icon>library_books</mat-icon>
            <mat-label>{{('assistanceProjects.assistanceProjectForm.treatment' | translate) | uppercase}}</mat-label>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="mt-4 sm-mat-card" style="padding-bottom: 21px !important;">
          <!-- Treatment -->
          <div class="col-md-12" style="margin-top: 20px;">
            <mat-label class="outer-label" style="margin-right: 55px;width: 30%;">{{'assistanceProjects.assistanceProjectForm.treatmentType' | translate}} </mat-label>
            <mat-form-field appearance="outline">
              <input oninput="this.value = this.value.toUpperCase()" matInput placeholder="{{'assistanceProjects.assistanceProjectForm.treatmentType' | translate}}"
              		 autocomplete="off" formControlName="treatment"/>
              <mat-error *ngIf="formSubmitAttempt">
                <app-form-field-error [formInput]="form.get('treatment')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Start date -->
          <div class="col-md-12" style="margin-top: 20px;">
            <mat-label class="outer-label" style="margin-right: 21px; font-size:13px">{{'assistanceProjects.assistanceProjectForm.treatmentStartDate' | translate}} *</mat-label>
            <mat-form-field appearance="outline">
              <input matInput class="text-uppercase" [matDatepicker]="picker2" autocomplete="off" formControlName="treatmentStrDate" (dateInput)="changeTreatmentStrDate()" (dateChange)="changeTreatmentStrDate()" required/>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2 color="primary"></mat-datepicker>
              <mat-error *ngIf="form?.get('treatmentStrDate')?.errors">Data obbligatoria e precedente alla data di fine trat.</mat-error>
            </mat-form-field>
          </div>

          <!-- Treatment number of days -->
          <div class="col-md-12" style="margin-top: 20px;">
              <mat-label class="outer-label" style="margin-right: 21px; font-size:12.5px;">{{'assistanceProjects.assistanceProjectForm.treatmentDaysNumber' | translate}}</mat-label>
              <mat-form-field appearance="outline" style="width:20%">
                <input matInput type="number" min="1" formControlName="treatmentDaysNumber" (change)="changeTreatmentNumberOfDays()" />
                <mat-error *ngIf="formSubmitAttempt">
                  <app-form-field-error [formInput]="form.get('treatmentDaysNumber')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
                </mat-error>
              </mat-form-field>
          </div>

          <!-- End date -->
          <div class="col-md-12" style="margin-top: 20px;">
            <mat-label class="outer-label" style="margin-right: 21px; font-size:14px">{{'assistanceProjects.assistanceProjectForm.treatmentEndDate' | translate}} *</mat-label>
            <mat-form-field appearance="outline">
              <input matInput class="text-uppercase" [matDatepicker]="picker3" autocomplete="off" formControlName="treatmentEndDate" (dateInput)="changeTreatmentEndDate()" (dateChange)="changeTreatmentEndDate()" required/>
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3 color="primary"></mat-datepicker>
              <mat-error *ngIf="form?.get('treatmentEndDate')?.errors">Data obbligatoria e successiva alla data di inizio trat.</mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row py-4">
    <div class="col">

      <!-- FEES -->
      <mat-card class="mat-elevation-z4 n-card">
        <mat-card-header class="m-0">
          <mat-card-title style="margin-bottom: 6px;">
            <mat-icon class="file-alt"></mat-icon>
            <mat-label>{{('assistanceProjects.assistanceProjectForm.fees' | translate) | uppercase}}</mat-label>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="mt-4 sm-mat-card" style="padding-top: 10px !important;padding-bottom: 5px !important;">
          <div class="col-md-8" style="max-height: 51px;">
            <mat-label class="outer-label" style="margin-right: 21px;">{{'assistanceProjects.assistanceProjectForm.dailyFee' | translate}} *</mat-label>
            <mat-form-field appearance="outline">
              <input matInput type="number" formControlName="dailyFee" required/>
              <mat-error *ngIf="formSubmitAttempt">
                <app-form-field-error [formInput]="form.get('dailyFee')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4"></div>

          <div class="row col-12 quote-b" style="margin-left: 0px;padding-right: 0px;padding-left: 15px;">
            <div class="col-md-4 p-lr-2">
              <div class="h-100" style="background-color: #DEDEDE;padding-top: 5px;">
                <div class="col-md-14">
                  <mat-label class="outer-label newclass" style="margin-right: 0px;margin-left: 10px">{{'assistanceProjects.assistanceProjectForm.aslPercentFee' | translate}} *</mat-label>
                  <mat-form-field appearance="outline" class="error-width">
                    <input matInput type="number" formControlName="aslPercentFee" required (input)="changeQuote('aslPercent', 'Fee')"/>
                    <mat-error *ngIf="form?.get('aslPercentFee')?.errors">La somma delle quote deve essere uguale a 100.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-14">
                  <mat-label class="outer-label" style="margin-left: 10px;margin-right: 0px;">{{'assistanceProjects.assistanceProjectForm.aslEuroFee' | translate}} *</mat-label>
                  <mat-form-field appearance="outline" class="error-width">
                    <input matInput type="number" formControlName="aslCharge" required (input)="changeQuote('aslPercent', 'Euro')"/>
                    <mat-error *ngIf="form?.get('aslCharge')?.errors">La somma delle quote deve essere uguale a {{form?.get('dailyFee')?.value}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="col-md-4 p-lr-2">
              <div class="h-100" style="background-color: #D9D9D9;padding-top: 5px;">
                <div class="col-md-14">
                  <mat-label class="outer-label" style="margin-left: 10px;margin-right: 22px;width: 48% !important;">{{'assistanceProjects.assistanceProjectForm.cityPercentFee' | translate}}</mat-label>
                  <mat-form-field appearance="outline" class="error-width">
                    <input matInput type="number" formControlName="cityPercentFee" (input)="changeQuote('cityPercent', 'Fee')"/>
                    <mat-error *ngIf="form?.get('cityPercentFee')?.errors">La somma delle quote deve essere uguale a 100.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-14">
                  <mat-label class="outer-label" style="margin-left: 10px;margin-right: 22px;width: 48% !important;">{{'assistanceProjects.assistanceProjectForm.cityEuroFee' | translate}}</mat-label>
                  <mat-form-field appearance="outline" class="error-width">
                    <input matInput type="number" formControlName="birthPlaceCharge" (input)="changeQuote('cityPercent', 'Euro')"/>
                    <mat-error *ngIf="form?.get('birthPlaceCharge')?.errors">La somma delle quote deve essere uguale a {{form?.get('dailyFee')?.value}}s
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="col-md-4 p-lr-2">
              <div class="h-100" style="background-color: #C7C7C7;padding-top: 5px;">
                <div class="col-md-14">
                  <mat-label class="outer-label" style="margin-left: 10px;margin-right: 22px;width: 45% !important;">{{'assistanceProjects.assistanceProjectForm.userPercentFee' | translate}}</mat-label>
                  <mat-form-field appearance="outline" class="error-width error-width-utente">
                    <input matInput type="number" formControlName="userPercentFee" (input)="changeQuote('userPercent', 'Fee')" />
                    <mat-error *ngIf="form?.get('userPercentFee')?.errors">La somma delle quote deve essere uguale a 100.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-14">
                  <mat-label class="outer-label" style="margin-left: 10px;margin-right: 22px;width: 45% !important;">{{'assistanceProjects.assistanceProjectForm.userEuroFee' | translate}}</mat-label>
                  <mat-form-field appearance="outline" class="error-width error-width-utente">
                    <input matInput type="number" formControlName="userCharge" (input)="changeQuote('userPercent', 'Euro')" />
                    <mat-error *ngIf="form?.get('userCharge')?.errors">La somma delle quote deve essere uguale a {{form?.get('dailyFee')?.value}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- OTHER INFO -->
    <div class="col">
      <mat-card class="mat-elevation-z4 h-100 n-card">
        <mat-card-header class="m-0">
          <mat-card-title style="margin-bottom: 6px;">
            <mat-icon class="file-alt"></mat-icon>
            <mat-label>{{('assistanceProjects.assistanceProjectForm.otherInfo' | translate) | uppercase}}</mat-label>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="mt-4 sm-mat-card" style="padding-bottom: 19px !important;">
          <div class="col-md-7" style="margin-left: -11px;padding-right: 0;justify-content: flex-end;display: flex;">
            <mat-label class="outer-label" style="margin-right: 0;width: 30%;">{{'assistanceProjects.assistanceProjectForm.prescriberCode' | translate}} *</mat-label>
            <mat-form-field appearance="outline" style="width: 60%;">
              <input matInput class="text-uppercase" formControlName="prescriberCode" maxlength="7" (keypress)="keyPressAlphanumeric($event)"/>
              <mat-error *ngIf="formSubmitAttempt">
                <app-form-field-error [formInput]="form.get('prescriberCode')" [isFormSubmitted]="formSubmitAttempt" [patternName]="'max'" required></app-form-field-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4"></div>

          <div class="row col-md-12" style="margin-left: 10px;">
            <div class="col-md-7" style="padding-top: 22px;padding-right: 0;">
              <app-virtual-scroll-autocomplete class="menomazione"
                                               [label]="'assistanceProjects.assistanceProjectForm.disability' | translate"
                                               [labelOutside]="true"
                                               [options]="disabilities$"
                                               [control]="disabilityFormControl()"
                                               [optionKey]="'codeDescription'"
                                               [filterKey]="'codeDescription'"
                                               [isFormSubmitted]="formSubmitAttempt"
                                               [required]="true">
              </app-virtual-scroll-autocomplete>
            </div>

            <div class="col-md-5" style="padding-left: 0;padding-right: 5px;">
              <app-virtual-scroll-autocomplete class="wid-f"
                                               [label]="'assistanceProjects.assistanceProjectForm.diagnosisICD9' | translate"
                                               [labelOutside]="true"
                                               [options]="diagnosisICD9$"
                                               [control]="diagnosisICD9FormControl()"
                                               [optionKey]="'codeDescription'"
                                               [filterKey]="'codeDescription'"
                                               [isFormSubmitted]="formSubmitAttempt"
                                               [required]="true">
              </app-virtual-scroll-autocomplete>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
