<form [formGroup]="form" (ngSubmit)="onFormSubmitWithoutDate(true)" id="{{formId}}">

  <div class="row pt-4">
    <div class="col">
      <mat-card class="mat-elevation-z4 h-100">
        <mat-card-content class="pt-4">
          <mat-form-field appearance="outline" class="w-100" *ngIf="!data.editFormData?.fromCalendar">
            <mat-label>{{'attendance.attendanceForm.plannedExitDate' | translate}}</mat-label>
            <input matInput [matDatepicker]="plannedExitDatePicker" autocomplete="off" formControlName="plannedExitDate" required>
            <mat-datepicker-toggle matSuffix [for]="$any(plannedExitDatePicker)"></mat-datepicker-toggle>
            <mat-datepicker #plannedExitDatePicker color="primary"></mat-datepicker>
            <mat-error *ngIf="formSubmitAttempt">
              <app-form-field-error [formInput]="form.get('plannedExitDate')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
            </mat-error>
            <mat-error *ngIf="formSubmitAttempt">
              <span *ngIf="(form.get('plannedExitDate')?.touched || form.get('plannedExitDate')?.dirty) && form.get('plannedExitDate')?.invalid && form.get('plannedExitDate')?.errors?.scheduleEalierInvalid">{{'attendance.attendanceForm.scheduleEalier' | translate}}</span>
              <span *ngIf="(form.get('plannedExitDate')?.touched || form.get('plannedExitDate')?.dirty) && form.get('plannedExitDate')?.invalid && form.get('plannedExitDate')?.errors?.oneDayLongInvalid">{{'attendance.attendanceForm.oneDayLong' | translate}}</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100" *ngIf="isEdit || data.editFormData?.fromCalendar">
            <mat-label>{{'attendance.attendanceForm.actualExitDate' | translate}}</mat-label>
            <input matInput [ngxMatDatetimePicker]="actualExitDatePicker" autocomplete="off" formControlName="actualExitDate">
            <mat-datepicker-toggle matSuffix [for]="$any(actualExitDatePicker)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #actualExitDatePicker color="primary"></ngx-mat-datetime-picker>
            <mat-error *ngIf="form?.get('actualExitDate')?.errors">Impossibile specificare una data futura</mat-error>
          </mat-form-field>
          <!--   <mat-form-field appearance="outline" class="w-100" *ngIf="isEdit && !data.editFormData?.fromCalendar">
              <mat-label>{{'attendance.attendanceForm.plannedReturnDate' | translate}}</mat-label>
              <input matInput [ngxMatDatetimePicker]="plannedReturnDatePicker" autocomplete="off" formControlName="plannedReturnDate" required>
              <mat-datepicker-toggle matSuffix [for]="$any(plannedReturnDatePicker)"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #plannedReturnDatePicker color="primary"></ngx-mat-datetime-picker>
              <mat-error *ngIf="formSubmitAttempt">
                <app-form-field-error [formInput]="form.get('plannedReturnDate')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
              </mat-error>
            </mat-form-field> -->
          <mat-form-field appearance="outline" class="w-100" *ngIf="!data.editFormData?.fromCalendar">
            <mat-label>{{'attendance.attendanceForm.plannedReturnDate' | translate}}</mat-label>
            <input matInput [matDatepicker]="plannedReturnDatePicker" autocomplete="off" formControlName="plannedReturnDate" required>
            <mat-datepicker-toggle matSuffix [for]="$any(plannedReturnDatePicker)"></mat-datepicker-toggle>
            <mat-datepicker #plannedReturnDatePicker color="primary"></mat-datepicker>
            <mat-error *ngIf="formSubmitAttempt">
              <app-form-field-error [formInput]="form.get('plannedReturnDate')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100" *ngIf="isEdit || data.editFormData?.fromCalendar">
            <mat-label>{{'attendance.attendanceForm.actualReturnDate' | translate}}</mat-label>
            <input matInput [ngxMatDatetimePicker]="actualReturnDatePicker" autocomplete="off" formControlName="actualReturnDate">
            <mat-datepicker-toggle matSuffix [for]="$any(actualReturnDatePicker)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #actualReturnDatePicker color="primary"></ngx-mat-datetime-picker>
            <mat-error *ngIf="form?.get('actualReturnDate')?.errors">Impossibile specificare una data futura</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'attendance.attendanceForm.reason' | translate}}</mat-label>
            <mat-select formControlName="reason" [compareWith]="compareById" required [value]="selectedReason">
              <mat-option *ngFor="let attendanceReason of attendanceReasons$ | async" [value]="attendanceReason" >
                {{attendanceReason.description}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formSubmitAttempt">
              <app-form-field-error [formInput]="form.get('reason')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100" required="">
            <mat-label>{{'attendance.attendanceForm.note' | translate}}</mat-label>
            <textarea matInput rows="5" formControlName="note"></textarea>
          </mat-form-field>
          <mat-error *ngIf="formSubmitAttempt">
            <app-form-field-error [formInput]="form.get('note')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
          </mat-error>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
