<form [formGroup]="form" (ngSubmit)="onSubmit()" id="{{formId}}" #f="ngForm" (keydown.enter)="$event.preventDefault()">
  <div class="row mt-2" *ngIf="isCampania">
    <div class="col">
      <!-- Historical residence-->
      <mat-card class="residence-card">
        <mat-card-header>
          <mat-card-title>
            <mat-icon class="home icon-rescale"></mat-icon>
            <span>{{('residence.historicalResidence' | translate)}}</span>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="sm-mat-card" style="padding-top: 10px !important;padding-bottom: 0px !important;">
          <div class="row pli-15" formGroupName="historicResidence">
            <!-- Region -->
            <app-virtual-scroll-autocomplete
              class="col-md-4"
              [label]="'residence.form.region' | translate"
              [labelOutside]="true"
              [options]="regions$"
              [control]="regionFormControl()"
              [optionKey]="'description'"
              [filterKey]="'description'"
              [isFormSubmitted]="formSubmitAttempt"
              (selectedOption)="onRegionSelection($event)"
              [required]="true"
              [isAllUpperCase]="true">
            </app-virtual-scroll-autocomplete>

            <!--  City  -->
            <app-virtual-scroll-autocomplete
              class="col-md-4"
              [label]="'residence.form.city' | translate"
              [labelOutside]="true"
              [options]="filteredCityOptions"
              [control]="cityFormControl(form.get('historicResidence'))"
              [optionKey]="'description'"
              [filterKey]="'description'"
              [isFormSubmitted]="formSubmitAttempt"
              (selectedOption)="onCitySelection($event)"
              [isAllUpperCase]="true"
              [required]="true">
            </app-virtual-scroll-autocomplete>

            <!-- ASL -->
            <app-virtual-scroll-autocomplete
              class="col-md-4"
              [label]="'residence.form.asl' | translate"
              [labelOutside]="true"
              [options]="asls$"
              [control]="aslFormControl()"
              [optionKey]="'description'"
              [filterKey]="'description'"
              [isFormSubmitted]="formSubmitAttempt"
              [isAllUpperCase]="true"
              [required]="true">
            </app-virtual-scroll-autocomplete>

            <!-- AREA -->
            <app-virtual-scroll-autocomplete
              class="col-md-4"
              [label]="'residence.form.area' | translate"
              [labelOutside]="true"
              [options]="areas$"
              [control]="areaFormControl()"
              [optionKey]="'areaCode'"
              [filterKey]="'areaCode'"
              [isFormSubmitted]="formSubmitAttempt"
              [isAllUpperCase]="true"
              [required]="this.selectedRegion?.description === 'CAMPANIA'">
            </app-virtual-scroll-autocomplete>

            <!-- DISTRICT -->
            <app-virtual-scroll-autocomplete
              class="col-md-4"
              [label]="'residence.form.district' | translate"
              [labelOutside]="true"
              [options]="districts$"
              [control]="districtFormControl()"
              [optionKey]="'description'"
              [filterKey]="'description'"
              [isFormSubmitted]="formSubmitAttempt"
              [isAllUpperCase]="true"
              [required]="this.selectedRegion?.description === 'CAMPANIA'">
            </app-virtual-scroll-autocomplete>

          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row mt-2" *ngIf="!isCampania">
    <div class="col">
      <!-- Health domicile address -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{'residence.healthDomicileAddress' | translate}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="row" formGroupName="historicResidence">

            <!-- Region -->
            <app-virtual-scroll-autocomplete
              class="col-md-4"
              [formFieldClass]="'w-100'"
              [label]="'residence.form.region' | translate"
              [options]="regions$"
              [control]="regionFormControl()"
              [optionKey]="'description'"
              [filterKey]="'description'"
              [isFormSubmitted]="formSubmitAttempt"
              (selectedOption)="onRegionSelection($event)"
              [isAllUpperCase]="true"
              [required]="true">
            </app-virtual-scroll-autocomplete>

            <!--  City  -->
            <app-virtual-scroll-autocomplete
              class="col-md-4"
              [formFieldClass]="'w-100'"
              [label]="'residence.form.city' | translate"
              [options]="filteredCityOptions"
              [control]="cityFormControl(form.get('historicResidence'))"
              [optionKey]="'description'"
              [filterKey]="'description'"
              [isFormSubmitted]="formSubmitAttempt"
              (selectedOption)="onCitySelection($event)"
              [isAllUpperCase]="true"
              [required]="true">
            </app-virtual-scroll-autocomplete>

            <!-- Address -->
            <mat-form-field appearance="outline" class="col-md-4">
              <mat-label>{{'residence.form.address' | translate}}</mat-label>
              <input oninput="this.value = this.value.toUpperCase()" matInput autocomplete="off"
                     formControlName="address">
            </mat-form-field>

            <!-- ASL -->
            <app-virtual-scroll-autocomplete
              class="col-md-4"
              [formFieldClass]="'w-100'"
              [label]="'residence.form.asl' | translate"
              [options]="asls$"
              [control]="aslFormControl()"
              [optionKey]="'description'"
              [filterKey]="'description'"
              [isFormSubmitted]="formSubmitAttempt"
              [isAllUpperCase]="true"
              [required]="true">
            </app-virtual-scroll-autocomplete>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row mt-4">
    <!-- Riga Indirizzo Residenza e Domicilio -->
    <!-- Residence address -->
    <div class="col-6" formGroupName="address">
      <mat-card class="residence-address-card">
        <mat-card-header>
          <mat-card-title>
            <mat-icon class="maps icon-rescale"></mat-icon>
            <span>{{'residence.residenceAddress' | translate}}</span>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content style="padding-top: 10px !important;padding-bottom: 0px !important;">

          <div class="row pli-8">

            <!-- Nation -->
            <div class="col-md-6">
              <app-virtual-scroll-autocomplete
                class="col-md-12"
                [formFieldClass]="'w-100'"
                [label]="'residence.form.nation' | translate"
                [labelOutside]="true"
                [options]="nations$"
                [optionKey]="'description'"
                [filterKey]="'description'"
                (selectedOption)="disableNonItalianFields($event,'address')"
                [control]="nationFormControl(form.get('address'))"
                [isEmptyOption]="true"
                [required]="true">
              </app-virtual-scroll-autocomplete>
            </div>

            <!--  City  -->
            <div class="col-md-6">
              <app-virtual-scroll-autocomplete
                class="col-md-6"
                [formFieldClass]="'w-100'"
                [label]="'residence.form.city' | translate"
                [labelOutside]="true"
                [options]="cities"
                [control]="cityFormControl(form.get('address'))"
                [optionKey]="'description'"
                [isAllUpperCase]="true"
                [filterKey]="'description'"
                [isFormSubmitted]="formSubmitAttempt"
                (selectedOption)="onCitySelectionChangeRegionProvince($event,'address')"
                [isEmptyOption]="true"
                [required]="true">
              </app-virtual-scroll-autocomplete>
            </div>

            <!--  Province  -->
            <app-virtual-scroll-autocomplete
              class="col-md-6"
              [formFieldClass]="'w-100'"
              [label]="'residence.form.province' | translate"
              [labelOutside]="true"
              [options]="provinceFromSelectedCity"
              [control]="provinceFormControl(form.get('address'))"
              [optionKey]="'description'"
              [filterKey]="'description'"
              [isFormSubmitted]="formSubmitAttempt"
              [required]="true">
            </app-virtual-scroll-autocomplete>

            <!--  Region  -->
            <app-virtual-scroll-autocomplete
              class="col-md-6"
              [formFieldClass]="'w-100'"
              [label]="'residence.form.region' | translate"
              [labelOutside]="true"
              [options]="regionFromSelectedCity"
              [control]="cityRegionFormControl(form.get('address'))"
              [optionKey]="'description'"
              [filterKey]="'description'"
              [isFormSubmitted]="formSubmitAttempt"
              [required]="true">
            </app-virtual-scroll-autocomplete>

            <!-- Address -->
            <div class="col-md-12">
              <mat-label style="display: inherit;">{{'residence.form.address' | translate}}*</mat-label>
              <mat-form-field appearance="outline" style="width: 100%;">
                <input oninput="this.value = this.value.toUpperCase()" matInput autocomplete="off"
                       formControlName="address"  style="text-transform: uppercase;">
              </mat-form-field>
            </div>

            <!-- CAP -->
            <div class="col-md-6">
              <mat-label style="display: inherit;">{{'residence.form.cap' | translate}}*</mat-label>
              <mat-form-field appearance="outline" style="width: 100%;">
                <input mask="00000" oninput="this.value = this.value.toUpperCase()" matInput autocomplete="off"
                       formControlName="cap">
              </mat-form-field>
            </div>

          </div>

        </mat-card-content>
      </mat-card>
    </div>

    <!-- Health domicile address -->
    <div class="col-6" [formGroupName]="'addressDomicile'" *ngIf="isCampania">
      <mat-card class="domicile-address-card">
        <mat-card-header>
          <mat-card-title>
            <mat-icon class="maps icon-rescale"></mat-icon>
            <span>{{isCopy ? ('residence.healthDomicileAddressCopy' | translate) : ('residence.healthDomicileAddress' | translate)}}</span>
          </mat-card-title>
          <div style="margin-top: 4px;color: #fff;font-size: 16px;font-weight: 500;">
            <mat-slide-toggle class="mr-2 h-toogler" [control]="toggleFormControl(form.get('addressDomicile'))" [isFormSubmitted]="formSubmitAttempt"
                              [value]="isCopy" (click)="onCopy()" labelPosition="before" formControlName="copiedInfo"
                              [color]="'warn'">{{'residence.copyValues' | translate}}</mat-slide-toggle>
          </div>
        </mat-card-header>

        <mat-card-content style="padding-top: 10px !important;padding-bottom: 0px !important;">
          <div class="row pli-8">

            <!-- Nation -->
            <div class="col-md-6">
              <app-virtual-scroll-autocomplete
                class="col-md-12"
                [formFieldClass]="'w-100'"
                [label]="'residence.form.nation' | translate"
                [labelOutside]="true"
                [options]="nations$"
                [optionKey]="'description'"
                [filterKey]="'description'"
                [control]="nationFormControl(form.get('addressDomicile'))"
                (selectedOption)="disableNonItalianFields($event,'addressDomicile')"
                [isEmptyOption]="true"
                [required]="false">
              </app-virtual-scroll-autocomplete>
            </div>

            <!--  City  -->
            <div class="col-md-6">
              <app-virtual-scroll-autocomplete
                class="col-md-6"
                [formFieldClass]="'w-100'"
                [label]="'residence.form.city' | translate"
                [labelOutside]="true"
                [options]="cities"
                [control]="addressDomicileCityFormControl()"
                (selectedOption)="onCitySelectionChangeRegionProvince($event,'addressDomicile')"
                [optionKey]="'description'"
                [isAllUpperCase]="true"
                [isEmptyOption]="true"
                [filterKey]="'description'">
              </app-virtual-scroll-autocomplete>
            </div>

            <!--  Province  -->
            <app-virtual-scroll-autocomplete
              class="col-md-6"
              [formFieldClass]="'w-100'"
              [label]="'residence.form.province' | translate"
              [labelOutside]="true"
              [options]="provinceFromSelectedCity"
              [control]="provinceFormControl(form.get('addressDomicile'))"
              [optionKey]="'description'"
              [filterKey]="'description'"
              [isFormSubmitted]="formSubmitAttempt">
            </app-virtual-scroll-autocomplete>

            <!--  Region  -->
            <app-virtual-scroll-autocomplete
              class="col-md-6"
              [formFieldClass]="'w-100'"
              [label]="'residence.form.region' | translate"
              [labelOutside]="true"
              [options]="regionFromSelectedCity"
              [control]="cityRegionFormControl(form.get('addressDomicile'))"
              [optionKey]="'description'"
              [filterKey]="'description'"
              [isFormSubmitted]="formSubmitAttempt">
            </app-virtual-scroll-autocomplete>

            <!-- Address -->
            <div class="col-md-12">
              <mat-label style="display: inherit;">{{'residence.form.address' | translate}}</mat-label>
              <mat-form-field appearance="outline" style="width: 100%;">
                <input oninput="this.value = this.value.toUpperCase()" matInput autocomplete="off"
                       formControlName="address"  style="text-transform: uppercase;">
              </mat-form-field>
            </div>

            <!-- CAP -->
            <div class="col-md-6">
              <mat-label style="display: inherit;">{{'residence.form.cap' | translate}}</mat-label>
              <mat-form-field appearance="outline" style="width: 100%;">
                <input  mask="00000" oninput="this.value = this.value.toUpperCase()" matInput autocomplete="off"
                        formControlName="cap">
              </mat-form-field>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>

</form>
