@import '~styles/cards';

::ng-deep app-stepper-acceptance {

  .residence-card, .domicile-address-card, .residence-address-card {
    box-shadow: none !important;
    border: 2px solid #e9e9e9;
    border-top: none;

    .mat-card-header {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }

    mat-card-content {
      background-color: #F6F6F6;
    }
	
	.icon-rescale {
		transform: scale(0.8);
	}
	
    .home {
      background-image: url('../../../../../assets/icon/home-page.png');
      background-repeat: no-repeat;
      background-size: 34px;
      height: 35px;
      width: 38px;
    }

    .maps {
      background-image: url('../../../../../assets/icon/maps-and-flags.png');
      background-repeat: no-repeat;
      background-size: 32px;
      height: 35px;
      min-width: 38px;
      min-height: 38px;
    }

    .mat-card-title {
      display: flex;
      margin-bottom: -2px !important;
      margin-top: -2px !important;
      align-items: center;
      gap: 30px;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
      background-color: #fff;
      border: 2px solid #DEDEDE;
      border-radius: 5px;
      color: transparent;
    }

    .mat-form-field-appearance-outline .mat-form-field-flex {
      height: 40px;
    }

    .mat-form-field-infix {
      padding-top: 0.1em;
    }

    .sm-mat-card:not(.full-w) .outer-label {
      margin-right: 21px;
      display: inline-flex;
    }

    .sm-mat-card:not(.full-w) mat-form-field {
      width: 55%;
    }

    app-virtual-scroll-autocomplete mat-form-field, .residenza mat-form-field {
      width: 56%;
    }

    .outer-label {
      min-width: 64px;
      display: inline-flex;
    }

    .mat-card-header-text {
      width: 57%;
    }


    .pli-15 .mat-form-field-infix {
      padding-left: 10px;
    }

    .pli-8 .mat-form-field-infix {
      padding-left: 8px;
    }

    .h-toogler {
      .mat-slide-toggle-bar {
        width: 30px;
        height: 12px;
        background-color: rgba(0,0,0,.38) !important;
      }

      .mat-slide-toggle-thumb {
        height: 16px;
        width: 16px;
        background-color: #fafafa !important;
      }

      .mat-slide-toggle-thumb-container {
        top: -2px;
      }
    }
  }

  .g-guest-btns {
    background-color: #e9e9e9;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .g-guest-btns .cancel-btn {
    padding: 0;
    border: 2px solid #D7D7D7;
    color: #ba5633;
    background-color: #fff;
    height: 32px;
    line-height: initial;
    border-radius: 4px !important;
    box-shadow: none;
    border-left: none;
  }

  .g-guest-btns .salva-btn {
    padding: 0;
    border: 2px solid #D7D7D7;
    color: #56a265;
    background-color: #fff;
    height: 32px;
    line-height: initial;
    border-radius: 4px !important;
    box-shadow: none;
    border-left: none;
  }

  .g-guest-btns .cancel {
    background-image: url('../../../../../assets/icon/cancel.png');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 7px;
    background-position-y: 5px;
    background-color: #ba5633;
    height: 30px;
    width: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: -1px;
  }

  .g-guest-btns .check {
    background-image: url('../../../../../assets/icon/check.png');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 7px;
    background-position-y: 5px;
    background-color: #56a265;
    height: 30px;
    width: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: -1px;
  }

  .g-guest-btns .next-btn {
    padding: 0;
    border: 2px solid #D7D7D7;
    color: cornflowerblue;
    background-color: #fff;
    height: 32px;
    line-height: initial;
    border-radius: 4px !important;
    box-shadow: none;
    border-left: none;
  }

  .g-guest-btns .prev-btn {
    padding: 0;
    border: 2px solid #D7D7D7;
    color: cornflowerblue;
    background-color: #fff;
    height: 32px;
    line-height: initial;
    border-radius: 4px !important;
    box-shadow: none;
    border-left: none;
  }

  .g-guest-btns .next {
    background-image: url('../../../../../assets/icon/next.svg');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 7px;
    background-position-y: 5px;
    background-color: cornflowerblue;
    height: 30px;
    width: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: -1px;
  }

  .g-guest-btns .prev {
    background-image: url('../../../../../assets/icon/prev.svg');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 7px;
    background-position-y: 5px;
    background-color: cornflowerblue;
    height: 30px;
    width: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: -1px;
  }

  .cancel-btn mat-label, .salva-btn mat-label, .ricovera-btn mat-label {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
  }

  .g-guest-btns .ricovera-btn {
    padding: 0;
    border: 2px solid #D7D7D7;
    color: #56a265;
    background-color: #fff;
    height: 32px;
    line-height: initial;
    border-radius: 4px !important;
    box-shadow: none;
    border-left: none;
  }

  .g-guest-btns .bed {
    background-image: url('../../../../../assets/icon/bed.svg');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 7px;
    background-position-y: 6px;
    background-color: #609970;
    height: 30px;
    width: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: -1px;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
