@import "~app/shared/components/generic-table/generic-table.component";

::ng-deep app-documents-table {
  td {
    border-bottom-width: 0;
  }

  .button-r {
    border-radius: 8px !important ;
  }

  .mat-row  {
    text-align: center;
  }

  th.mat-header-cell,
  th.mat-sort-header,
  td.mat-cell:not(.mat-column-expandedDetails) {
    text-align: center;
    padding-block: 15px;
  }



  tr.detail-row {
    height: 0;
  }

  tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
  }

  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }

  .element-row td {
    border-bottom-width: 0;
  }

  .element-detail {
    overflow: hidden;
    text-align: left;
    //display: flex;
  }

  .element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }

  .element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }

  .element-description {
    padding: 16px;
  }

  .element-description-attribution {
    opacity: 0.5;
  }

  :host  .mat-sort-header-container {
    display: flex;
    justify-content: center;
  }

  .full-width-table {
    width: 100%;
  }

  .data-table {
    width: 99%;
    margin: 5px auto;
    border-radius: 5px;
  }

  app-generic-table .data-table {
    box-shadow: none;
    margin: 0px !important;
    width: 100% !important;
  }

  .groupedHeader {
    background-color: #f44220;
    color: white;
  }

  /* Structure */
  table {
    width: 100%;
  }

  th {
    font-weight: bolder;
    font-size: large;
  }

  .mat-form-field {
    font-size: medium;
    width: 100%;
  }

  td, th {
    width: 15%;
  }

  .td-actions {
    width: 22%;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  .button-r {
    border-radius: 8px !important ;
  }

  //Per mettere tutto al centro all'interno delle tabelle

  th.mat-header-cell,
  th.mat-sort-header,
  td.mat-cell {
    text-align: center;
  }

  :host  .mat-sort-header-container {
    display: flex;
    margin-left: 1rem;
    justify-content: center;
  }



  .attachment {
    background-image: url('../../../../assets/icon/attachment.png');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 10px;
    background-position-y: 5px;
    background-color: #4A8397;
    height: 31px;
    width: 39px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .file {
    background-image: url('../../../../assets/icon/add-file.png');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 12px;
    background-position-y: 6px;
    background-color: #4A8397;
    height: 31px;
    width: 39px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .groupedHeader {
    text-align: left !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .mat-header-row:not(.groupedHeader) {
    background-color: #A8A8A8;
  }

  .mat-header-row:not(.groupedHeader) th {
    color: #fff;
  }

  .element-header:not(.detail-row) , .element-row:not(.detail-row) {
    display: flex;
  }

  .element-header th, .element-row td {
    width: 25%;
    padding-block: 12px;
  }

  .element-row {
    font-weight: 600;
  }

  .nodata-row td {
    width: 100%;
  }

  th .mat-sort-header-container {
    margin-top: 10px;
  }

  .element-row {
    border: 2px solid lightgray;
    margin: 1px;
  }

  .ricovera-green {
    padding: 0;
    border: 1px solid #4A8397;
    color: #4A8397;
    height: 32px;
    line-height: inherit;
  }

  .ricovera-lista-blue, .blue {
    padding: 0;
    border: 1px solid #4A8397;
    color: #4A8397 !important;
    height: 32px;
    line-height: inherit;
  }

  .elimina-red mat-label, .ricovera-green mat-label, .ricovera-lista-blue mat-label, .mat-column-actions button:not(.blue):not(.mat-warn) mat-label {
    padding-left: 10px;
    padding-right: 10px;
  }

  .blue mat-label, .mat-warn mat-label {
    padding-left: 15px;
    padding-right: 15px;
  }

  .blue, .mat-warn {
    background-color: #fff !important;
  }

  .blue {
    margin-left: -5px !important;
    margin: 0px !important;
  }

  .mat-warn {
    padding: 0;
    border: 1px solid #B7562C;
    color: #B7562C !important;
    height: 32px;
    line-height: inherit;
  }

  .mat-column-actions button:not(.blue):not(.mat-warn) {
    padding: 0;
    border: 1px solid #59A066;
    color: #59A066 !important;
    height: 32px;
    line-height: inherit;
    background-color: #fff !important;
  }

  .blue mat-icon {
    background-color: #4A8397;
    -webkit-text-fill-color: #fff;
    height: 31px;
    width: 39px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 4px;
    padding-left: 7px;
  }

  .mat-warn mat-icon {
    background-image: url('../../../../assets/icon/cross-cirlce.svg');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position-x: 11px;
    background-position-y: 7px;
    background-color: #B7562C;
    color: transparent !important;
    height: 31px;
    width: 39px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    //padding-top: 4px;

  }

  .mat-column-actions button:not(.blue):not(.mat-warn) mat-icon {
    background-color: #59A066;
    -webkit-text-fill-color: #fff;
    height: 31px;
    width: 39px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 4px;
  }

  td.mat-column-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .mat-column-actions br {
    display: none;
  }

  .mat-button-wrapper mat-label {
    margin-top: 0px !important;
  }

  .acceptance .mat-sort-header-container.mat-focus-indicator {
    border-right: 1px solid;
    height: 28px;
  }

  .lr-border {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    height: 50px;
  }

  .input-form .mat-form-field-label-wrapper {
    border: 1px solid darkgray;
    height: 20px !important;
    border-radius: 8px;
    margin-top: 14px;
  }

  .search-input .mat-form-field-underline {
    display: none !important;
  }

  .acceptance td {
    font-weight: 500;
  }

  .acceptance .mat-column-landingPhone {
    width: 30% !important;
  }

  .search-input{
    display: contents!important;
  }

  .search-input input {
    padding: 3px;
    width: calc(100% - 4px);
    height: 28px;
    margin-top: -6px;
    border-radius: 5px;
    background-color: #fff;
  }

  th.mat-header-cell:last-of-type {
    padding-right: 0px !important;
  }

  th:not(.groupedHeader) {
    font-weight: 400;
  }

  th:not(:last-child) .mat-sort-header-container.mat-focus-indicator {
    border-right: 1px solid;
    height: 28px;
  }

  app-generic-table td:nth-child(odd) {
    background-color: #E9E9E9;
  }

  app-generic-table td:nth-child(even) {
    background-color: #FAFAFA;
  }

  .rounded {
    border-radius: 8px!important;
    margin: 0!important;
    width: 115px;

  }
}

.mat-header-row {
  background-color: #A8A8A8 !important;
}
