<ng-container>

  <div class="mat-elevation-z4 data-table mx-auto acceptance-search">
    <div class="row pb-2">
  
      <!-- Filtro tabella   -->
      <div class="col-5">
        <div class="d-flex align-items-center" style="margin-left: 20px;margin-top: 11px;">
          <div style="margin-top: -7px;" class="mr-3">CERCA</div>
          <div style="width: 75%;" class="input-form">
            <mat-form-field class="p-3 search-input">
              <input matInput (keyup)="applyFilter($event)">
            </mat-form-field>
          </div>
        </div>
      </div>
  
      <!-- Switch Ospiti Eliminati -->
      <div class="col-3 p-lg-4 mr-2">
        <div class="lr-border" style="padding-top: 11px;">
          <mat-label class="mr-2 ml-4">Ospiti Dimessi</mat-label>
          <mat-slide-toggle (change)="findDischarged($event)"></mat-slide-toggle>
        </div>
      </div>
  
      <!--Bottone Ricovera e Bottone Aggiungi in lista -->
      <div class="col p-lg-4">
        <div class="float-right mr-xl-5" style="margin-top: 7px;">
        
          <button *ngIf="uploadAction && isEditable" mat-raised-button class="button-r ricovera-lista-blue" (click)="emitUploadAction()">
            <mat-icon class="attachment"></mat-icon>
            <mat-label>{{uploadAction.buttonText}}</mat-label>
          </button>

          <button *ngIf="addAction && isEditable" class="button-r  ml-2 ricovera-green" mat-raised-button (click)="emitAddAction()">
            <mat-icon class="file"></mat-icon>
            <mat-label>{{addAction.buttonText}}</mat-label>
          </button>
        </div>
  
      </div>
  
    </div>
  </div>

  <div class="mat-elevation-z24 data-table mt-4">
    <!-- Table -->
    <table mat-table [dataSource]="tableDataSource" matSort multiTemplateDataRows (matSortChange)="sortTable($event)">
      <!-- data columns -->
      <ng-container *ngFor="let tableColumn of tableColumns" [matColumnDef]="tableColumn.name">
        <!-- if sortable column header -->
        <ng-container *ngIf="tableColumn.isSortable; else notSortable">
          <th mat-header-cell *matHeaderCellDef
              [mat-sort-header]="tableColumn.name"
              [class.text-right]="tableColumn.position == 'right'"
              [class.text-center]="tableColumn.position == 'center'"
              [arrowPosition]="tableColumn.position === 'right' ? 'before' : 'after'">
            {{tableColumn.name}}
          </th>
        </ng-container>
        <!-- else not sortable -->
        <ng-template #notSortable>
          <th mat-header-cell *matHeaderCellDef
              [class.text-right]="tableColumn.position == 'right'"
              [class.text-center]="tableColumn.position == 'center'">
            {{tableColumn.name}}
          </th>
        </ng-template>
        <td mat-cell *matCellDef="let element" [class.text-right]="tableColumn.position == 'right'"
            [class.text-center]="tableColumn.position == 'center'">
          {{tableColumn.isDate ? (resolve(tableColumn.dataKey, element) | date: 'dd/MM/yyyy') : resolve(tableColumn.dataKey, element) | translate | uppercase}}
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetails">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <ng-container *ngIf="isFilterable">
              <div class="col-5" style="padding-left: 0px;">
                <div class="d-flex align-items-center" style="margin-top: 11px;">
                  <div style="margin-top: -7px;" class="mr-3">{{'FILTRA' | translate}}</div>
                  <div style="width: 75%;" class="input-form">
                    <mat-form-field class="p-3 search-input">
                      <input matInput (keyup)="applyFilterToExpandedData($event, element)">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </ng-container>
            <app-generic-table
              [tableData]="element.documents"
              [tableColumns]="documentTableColumns"
              [noSearchPanel]="true"
              [isPageable]="true"
              [paginationAlwaysShow]="true"
              [paginationSizes]="[10, 15, 20]"
              [defaultPageSize]="10"
              [mainContainerClass]="'width-100'"
              [isEditable]="isEditable"
              (ngEdit)="openFormDialog($event)"
              (ngDelete)="onDeleteClick($event)"
              (ngDownload)="onDownloadClick($event)"
              (sort)="onSort($event)"
              [rowActionIcons]="{edit: 'edit', delete: 'delete_outline',  apri: 'file_download_outline', position: 'center'}">
            </app-generic-table>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="element-header"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
          [class.expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetails']" class="detail-row"></tr>

      <!-- No data row -->
      <tr class="mat-row nodata-row" *matNoDataRow>
        <td class="mat-cell" [colSpan]="displayedColumns.length">{{'noData' | translate}}</td>
      </tr>
    </table>
    <!-- Pagination -->
    <mat-paginator [pageSizeOptions]="paginationSizes"
                   [pageSize]="defaultPageSize">
    </mat-paginator>
  </div>
</ng-container>
