<form [formGroup]="form" (ngSubmit)="onSubmit(true)" id="{{formId}}">

  <div class="row pt-4" id="guest-info">
	    <div class="col">
	      <mat-card class="mat-elevation-z4 h-100 n-card">
	        <mat-card-header class="m-0">
	          <mat-card-title>
	            <mat-icon class="mat-icon-size">person</mat-icon>
	            <mat-label>{{('aslRegistry.aslRegistryForm.generalData' | translate) | titlecase}}</mat-label>
	          </mat-card-title>
	        </mat-card-header>
	
	        <mat-card-content class="bg-off-white">
	          <div class="row pb-2">
	            <!-- Description -->
	            <div class="col-10">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.description' | translate}}*</label>
	              <input type="text" class="form-control uppercase" oninput="this.value = this.value.toUpperCase()" formControlName="description" style="width: 100%;"/>
	              <mat-error *ngIf="formSubmitAttempt">
	                <app-form-field-error [formInput]="form.get('description')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
	              </mat-error>
	            </div>
			  </div>
			  
			  <div class="row pb-2">
	            <!-- Supplier code -->
	            <div class="col-3">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.supplierCode' | translate}}*</label>
	              <input type="text" class="form-control uppercase" oninput="this.value = this.value.toUpperCase()" formControlName="supplierCode"/>
	              <mat-error *ngIf="formSubmitAttempt">
	                <app-form-field-error [formInput]="form.get('supplierCode')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
	              </mat-error>
	            </div>
	
	            <!-- CUU (IPA) -->
	            <div class="col-3">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.cuuIpa' | translate}}*</label>
	              <input type="text" class="form-control uppercase" oninput="this.value = this.value.toUpperCase()" formControlName="cuuIpa"/>
	              <mat-error *ngIf="formSubmitAttempt">
	                <app-form-field-error [formInput]="form.get('cuuIpa')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
	              </mat-error>
	            </div>
	            
	            <!-- PIVA -->
	            <div class="col-3">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.piva' | translate}}*</label>
	              <input type="text" class="form-control uppercase" oninput="this.value = this.value.toUpperCase()" formControlName="piva"/>
	              <mat-error *ngIf="formSubmitAttempt">
	                <app-form-field-error [formInput]="form.get('piva')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
	              </mat-error>
	            </div>
	            
	            <!-- FISCAL CODE -->
	            <div class="col-3">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.fiscalCode' | translate}}*</label>
	              <input type="text" class="form-control uppercase" oninput="this.value = this.value.toUpperCase()" formControlName="fiscalCode"/>
	              <mat-error *ngIf="formSubmitAttempt">
	                <app-form-field-error [formInput]="form.get('fiscalCode')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
	              </mat-error>
	            </div>
	          </div>
	          
	          <div class="row pb-2">
	            <!-- ADDRESS -->
	            <div class="col-3">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.address' | translate}}*</label>
	              <input type="text" class="form-control uppercase" oninput="this.value = this.value.toUpperCase()" formControlName="address"/>
	              <mat-error *ngIf="formSubmitAttempt">
	                <app-form-field-error [formInput]="form.get('address')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
	              </mat-error>
	            </div>
	
	            <!-- CITY -->
	            <div class="col-3">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.city' | translate}}*</label>
	                <mat-select class="form-control" formControlName="city" [compareWith]="compare" [value]="selectedAsl?.city" (selectionChange)="onChangeCity()">
		                <mat-option *ngFor="let city of selectedAslCities" [value]="city">{{city?.description | uppercase}}</mat-option>
	              	</mat-select>
	              	<mat-error *ngIf="formSubmitAttempt">
	                	<app-form-field-error [formInput]="form.get('city')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
	              	</mat-error>
	            </div>
	            
	            <!-- PROV -->
	            <div class="col-3">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.province' | translate}}*</label>
	              <input type="text" class="form-control uppercase" oninput="this.value = this.value.toUpperCase()" formControlName="province"/>
	              <mat-error *ngIf="formSubmitAttempt">
	                <app-form-field-error [formInput]="form.get('province')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
	              </mat-error>
	            </div>
	            
	            <!-- CAP -->
	            <div class="col-3">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.cap' | translate}}*</label>
	              <input type="number" class="form-control" oninput="this.value = this.value.toUpperCase()" formControlName="cap"/>
	              <mat-error *ngIf="formSubmitAttempt">
	                <app-form-field-error [formInput]="form.get('cap')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
	              </mat-error>
	            </div>
	          </div>
	        </mat-card-content>
	      </mat-card>
	    </div>
    </div>
    
    <div class="row pt-4" id="guest-info">
	    <div class="col">
	      <mat-card class="mat-elevation-z4 h-100 n-card">
	        <mat-card-header class="m-0">
	          <mat-card-title>
	            <mat-icon class="mat-icon-size">receipt</mat-icon>
	            <mat-label>{{('aslRegistry.aslRegistryForm.invoiceData' | translate) | titlecase}}</mat-label>
	          </mat-card-title>
	        </mat-card-header>
	
	        <mat-card-content class="bg-off-white">
			  <div class="row pb-2">
	            <!-- FISCAL NATURE -->
	            <div class="col-3">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.fiscalNature' | translate}}*</label>
	              <mat-select class="form-control" formControlName="fiscalNature" [compareWith]="compare">
	                <mat-option value="N1">N1</mat-option>
              		<mat-option value="N4">N4</mat-option>
	              </mat-select>
	              <mat-error *ngIf="formSubmitAttempt">
	                <app-form-field-error [formInput]="form.get('fiscalNature')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
	              </mat-error>
	            </div>
	
	            <!-- PAY CODE -->
	            <div class="col-3">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.payCode' | translate}}*</label>
	              <mat-select class="form-control" formControlName="payCode" [compareWith]="compare">
	                <mat-option value="MP03">MP03</mat-option>
              		<mat-option value="MP05">MP05</mat-option>
              		<mat-option value="MP01">MP01</mat-option>
	              </mat-select>
	              <mat-error *ngIf="formSubmitAttempt">
	                <app-form-field-error [formInput]="form.get('payCode')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
	              </mat-error>
	            </div>
	            
	            <!-- PAY TYPE -->
	            <div class="col-3">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.payType' | translate}}*</label>
	              <mat-select class="form-control" formControlName="payType" [compareWith]="compare">
	                <mat-option value="Assegno Circolare">Assegno Circolare</mat-option>
              		<mat-option value="Bonifico">Bonifico</mat-option>
              		<mat-option value="Contanti">Contanti</mat-option>
	              </mat-select>
	              <mat-error *ngIf="formSubmitAttempt">
	                <app-form-field-error [formInput]="form.get('payType')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
	              </mat-error>
	            </div>
	            
	            <!-- CIG -->
	            <div class="col-3">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.cig' | translate}}</label>
	              <input type="text" class="form-control uppercase" oninput="this.value = this.value.toUpperCase()" formControlName="cig"/>
	              <mat-error *ngIf="formSubmitAttempt">
	                <app-form-field-error [formInput]="form.get('cig')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
	              </mat-error>
	            </div>
	          </div>
	          
	          <div class="row pb-2">
	            <!-- BANK -->
	            <div class="col-3">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.bank' | translate}}*</label>
	              <input type="text" class="form-control uppercase" oninput="this.value = this.value.toUpperCase()" formControlName="bank"/>
	              <mat-error *ngIf="formSubmitAttempt">
	                <app-form-field-error [formInput]="form.get('bank')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
	              </mat-error>
	            </div>
	
	            <!-- IBAN -->
	            <div class="col-3">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.iban' | translate}}*</label>
	              <input type="text" class="form-control uppercase" oninput="this.value = this.value.toUpperCase()" formControlName="iban"/>
	              <mat-error *ngIf="formSubmitAttempt">
	                <app-form-field-error [formInput]="form.get('iban')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
	              </mat-error>
	            </div>
	            
	            <!-- INVOICE EXPIRATION DAYS -->
	            <div class="col-2">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.invoiceExpirationDays' | translate}}*</label>
	              <input type="number" min="1" class="form-control uppercase" formControlName="invoiceExpirationDays"/>
	              <mat-error *ngIf="formSubmitAttempt">
	                <app-form-field-error [formInput]="form.get('invoiceExpirationDays')" [isFormSubmitted]="formSubmitAttempt" [min]="1"></app-form-field-error>
	              </mat-error>
	            </div>
	            
	            <!-- MEASURE UNIT -->
	            <div class="col-2">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.measureUnit' | translate}}*</label>
	              <input type="text" class="form-control uppercase" oninput="this.value = this.value.toUpperCase()" formControlName="measureUnit"/>
	              <mat-error *ngIf="formSubmitAttempt">
	                <app-form-field-error [formInput]="form.get('measureUnit')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
	              </mat-error>
	            </div>
	            
	            <!-- ADMINISTRATION REFERENCE -->
	            <div class="col-2">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.administrationReference' | translate}}*</label>
	              <input type="text" class="form-control uppercase" oninput="this.value = this.value.toUpperCase()" formControlName="administrationReference"/>
	              <mat-error *ngIf="formSubmitAttempt">
	                <app-form-field-error [formInput]="form.get('administrationReference')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
	              </mat-error>
	            </div>
	          </div>
	          
	          <div class="row pb-2">
	            <!-- CAUSAL -->
	            <div class="col-10">
	              <label class="f-500">{{'aslRegistry.aslRegistryForm.causal' | translate}}*</label>
	              <input type="text" class="form-control uppercase" oninput="this.value = this.value.toUpperCase()" formControlName="causal" style="width: 100%;"/>
	              <mat-error *ngIf="formSubmitAttempt">
	                <app-form-field-error [formInput]="form.get('causal')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
	              </mat-error>
	            </div>
			  </div>
	        </mat-card-content>
	      </mat-card>
	    </div>
  </div>
  
  <div class="row pt-4" id="guest-info">
	    <div class="col">
	      <mat-card class="mat-elevation-z4 h-100 n-card">
	        <mat-card-header class="m-0">
	          <mat-card-title>
	            <mat-icon>receipt</mat-icon>
	            <mat-label>{{('aslRegistry.aslRegistryForm.invoiceConfiguration' | translate) | titlecase}}</mat-label>
	          </mat-card-title>
	        </mat-card-header>
	
	        <mat-card-content class="bg-off-white">
			  <div class="row pb-2">
	            <!-- RSA FLAGS -->
	            <div class="col-3">
	              <div style="display: flex;width: 150%;">
	              	  <mat-slide-toggle formControlName="reducedBillInvoiceRSA">
		                {{'aslRegistry.aslRegistryForm.reducedBillInvoiceRSA' | translate}}
		              </mat-slide-toggle>
				  </div>
				  <div style="display: flex;width: 150%;">
				      <mat-slide-toggle formControlName="groupByDistrictRSA">
		                {{'aslRegistry.aslRegistryForm.groupByDistrictRSA' | translate}}
		              </mat-slide-toggle>
                  </div>
	            </div>
	
	            <!-- BILL TAX RSA -->
	            <div class="col-3">
	              <div style="display: flex;width: 150%;">
	              	  <mat-slide-toggle formControlName="billTaxRSA">
		                {{'aslRegistry.aslRegistryForm.billTaxRSA' | translate}}
		              </mat-slide-toggle>
                  </div>
                  <div style="display: flex;width: 150%;">
				      <mat-slide-toggle formControlName="isPerformanceTypeDescriptionRSA">
		                {{'aslRegistry.aslRegistryForm.isPerformanceTypeDescriptionRSA' | translate}}
		              </mat-slide-toggle>
                  </div>
	            </div>
	            
	            <div class="col-3">
                  <div style="display: flex;width: 150%;">
				      <mat-slide-toggle formControlName="isProvidedTreatmentsSummaryRSA">
		                {{'aslRegistry.aslRegistryForm.isProvidedTreatmentsSummaryRSA' | translate}}
		              </mat-slide-toggle>
                  </div>
	            </div>
	          </div>
	        </mat-card-content>
	      </mat-card>
	    </div>
  </div>

</form>
