<form [formGroup]="form" (ngSubmit)="onSubmit(true)" id="{{formId}}">
  <div class="row pt-4 pb-1">
    <div class="col">
      <mat-card class="mat-elevation-z4 h-100">
        <mat-card-content class="pt-4">
          <div class="row">
            <!-- Guest -->
            <app-virtual-scroll-autocomplete class="col-md-12"
                                             [label]="'documents.documentsForm.guest' | translate"
                                             [options]="guests"
                                             [control]="guestFormControl()"
                                             [optionKey]="'fullName'"
                                             [filterKey]="'fullName'"
                                             [isFormSubmitted]="formSubmitAttempt"
                                             [required]="true"
                                             [formFieldClass]="'col-md-12 pl-0 pr-0'">
            </app-virtual-scroll-autocomplete>

          </div>
          <div class="row">
            <!-- Document Template -->
            <mat-form-field appearance="outline" class="col-md-12">
              <mat-label>{{'documents.documentsForm.documentType' | translate}}</mat-label>
              <mat-select formControlName="document" required>
                <mat-option *ngFor="let document of documentTemplates$ | async" [value]="document">
                  {{ document.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formSubmitAttempt">
                <app-form-field-error [formInput]="form.get('document')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
