<form [formGroup]="form" (ngSubmit)="onFormSubmitWithoutDate(true)" id="{{formId}}">

  <div class="row pt-4">
    <div class="col">
      <mat-card class="mat-elevation-z4 h-100">
        <mat-card-content class="pt-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'fatturazioneHistory.form.status' | translate}}</mat-label>
            <mat-select formControlName="invoiceStatus" [compareWith]="compareById" [value]="selectedStatus"
                        (selectionChange)="statusChange($event.value)">
              <mat-option *ngFor="let invoiceStatus of invoiceStatuses$ | async" [value]="invoiceStatus" >
                {{invoiceStatus.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'fatturazioneHistory.form.payment' | translate}}</mat-label>
            <mat-select formControlName="payment" [compareWith]="compareById" [value]="selectedPayment" [required]="this.paymentDateInvalid">
              <mat-option *ngFor="let invoicePayment of invoicePayments$ | async" [value]="invoicePayment" >
                {{invoicePayment.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100" *ngIf="isEdit">
            <mat-label>{{'fatturazioneHistory.form.paymentDate' | translate}}</mat-label>
            <input matInput [ngxMatDatetimePicker]="paymentDatePicker" autocomplete="off" formControlName="paymentDate" [required]="this.paymentDateInvalid">
            <mat-datepicker-toggle matSuffix [for]="$any(paymentDatePicker)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #paymentDatePicker color="primary"></ngx-mat-datetime-picker>
            <mat-error *ngIf="formSubmitAttempt">
              <app-form-field-error [formInput]="form.get('paymentDate')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
            </mat-error>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
