<div class="text-left p-0 mx-4">

<!--  <div class="d-flex justify-content-between mt-2">-->
<!--    <span class="detail-col-1">Tipologia</span>-->
<!--    <span class="detail-col-2">RSA</span>-->
<!--  </div>-->

  <div class="d-flex justify-content-between mt-2">
    <span class="detail-col-1">Regime</span>
    <span class="detail-col-2">{{element.guestMinimal.recoveryTaxRegime.recoveryTaxRegimeType.description}}</span>
  </div>

  <div class="d-flex justify-content-between mt-2">
    <span class="detail-col-1">Menomazione</span>
    <span class="detail-col-2">{{element.disability.description}}</span>
  </div>

  <div class="d-flex justify-content-between mt-2">
    <span class="detail-col-1">Codice ICD9</span>
    <span class="detail-col-2">{{element.diagnosisICD9.description}}</span>
  </div>

</div>
