<form [formGroup]="form" (ngSubmit)="onSubmit()" id="{{formId}}">
  <div class="row">
    <!-- Description -->
    <mat-form-field appearance="outline" class="col-md-4">
      <mat-label>{{'contract.contractForm.description' | translate}}</mat-label>
      <input matInput formControlName="description" required>
      <mat-error *ngIf="formSubmitAttempt">
        <app-form-field-error [formInput]="form.get('description')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
      </mat-error>
    </mat-form-field>

    <!-- Daily Price -->
    <mat-form-field appearance="outline" class="col-md-4">
      <mat-label>{{'contract.contractForm.dailyPrice' | translate}}</mat-label>
      <input matInput type="number" step="0.01" formControlName="dailyPrice" required>
      <mat-error *ngIf="formSubmitAttempt">
        <app-form-field-error [formInput]="form.get('dailyPrice')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
      </mat-error>
    </mat-form-field>

    <!-- Monthly Price -->
    <mat-form-field appearance="outline" class="col-md-4">
      <mat-label>{{'contract.contractForm.monthlyPrice' | translate}}</mat-label>
      <input matInput type="number" step="0.01" formControlName="monthlyPrice" required>
      <mat-error *ngIf="formSubmitAttempt">
        <app-form-field-error [formInput]="form.get('monthlyPrice')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <!-- Nature Invoice -->
    <mat-form-field appearance="outline" class="col-md-4">
      <mat-label>{{'contract.contractForm.natureInvoiceType' | translate}}</mat-label>
      <mat-select formControlName="natureInvoiceType" required [compareWith]="compare">
        <mat-option *ngFor="let option of natureInvoiceTypes$ | async" [value]="option">
          {{option.description}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formSubmitAttempt">
        <app-form-field-error [formInput]="form.get('natureInvoiceType')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
      </mat-error>
    </mat-form-field>

    <!-- VAT (IVA) -->
    <mat-form-field appearance="outline" class="col-md-4">
      <mat-label>{{'contract.contractForm.iva' | translate}}</mat-label>
      <input matInput type="number" step="0.01" formControlName="iva" required>
      <mat-error *ngIf="formSubmitAttempt">
        <app-form-field-error [formInput]="form.get('iva')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <!-- Private Room -->
    <div class="col-md-4">
      <mat-checkbox class="mr-4" formControlName="privateRoom" color="warn">
        {{'contract.contractForm.privateRoom' | translate}}
      </mat-checkbox>
    </div>
  </div>
</form>
