<form [formGroup]="form" (ngSubmit)="onSubmit()" id="{{formId}}" #f="ngForm" (keydown.enter)="$event.preventDefault()">

  <!-- Riga Anagrafica e Altre Info -->
  <div class="row mt-4">

    <!-- Anagrafica -->
    <div class="col">
      <mat-card class="anagrafica-card">
        <mat-card-header>
          <mat-card-title>
            <mat-icon class="profile icon-rescale"></mat-icon>
            <span>{{'registry.registry' | translate}}</span>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="sm-mat-card" style="padding-top: 10px !important;padding-bottom: 0px !important;">
          <!-- Name -->
          <div class="row pli-8">
            <div class="col-md-6">
              <mat-label style="display: inherit;">{{'registry.form.name' | translate}}*</mat-label>
              <mat-form-field appearance="outline" style="width: 100%;">
                <input oninput="this.value = this.value.toUpperCase()" matInput autocomplete="off"
                       formControlName="firstName" style="text-transform: uppercase;" required >
                <mat-error *ngIf="formSubmitAttempt">
                  <app-form-field-error [formInput]="form.get('firstName')"
                                        [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Surname -->
            <div class="col-md-6">
              <mat-label style="display: inherit;">{{'registry.form.surname' | translate}}*</mat-label>
              <mat-form-field appearance="outline" style="width: 100%;">
                <input oninput="this.value = this.value.toUpperCase()" matInput autocomplete="off"
                       formControlName="lastName" style="text-transform: uppercase;" required>
                <mat-error *ngIf="formSubmitAttempt">
                  <app-form-field-error [formInput]="form.get('firstName')"
                                        [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row pli-8">
            <!-- Birth date -->
            <div class="col-md-6">
              <mat-label style="display: inherit;">{{'registry.form.birthDate' | translate}}*</mat-label>
              <mat-form-field appearance="outline" style="width: 100%;">
                <input matInput [matDatepicker]="picker" autocomplete="off" formControlName="birthDate" class="text-uppercase">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker color="primary"></mat-datepicker>
                <mat-error *ngIf="formSubmitAttempt">
                  <app-form-field-error [formInput]="form?.get('birthDate')"
                                        [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Birth city -->
            <app-virtual-scroll-autocomplete
              class="col-md-6"
              [formFieldClass]="'w-100'"
              [label]="'registry.form.birthPlace' | translate"
              [labelOutside]="true"
              [options]="cities"
              [control]="birthPlaceFormControl()"
              [isAllUpperCase]="true"
              [optionKey]="'description'"
              [filterKey]="'description'"
              [isFormSubmitted]="formSubmitAttempt"
              [required]="true">
            </app-virtual-scroll-autocomplete>


            <!-- Mobile -->
            <div class="col-md-6">
              <mat-label style="display: inherit;">{{'registry.form.mobile' | translate}}</mat-label>
              <mat-form-field appearance="outline" style="width: 100%;">
                <input matInput
                       autocomplete="off" formControlName="mobilePhone" prefix="+39 " mask="000 00000000">
              </mat-form-field>
              <mat-error *ngIf="formSubmitAttempt">
                <app-form-field-error [formInput]="form.get('mobilePhone')"
                                      [isFormSubmitted]="formSubmitAttempt"
                                      [patternName]="'numero di cellulare'">

                </app-form-field-error>
              </mat-error>
            </div>

            <!-- Phone -->
            <div class="col-md-6">
              <mat-label style="display: inherit;">{{'registry.form.phone' | translate}}</mat-label>
              <mat-form-field appearance="outline" style="width: 100%;">
                <input type="text" pattern="[0-9]*" matInput autocomplete="off" formControlName="landingPhone">
              </mat-form-field>
            </div>

            <!-- Sex -->
            <div class="col-md-6">
              <mat-label style="display: inherit;">{{'registry.form.sex' | translate}}</mat-label>
              <mat-radio-group formControlName="sex" class="row">
                <div class="col-12">
                  <mat-radio-button [value]="true" style="margin-top:10px; margin-right: 15px">{{'registry.male' | translate}}</mat-radio-button>
                  <mat-radio-button [value]="false" style="margin-top:10px">{{'registry.female' | translate}}</mat-radio-button>
                </div>
              </mat-radio-group>
            </div>
            <!-- Codice Fiscale -->
            <div class="col-md-6">

              <mat-label style="display: inherit;">{{'registry.form.fiscalCode' | translate}}*</mat-label>
              <mat-form-field appearance="outline" style="width: 100%;">
                <input oninput="this.value = this.value.toUpperCase()" matInput autocomplete="off"
                       formControlName="fiscalCode" required (input)="checkCFFromArchive()" [class.archived]="sameArchivedCF && !isHospitalized && !isFromArchive">
                <mat-error *ngIf="formSubmitAttempt">
                  <app-form-field-error [formInput]="form.get('fiscalCode')" [isFormSubmitted]="formSubmitAttempt"
                                        [patternName]="'codice fiscale'"></app-form-field-error>
                </mat-error>
              </mat-form-field>
            </div>

          <div class="btn-block">
		 		<!-- Retrieve button -->
		 		<button mat-raised-button style="float: right;width: 200px;margin-right:20px" *ngIf="!isHospitalized && !isFromArchive"
		         	class="btn rounded mat-elevation-z8 mb-3 button-r retrieve-btn" [disabled]="buttonDisabled" (click)="manageConfirmCopyDialog()">
		   			<mat-label>Recupera Anagrafica</mat-label>
				</button>
  	 	  </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>

    <!-- Other Info -->
    <div class="col">
      <mat-card class="h-100 identifier-card">
        <mat-card-header>
          <mat-card-title>
            <mat-icon class="google-docs icon-rescale"></mat-icon>
            <span>{{'registry.otherInfo' | translate}}</span>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="sm-mat-card" style="padding-top: 10px !important;padding-bottom: 0px !important;">
          <!-- Identifier -->
          <div>
            <mat-label style="display: inherit;">{{'registry.form.identifier' | translate}}</mat-label>
            <mat-form-field appearance="outline" style="width: 100%;">
              <input oninput="this.value = this.value.toUpperCase()" matInput autocomplete="off"
                     formControlName="numberIdentifier">
            </mat-form-field>
          </div>
          <div class="row pli-8">
            <!-- Disability -->
            <div class="col-md-6">
              <mat-label style="display: inherit;">{{'registry.form.disability' | translate}}</mat-label>
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-select formControlName="disability">
                  <mat-option [value]="true">{{'true' | translate}}</mat-option>
                  <mat-option [value]="false">{{'false' | translate}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- Medico Curante -->
            <div class="col-md-6">
              <mat-label style="display: inherit;">{{'registry.form.doctor' | translate}}</mat-label>
              <mat-form-field appearance="outline" style="width: 100%;">
                <input oninput="this.value = this.value.toUpperCase()" matInput autocomplete="off"
                       formControlName="doctor">
              </mat-form-field>
            </div>

            <!-- Email Medico-->
            <div class="col-md-6">
              <mat-label style="display: inherit;">{{'registry.form.doctorEmail' | translate}}</mat-label>
              <mat-form-field appearance="outline" style="width: 100%;">
                <input matInput type="email"  autocomplete="off"
                       formControlName="doctorMail" class="text-uppercase">
                <mat-icon matSuffix>alternate_email</mat-icon>
                <mat-error *ngIf="formSubmitAttempt">
                  <app-form-field-error [formInput]="form.get('doctorMail')"
                                        [isFormSubmitted]="formSubmitAttempt" [patternName]="'e-mail'"></app-form-field-error>
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Pink card expiration date -->
            <div class="col-md-6">
              <mat-label style="display: inherit;">{{'registry.form.cardExpirationDate' | translate}}</mat-label>
              <mat-form-field appearance="outline" style="width: 100%;">
                <input class="text-uppercase" matInput oninput="this.value = this.value.toUpperCase()"  [matDatepicker]="picker2" autocomplete="off"
                       formControlName="expirationCardDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
              </mat-form-field>
            </div>

          </div>


          <!-- Not Autonomous -->
          <div class="row">
            <div class="col-md-4">
              <mat-checkbox formControlName="independent" [labelPosition]="'after'">
                {{'registry.form.notAutonomous' | translate}}
              </mat-checkbox>
            </div>
          </div>
          <!-- Privacy-->
          <div class="row">
            <div class="col-md-4">
              <mat-checkbox formControlName="privacy" [labelPosition]="'after'">
                {{'registry.form.privacy' | translate}}
              </mat-checkbox>
            </div>
          </div>
        </mat-card-content>


      </mat-card>
    </div>
  </div>

  <!-- Photo and Note -->
  <div class="row mt-4">
    <!-- Photo -->
    <div class="col">
      <mat-card class="h-100 identifier-card">
        <mat-card-header>
          <mat-card-title>
            <mat-icon class="attachment icon-rescale"></mat-icon>
            <span>{{'registry.photo' | translate}}</span>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="img-block">
            <div style="width: 30%;">
              <img [src]="lastPicContent" *ngIf="isProfilePicturePresent()" alt="profile_image" style="border-radius: 20%;object-fit: cover;width: 130px;height: 130px;"/>
              <img [src]="url" *ngIf="!isProfilePicturePresent()" height="90" width="90" alt="profile_image" style="border-radius: 50%"/>
            </div>

            <app-file-upload style="width: 70%;"
                             [accept]="fileTypes.join(',')"
                             [files]="files"
                             [browseFileLabel]="'registry.selectPhoto' | translate"
                             [borderColor]="getFileUploadBorder()"
                             [textColor]="getFileUploadTextColor()"
                             (fileUploadedChange)="onFileUploadedChange($event)"
                             (validationChange)="onValidationChange($event)"
                             [isDisabled]="form.disabled">
            </app-file-upload>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Notes -->
    <div class="col">
      <mat-card class="note-card">
        <mat-card-header>
          <mat-card-title>
            <mat-icon class="google-docs" style="transform: scale(0.8)"></mat-icon>
            <span>{{'registry.note' | translate}}</span>
          </mat-card-title>

        </mat-card-header>

        <mat-card-content>
          <mat-form-field appearance="outline">
                <textarea oninput="this.value = this.value.toUpperCase()" matInput
                          formControlName="note"
                          cdkTextareaAutosize
                          cdkAutosizeMinRows="3"
                          cdkAutosizeMaxRows="3">
                </textarea>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
