@import '~styles/cards';

//.mat-form-field {
//  display: block;
//  font-size: 14px;
//  margin-bottom: 1%;
//}

:host ::ng-deep .mat-form-field {
  display: block;
  font-size: 14px;
  margin-bottom: 2%;
}


.img-block {
  flex-direction: row;
  display: flex;
}

::ng-deep app-stepper-acceptance {
  .mat-stepper-horizontal {
    margin-top: 30px;
  }

  .mat-step-icon:not(.mat-step-icon-state-error).mat-step-icon-state-number .mat-step-icon-content {
    display: none;
  }

  .mat-step-icon.mat-step-icon-state-number, .mat-step-icon.mat-step-icon-state-error {
    width: 100px;
    border-radius: 0px;
    border: 1px solid #db3535;
    background-color: #fff;
    color: #db3535;
    width: 150px;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .mat-step-icon.mat-step-icon-state-error .mat-step-icon-content {
    left: 23% !important;
  }

  .mat-step-label-error {
    height: 28px;
    padding-left: 23px;
  }

  .mat-step-label-error .mat-step-text-label {
    height: 15px;
    font-size: 13px;
  }

  .mat-step-sub-label-error {
    margin-top: -5px;
  }

  .mat-step-icon.mat-step-icon-state-number.mat-step-icon-selected {
    background-color: #dd553d;
  }

  .mat-step-label.mat-step-label-active {
    position: absolute;
    color: #dd553d !important;
  }

  .mat-step-label.mat-step-label-active.mat-step-label-selected {
    color: #fff !important;
  }

  .mat-stepper-horizontal-line {
    display: none;
  }

  .mat-step-header {
    padding-right: 0px;
    padding-left: 15px;
    height: 24px;
    justify-content: center;
    margin-bottom: -1px;
  }

  .mat-step-header:first-child {
    padding-left: 1px;
  }

  .mat-horizontal-stepper-header-container {
    border-bottom: 2.5px solid #dd553d;
    margin-left: 2px;
  }

  .mat-horizontal-stepper-header .mat-step-icon {
    margin-right: 0px;
  }

  .mat-horizontal-content-container {
    padding-left: 0;
    padding-right: 5px;
    margin-left: -5px;
  }

  .anagrafica-card, .identifier-card {
    box-shadow: none !important;
    border: 2px solid #e9e9e9;
    border-top: none;

    .mat-card-header {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
      background-color: #fff;
      border: 2px solid #DEDEDE;
      border-radius: 5px;
      color: transparent;
    }

    .mat-form-field-appearance-outline .mat-form-field-flex {
      height: 40px;
    }

    .mat-form-field-infix {
      padding-top: 0.1em;
    }

	.icon-rescale {
		transform: scale(0.8);
	}
	
    .profile {
      background-image: url('../../../../../assets/icon/profile.png');
      background-repeat: no-repeat;
      background-size: 38px;
      background-position-y: -2px;
      height: 35px;
      width: 38px;
    }

    .google-docs {
      background-image: url('../../../../../assets/icon/google-docs.png');
      background-repeat: no-repeat;
      background-size: 32px;
      background-position-y: 1px;
      height: 35px;
      width: 38px;
    }

    .attachment {
      background-image: url('../../../../../assets/icon/attachment.png');
      background-repeat: no-repeat;
      background-size: 30px;
      background-position-y: 2px;
      height: 35px;
      width: 38px;
    }

    .mat-card-title {
      display: flex;
      margin-bottom: -2px !important;
      margin-top: -2px !important;
      align-items: center;
      gap: 30px;
    }
  }

  .g-guest-btns {
    background-color: #e9e9e9;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .g-guest-btns .cancel-btn {
    padding: 0;
    border: 2px solid #D7D7D7;
    color: #ba5633;
    background-color: #fff;
    height: 32px;
    line-height: initial;
    border-radius: 4px !important;
    box-shadow: none;
    border-left: none;
  }

  .g-guest-btns .salva-btn {
    padding: 0;
    border: 2px solid #D7D7D7;
    color: #56a265;
    background-color: #fff;
    height: 32px;
    line-height: initial;
    border-radius: 4px !important;
    box-shadow: none;
    border-left: none;
  }

  .g-guest-btns .next-btn {
    padding: 0;
    border: 2px solid #D7D7D7;
    color: cornflowerblue;
    background-color: #fff;
    height: 32px;
    line-height: initial;
    border-radius: 4px !important;
    box-shadow: none;
    border-left: none;
  }

  .g-guest-btns .prev-btn {
    padding: 0;
    border: 2px solid #D7D7D7;
    color: cornflowerblue;
    background-color: #fff;
    height: 32px;
    line-height: initial;
    border-radius: 4px !important;
    box-shadow: none;
    border-left: none;
  }

  .g-guest-btns .next {
    background-image: url('../../../../../assets/icon/next.svg');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 7px;
    background-position-y: 5px;
    background-color: cornflowerblue;
    height: 30px;
    width: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: -1px;
  }

  .g-guest-btns .prev {
    background-image: url('../../../../../assets/icon/next.svg');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 7px;
    background-position-y: 5px;
    background-color: cornflowerblue;
    height: 30px;
    width: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: -1px;
  }

  .g-guest-btns .cancel {
    background-image: url('../../../../../assets/icon/cancel.png');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 7px;
    background-position-y: 5px;
    background-color: #ba5633;
    height: 30px;
    width: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: -1px;
  }

  .g-guest-btns .check {
    background-image: url('../../../../../assets/icon/check.png');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 7px;
    background-position-y: 5px;
    background-color: #56a265;
    height: 30px;
    width: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: -1px;
  }

  .cancel-btn mat-label, .salva-btn mat-label, .ricovera-btn mat-label {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
  }

  .g-guest-btns .ricovera-btn {
    padding: 0;
    border: 2px solid #D7D7D7;
    color: #56a265;
    background-color: #fff;
    height: 32px;
    line-height: initial;
    border-radius: 4px !important;
    box-shadow: none;
    border-left: none;
  }

  .g-guest-btns .bed {
    background-image: url('../../../../../assets/icon/bed.svg');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 7px;
    background-position-y: 6px;
    background-color: #609970;
    height: 30px;
    width: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: -1px;
  }
}

mat-card-content {
  background-color: #F6F6F6;
}

.identifier-card {
  background-color: #F6F6F6;
}
.note-card {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #fff;
    border: 2px solid #DEDEDE;
    border-radius: 5px;
    color: transparent;
  }

  .mat-form-field-appearance-outline .mat-form-field-flex {
    height: 40px;
  }

  .mat-form-field-infix {
    padding-top: 0.1em;
  }

  .google-docs {
    background-image: url('../../../../../assets/icon/google-docs.png');
    background-repeat: no-repeat;
    background-size: 32px;
    background-position-y: 1px;
    height: 35px;
    width: 38px;
  }
  .mat-card-title {
    display: flex;
    margin-bottom: -2px !important;
    margin-top: -2px !important;
    align-items: center;
    gap: 30px;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.retrieve-btn {
  padding: 0;
  color: #59A066;
  height: 31px;
  margin-top: 8px;
  max-width: 174px;
  border-radius: 8px !important;
  line-height: initial;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.archived {
  color: #59A066;
  font-weight: bold;
}
