/*
Theme Name: ItaliaWP2
Theme URI: http://bit.ly/ItaliaWP
Author: Boris Amico
Author URI: http://bit.ly/ItaliaWP
Description: Tema utilizzabile per i siti della Pubblica Amministrazione, utilizza i componenti del web toolkit delle linee guida di design dell'Agenzia per l'Italia digitale rilasciare dal Team per la trasformazione digitale e le caratteristiche per i servizi web della Pubblica Amministrazione contenute nel Piano triennale per l'informatica nella Pubblica Amministrazione 2017/2019.
Version: 1.5.5
License: GNU GENERAL PUBLIC LICENSE v3 or later
License URI: https://www.gnu.org/licenses/gpl-3.0.en.html
Text Domain: italiawp2
Tested up to: 5.7.2
Requires PHP: 5.6
Tags: agid, one-column, two-columns, grid-layout, custom-colors, custom-header, custom-logo, custom-menu, featured-images, featured-image-header, flexible-header, accessibility-ready, footer-widgets, sticky-post, theme-options

ItaliaWP2 WordPress Theme Copyright (c) © 2018-2020 Boris Amico.
ItaliaWP2 is distributed under the terms of the GPL-3.
Use it to make something cool, have fun, and share what you've learned with others.

This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License along with this program. If not, see http://www.gnu.org/licenses/.
*/

.logoimg {
  margin: 0 auto 0 0;
  width: 100%;
  padding: 0 4.5455%;
}

.logoimg .custom-logo {
  width: 350px;
  max-width: 350px !important;
  height: 100% !important;
  max-height: 100% !important;
}

.container.header {
  margin: 0 !important;
  max-width: 100% !important;
  min-height: 252px !important;
  background: white;
}

.container.header .row {
  margin: 0px;
  padding-top: 45px;
  padding-left: 21px;
}

#sub_nav {
  z-index: 1;
  background-color: #01673f;
  width: 100%;
}

.preheader {
  display: none;
}

body.push_container, body.push-body {
  background-color: #01673f;
}

.navbar .navbar-collapsable .navbar-nav li.nav-item {
  background: url(../italiawp2/images/corner_white.png) no-repeat top left;
  font-size: 20px;
  font-weight: 600;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.navbar .navbar-collapsable .navbar-nav li.nav-item a {
  padding: 0.55625em 0.875em !important;
}

#mainheader {
  height: 252px !important;
}

#menu-principale {
  justify-content: center;
}

body #mainheader .cerca input {
  border-bottom: 1px solid black !important;
}

.multi-logo-main-section {
  width: 95%;
  margin-top: -6.5rem;
}

.multi-logo-section {
  display: flex;
  width: 100%;
  margin-left: calc(5.5455% + 350px);
}

.multi-logo-section img {
  height: auto !important;
  max-width: 100% !important;
  vertical-align: middle;
}

#mainheader .btn-cerca, body #mainheader .btn-cerca:hover {
  background-color: #666666 !important;
}

#mainheader .btn-cerca svg.icon {
  fill: #ffffff !important;
}

#mainheader.ridotto .comune .logoimg {
  margin-top: 40px;
}

#mainheader.ridotto {
  margin-bottom: 0px !important;
}

#mainheader.ridotto .navbar {
  margin-left: 0px !important;
}

#main_container {
  background-color: #fff;
}

#footer {
  background-color: #30373d !important;
}

#mainheader .cerca input {
  color: #000 !important;
}

#sub_nav {
  height: 52px;
}

body #hero {
  margin-bottom: 0px !important;
}

main, main > section {
  margin-top: 0px !important;
}

main > section > .container > .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

@media screen and (min-width: 44.375em) {
  .push_container, .push-body  {
    margin: 21px;
  }
}


my-submission-list figure {
  display: none;
}
