@import "~styles/cards";

.data-table {
  //width: 100%;
  //margin: 20px auto;
}

.mat-paginator {
  display: flex;
  justify-content: center;
}

//CSS per la sezione della Tabella
tr.example-element-row:hover {
  background: whitesmoke;
}

tr.error-element-row:hover {
  background: red;
}

//Per mettere tutto al centro all'interno delle tabelle
th.mat-header-cell,
th.mat-sort-header,
td.mat-cell {
  text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

th {
  font-weight: bolder;
  font-size: 15px;
  //font-size: large;
}

td, th {
  border: #888888;
  border-width: 1px;
  border-style: solid;
}

.td-patient, .th-patient {
  width: 20%;
}

.td-other-information, .th-other-information {
  width: 22%;
}

.td-totals, .th-totals {
  width: 23%;
}

.td-presents, .th-presents {
  width: 33%;
}

.uppercase {
  text-transform: uppercase;
}

.mat-form-field {
  display: block;
  font-size: 15px;
  margin-bottom: 1%;
  font-weight: 500;
}

.btn-left {
  float: left;
}

.mat-button {
  width: 150px !important;
  max-width: 100%;
}

.consolidate-button {
	background-color: #59A066;
}

.pdf-button {
	background-color: orange;
	border-radius: 10px !important;
	margin-top: 2px;
	margin-bottom: -10px;
}

.xml-button {
	background-color: yellow;
	border-radius: 10px !important;
	margin-top: 2px;
	margin-bottom: -10px;
}

::ng-deep app-invoices-generate {
  .mat-stepper-horizontal {
      margin-top: 30px;
  }

  .mat-step-icon:not(.mat-step-icon-state-error).mat-step-icon-state-number .mat-step-icon-content {
      display: none;
  }

  .mat-step-icon.mat-step-icon-state-number, .mat-step-icon.mat-step-icon-state-error, .mat-step-icon.mat-step-icon-state-edit {
      width: 100px;
      border-radius: 0px;
      border: 1px solid #db3535;
      background-color: #fff;
      color: #db3535;
      width: 150px;
      border-bottom: none;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }

  .mat-step-icon.mat-step-icon-state-error .mat-step-icon-content {
      left: 23% !important;
  }

  .mat-step-label-error {
      height: 28px;
      padding-left: 23px;
  }

  .mat-step-label-error .mat-step-text-label {
      height: 15px;
      font-size: 13px;
  }

  .mat-step-sub-label-error {
      margin-top: -5px;
  }

  .mat-step-icon.mat-step-icon-state-number.mat-step-icon-selected {
      background-color: #dd553d;
  }

  .mat-step-label.mat-step-label-active {
      position: absolute;
      color: #dd553d !important;
  }

  .mat-step-label.mat-step-label-active.mat-step-label-selected {
      color: #fff !important;
  }

  .mat-stepper-horizontal-line {
      display: none;
  }

  .mat-step-header {
      padding-right: 0px;
      padding-left: 15px;
      height: 24px;
      justify-content: center;
      margin-bottom: -2px;
  }

  .mat-step-header:first-child {
      padding-left: 1px;
  }

  .mat-horizontal-stepper-header-container {
      border-bottom: 2.5px solid #dd553d;
      margin-left: 2px;
  }

  .mat-horizontal-stepper-header .mat-step-icon {
      margin-right: 0px;
  }

  .mat-horizontal-content-container {
      padding-left: 0;
      padding-right: 5px;
      margin-left: -5px;
  }

  .mat-step-icon-content {
      display: none;
  }
  
  .genera-blue {
    padding: 0;
    border: 1px solid #4A8397;
    color: #4A8397;
    height: 32px;
  }

  .consolida-green {
    padding: 0;
    border: 1px solid #609970;
    color: #609970;
    height: 32px;
  }

  .clipboard-blue, .clipboard-green {
    background-image: url('../../../../assets/icon/clipboard.svg');
    background-repeat: no-repeat;
    background-size: 14px;
    background-position-x: 12px;
    background-position-y: 6px;
    height: 31px;
    width: 39px;
    margin-top: -0.3em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .clipboard-blue {
    background-color: #4A8397;
  }

  .clipboard-green {
    background-color: #609970;
  }

  .genera-blue mat-label, .consolida-green mat-label {
    padding-left: 11px;
    padding-right: 11px;
    display: inline-block;
    margin-top: -0.4rem;
  }

  .genera-blue mat-label {
    padding-left: 20px;
    padding-right: 20px;
  }

  .button-r {
    border-radius: 8px;
  }
}