<!-- Stepper -->
<mat-horizontal-stepper #stepper [linear]="false" class="w-100 h-100" (selectionChange)="onStepChange($event)">
  <!-- Step -->
  <mat-step *ngFor="let recoveryTaxRegimeType of recoveryTaxRegimeTypes; let i = index">
    <ng-template matStepLabel>{{recoveryTaxRegimeType?.description | uppercase}}</ng-template>
    <ng-container *ngIf="stepSelectedIndex === i">
      <div class="row" style="margin-top: 10px;margin-left: -10px;margin-right: -20px;">
        <div class="col-12">
          <mat-card class="mat-elevation-z4">

            <mat-card-header>
              <mat-card-title>{{'fatturazioneGenerate.title' | translate}} {{recoveryTaxRegimeType?.description | uppercase}}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
              <!-- Genera e Anno e Mese-->
              <div class="row">

                <!-- Table Filter -->
                <div class="col">
                  <mat-form-field>
                    <mat-label>{{'search' | translate}}</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="{{'search' | translate}}">
                  </mat-form-field>
                </div>

              <!-- Anno -->
                <div class="col">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'fatturazioneGenerate.year' | translate}}</mat-label>
                    <mat-select [(ngModel)]="yearSelected" (ngModelChange)="changePeriod()">
                      <mat-option *ngFor="let year of years" [value]="year">
                        {{year}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- Mese -->
                <div class="col">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'fatturazioneGenerate.month' | translate}}</mat-label>
                    <mat-select [(ngModel)]="monthSelected" [compareWith]="compareById" (ngModelChange)="changePeriod()">
                      <mat-option *ngFor="let month of monthsToView" [value]="month">
                        {{month.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
            
            <div class="col" style="text-align: center; margin-top:-22px" *ngIf="isEditable">
                <!-- Genera -->
                <div>
                  <button mat-raised-button class="mt-3 button-r genera-blue" (click)="generateInvoices()" [disabled]="disableGenerate">
                    <mat-icon class="clipboard-blue"></mat-icon>
                    <mat-label>{{'fatturazioneGenerate.generateButton' | translate}}</mat-label>
                  </button>
                </div>
                
                <!-- Consolida -->
                <div>
                  <button mat-raised-button class="mt-3 button-r consolida-green" (click)="consolidateInvoices()" [disabled]="disableGenerate">
                    <mat-icon class="clipboard-green"></mat-icon>
                    <mat-label>{{'fatturazioneGenerate.consolidateButton' | translate}}</mat-label>
                  </button>
                </div>
            </div>
              </div>

              <!-- Divider -->
              <div class="row">
                <div class="col">
                  <hr class="mr-1 ml-1">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="data-table mat-elevation-z2">
                    <!-- Tabella -->
                    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mt-xl-1 w-100">

                      <!-- Visualizzazione delle colonne della tabella -->
                      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
                
                		<ng-container *ngIf="column === 'checkConsilidate'">
                          <th mat-header-cell *matHeaderCellDef><mat-checkbox color="warn" style="margin-right:18px; margin-top:10px" 
                            (change)="toggleAllDraftInvoices($event.checked)"></mat-checkbox></th>
                          <td mat-cell *matCellDef="let element" class="th-numInvoice">
                            <p><mat-checkbox color="warn" style="margin-right:18px; margin-top:10px" (change)="toggleInvoice(element, $event.checked)"
                                disabled="{{element.invoiceStatus?.description != 'BOZZA' || !checkConsolidate(element)}}" [checked]="element.checked"></mat-checkbox></p>
                          </td>
                        </ng-container>
                        
                        <ng-container *ngIf="column === 'numInvoice'">
                          <th mat-header-cell *matHeaderCellDef class="th-numInvoice">{{('fatturazioneGenerate.table.number' | translate) | uppercase}}</th>
                          <td mat-cell *matCellDef="let element" class="th-numInvoice">
                            <p>{{element.numInvoice}}</p>
                          </td>
                        </ng-container>

                        <!-- Colonna dateInsert -->
                        <ng-container *ngIf="column === 'dateInsert'">
                          <th mat-header-cell *matHeaderCellDef class="th-dateInsert">{{('fatturazioneGenerate.table.date' | translate) | uppercase}}</th>
                          <td mat-cell *matCellDef="let element" class="th-dateInsert">
                            <p>{{element.dateInsert | date: 'dd/MM/YYYY HH:mm:ss'}}</p>
                          </td>
                        </ng-container>

                        <ng-container *ngIf="column === 'documentType'">
                          <th mat-header-cell *matHeaderCellDef class="th-documentType">{{('fatturazioneGenerate.table.documentType' | translate) | uppercase}}</th>
                          <td mat-cell *matCellDef="let element" class="th-documentType">
                            <p>{{element.invoiceType != null ? element.invoiceType.description : '' | uppercase}}</p>
                          </td>
                        </ng-container>

                        <ng-container *ngIf="column === 'destinatary'">
                          <th mat-header-cell *matHeaderCellDef class="th-destinatary">{{('fatturazioneGenerate.table.recipient' | translate) | uppercase}}</th>
                          <td mat-cell *matCellDef="let element" class="th-destinatary">
                            <p>{{element.destinatary | uppercase}}</p>
                          </td>
                        </ng-container>

                        <ng-container *ngIf="column === 'description'">
                          <th mat-header-cell *matHeaderCellDef class="th-description">{{('fatturazioneGenerate.table.description' | translate) | uppercase}}</th>
                          <td mat-cell *matCellDef="let element" class="th-description">
                            <p>{{element.description | uppercase}}</p>
                          </td>
                        </ng-container>
                        
                        <ng-container *ngIf="column === 'status'">
                          <th mat-header-cell *matHeaderCellDef class="th-description">{{('fatturazioneGenerate.table.status' | translate) | uppercase}}</th>
                          <td mat-cell *matCellDef="let element" class="th-description">
                            <p>{{element.invoiceStatus?.description | uppercase}}</p>
                          </td>
                        </ng-container>
                        
                        <ng-container *ngIf="column === 'documents'">
                          <th mat-header-cell *matHeaderCellDef class="th-description">{{('fatturazioneGenerate.table.documents' | translate) | uppercase}}</th>
                          <td mat-cell *matCellDef="let element" class="th-description">
                            <p *ngIf="element.invoiceStatus?.description != 'BOZZA'">
                              <button class="pdf-button" mat-raised-button *ngIf="element.pdfFile" (click)="onDownloadClick(element.pdfFile)">
                                <span>{{'fatturazioneGenerate.table.pdf' | translate}}</span>
                              </button>
                              <button class="xml-button" mat-raised-button *ngIf="element.xmlFile" (click)="onDownloadClick(element.xmlFile)">
                                <span>{{'fatturazioneGenerate.table.xml' | translate}}</span>
                              </button>
                            </p>
                          </td>
                        </ng-container>

                        <ng-container *ngIf="column === 'total'">
                          <th mat-header-cell *matHeaderCellDef class="th-total">{{('fatturazioneGenerate.table.total' | translate) | uppercase}}</th>
                          <td mat-cell *matCellDef="let element" class="th-total">
                            <span class="detail-col-2" style="color: green"> {{element.total ? element.total : 0 | number: '1.2-2'}} €</span>
                          </td>
                        </ng-container>

                      </ng-container>
                      <!-- Header della tabella   -->
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
                		style="background-color: {{selectBackgroundColor(row)}}"></tr>

                      <!-- Riga che appare quando la tabella è vuota -->
                      <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="9">Nessun Dato Presente</td>
                      </tr>

                    </table>

                    <!-- Pagination -->
                    <mat-paginator #paginatorFamily
                                  [length]="dataSource.data ? dataSource.data.length : 0"
                                  [pageSizeOptions]="paginationSizes"
                                  [pageSize]="defaultPageSize">
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </ng-container>
  </mat-step>
</mat-horizontal-stepper>