<form [formGroup]="form" (ngSubmit)="onSubmit()" id="{{formId}}" #f="ngForm">

  <!-- Riga Dimissioni e Altre Info -->
  <div class="row mt-4">
    <!-- Dimissioni -->
    <div class="col">
      <mat-card class="anagrafica-card">
        <mat-card-header>
          <mat-card-title>
            <mat-icon class="profile"></mat-icon>
            <span>{{'dismissDialog.dismiss' | translate}}</span>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="sm-mat-card" style="padding-top: 10px !important;padding-bottom: 0px !important;">
          <div class="row pli-8">
          
            <!-- Date -->
            <div class="col-md-6">
              <mat-label style="display: inherit;">{{'dismissDialog.date' | translate}}</mat-label>
              <mat-form-field appearance="outline">
	              <input matInput [matDatepicker]="picker" autocomplete="off" formControlName="date" required>
		          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		          <mat-datepicker #picker color="primary"></mat-datepicker>
	          </mat-form-field>
            </div>

            <!-- Time -->
            <div class="col-md-6">
              <mat-label style="display: inherit;">{{'dismissDialog.time' | translate}}</mat-label>
              <mat-form-field appearance="outline" style="width: 100%;">
              	<input type="time" matInput placeholder="{{'dimission.time' | translate}}" autocomplete="off" formControlName="time" step="60" required>
              </mat-form-field>
            </div>

            <!-- Reason -->
            <div class="col-md-6">
              <mat-label style="display: inherit;">{{'dismissDialog.reason' | translate}}</mat-label>
              <mat-form-field appearance="outline">
		          <mat-select formControlName="reason" [compareWith]="compare" required [ngModelOptions]="{standalone: true}"
		          	(selectionChange)="onReasonSelection()" required>
	                <mat-option *ngFor="let option of dismissReasons" [value]="option">
	                  {{option.description}}
	                </mat-option>
	              </mat-select>
              </mat-form-field>
            </div>
			
			<!-- Note -->
            <div class="col-md-6">
              <mat-label style="display: inherit;">{{'dismissDialog.note' | translate}}</mat-label>
              <mat-form-field appearance="outline">
	            <input matInput autocomplete="off" formControlName="note">
	          </mat-form-field>
            </div>
            
            <!-- Drug Management -->
            <div class="col-md-6">
              <mat-label style="display: inherit;">{{'dismissDialog.drugManagement' | translate}}</mat-label>
              <mat-form-field appearance="outline">
		        <mat-select formControlName="drugManagement" [compareWith]="compare" [ngModelOptions]="{standalone: true}" required>
	              <mat-option *ngFor="let option of drugManagements" [value]="option">
	                {{option.description}}
	              </mat-option>
	            </mat-select>
              </mat-form-field>
            </div>
            
            <!-- Article Management -->
            <div class="col-md-6">
              <mat-label style="display: inherit;">{{'dismissDialog.articleManagement' | translate}}</mat-label>
              <mat-form-field appearance="outline">
		        <mat-select formControlName="articleManagement" [compareWith]="compare" [ngModelOptions]="{standalone: true}" required>
	              <mat-option *ngFor="let option of articleManagements" [value]="option">
	                {{option.description}}
	              </mat-option>
	            </mat-select>
              </mat-form-field>
            </div>
            
            <div class="col-md-6">
	          <!-- Absent on last day -->
	          <mat-checkbox class="mr-4" formControlName="absentOnLastDay" color="warn">
	            {{'dismiss.absentOnLastDay' | translate}}
	      	  </mat-checkbox>
      	    </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
