@import 'src/styles/cards';

.mat-list-base .mat-list-item .mat-list-icon {
  font-size: 15px;
  height: 15px;
  width: 15px;
}

#CLINICO_SANITARIO {
  background-color: blue !important;
}

#GESTIONE_UTENZE {
  background-color: darkgray !important;
}
