<form >
    <!-- Riga Anagrafica e Altre Info -->
    <div class="row mt-2">

      <div class="col-4 mb-4" *ngFor="let role of data.editFormData[0].roles">
      <mat-card>
        <mat-card-header id="{{role.name}}">
            <mat-card-title>{{role.name}}</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <mat-list class="inline-list" *ngIf="role.name=='AMMINISTRAZIONE'">
              <mat-list-item *ngFor="let functionality of functionalitiesAdministration"><mat-icon matListIcon>lens</mat-icon> {{functionality.description}} </mat-list-item>
            </mat-list>

            <mat-list class="inline-list" *ngIf="role.name=='CLINICO_SANITARIO'">
              <mat-list-item *ngFor="let functionality of functionalitiesClinic"><mat-icon matListIcon>lens</mat-icon> {{functionality.description}} </mat-list-item>
            </mat-list>
            <mat-list class="inline-list" *ngIf="role.name=='GESTIONE_UTENZE'">
              <mat-list-item *ngFor="let functionality of functionalitiesUserManagement"><mat-icon matListIcon>lens</mat-icon> {{functionality.description}} </mat-list-item>
            </mat-list>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </form>
