@import "~styles/index";

.mat-toolbar {
  background: whitesmoke;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 1);
}

::ng-deep .mat-menu-content {
  min-width: 275px !important;

  .mat-menu-item {
    height: 40px;
    line-height: 40px;
  }

  mat-icon {
    font-size: 22px;
  }

  .dd-user-name-initial {
    text-align: center;
    background: lightgrey;
    margin-top: -8px;
    height: 80px;
    padding-top: 20px;
  }

  .dd-avatar-cntr {
    display: flex;
    justify-content: center;
    padding: 25px 15px 0;
    margin-top: -50px;
  }

  .dd-avatar-circle {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #e23730;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .dd-name-cntr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 15px 15px;
    text-align: center;
  }

  .dd-first-last-name {
    font-weight: 500;
    opacity: .8;
    font-size: 16px
  }

  .dd-email {
    font-weight: 200;
    font-size: 14px
  }
}

.spacer {
  flex: 1 1 auto;
}

.username {
  font-size: 18px !important;
}

.avatar-circle {
  display: inline-block;
  width: 39px;
  height: 39px;
  background-color: $redGlobalBGColor;
  text-align: center;
  margin-top: -3px;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
}

.initials {
  position: relative;
  font-size: 24px;
  line-height: 39px;
  color: #fff;
  font-family: DM_Medium;
}
