<mat-toolbar>
  <button mat-icon-button id="menu" (click)="navService.toogle()" class="mr-3">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="assets/img/logo_Nurity.svg" alt="logo">
  <span class="spacer"></span>
  <div class="avatar-circle">
    <span class="initials">{{getUserInitials()}}</span>
  </div>
  <button [matMenuTriggerFor]="menu" class="username" mat-button>{{getUserName()}}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="remove-padding" id="profile-dropdown">
    <div class="dd-user-name-initial">
      <div class="font-weight-bold">{{getUserName()}}</div>
    </div>
    <div class="dd-avatar-cntr">
      <div class="dd-avatar-circle" style="">
        <span class="initials">{{getUserInitials()}}</span>
      </div>
    </div>
    <div class="dd-name-cntr">
      <div class="dd-first-last-name">{{user?.name}} {{user?.surname}}</div>
      <!--      <div class="dd-email">email_address@email.com</div>-->
    </div>
    <button mat-menu-item><mat-icon>dashboard</mat-icon>Impostazioni Dashboard</button>
    <button mat-menu-item (click)="goProfilo()"><mat-icon>account_circle</mat-icon>Profilo</button>
    <button mat-menu-item (click)="goMainPage()"><mat-icon>home</mat-icon>Cambia Modulo</button>
    <button mat-menu-item (click)="exit()"><mat-icon>logout</mat-icon>Esci</button>
  </mat-menu>
</mat-toolbar>
