<div class="d-flex bg-whitesmoke p-15">
  <div class="d-flex col-2 justify-content-start vl-center" style="min-width: 240px;max-width: 240px;">
    <div>
      <!--        <p>Opspite:</p>-->
      <p>DATA DI</p>
      <p>AUTORIZZAZIONE:</p>
    </div>
    <div class="ml-4">
      <!--        <p><strong>{{assistanceProject?.guestMinimal?.firstName}} {{assistanceProject?.guestMinimal?.lastName}}</strong></p>-->
      <p class="red-text">{{assistanceProject?.authDate | date: 'dd/MM/YYYY'}}</p>
    </div>
  </div>

  <div class="d-flex col-2 justify-content-center vl-center">
    <div>
      <p>STATO:</p>
    </div>
    <div class="ml-4">
      <p class="red-text">{{assistanceProject?.status?.description}}</p>
    </div>
  </div>

  <div class="d-flex col-5 justify-content-center vl-center" >
    <div>
      <p>TRATTAMENTO ATTIVO:</p>
    </div>
    <div class="ml-4">
      <p class="red-text">{{assistanceProject?.treatment | uppercase}}</p>
    </div>
  </div>

  <div class="d-flex col-2 justify-content-center vl-center">
    <div>
      <p>NR. IMPEGNATIVA:</p>
    </div>
    <div class="ml-4">
      <p class="red-text">{{assistanceProject?.authNumber}}</p>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between rounded rounded-lg align-items-start mt-3 p-3">
  <div class="col-3">
    <div>
      <strong>Prescrizione</strong>
      <div>
        <p>Nr: {{assistanceProject?.performanceType?.code}} {{assistanceProject?.performanceType?.descriptionCharge}}</p>
        <p>Data: {{assistanceProject?.prescriptionDate | date: 'dd/MM/YYYY'}}</p>
      </div>
    </div>

    <div class="mt-4">
      <strong>Trattamento</strong>
      <div>
        <p>Inizio: {{assistanceProject?.treatmentStrDate | date: 'dd/MM/YYYY'}}</p>
        <p>Fine: {{assistanceProject?.treatmentEndDate | date: 'dd/MM/YYYY'}}</p>
      </div>
    </div>
  </div>

  <!-- Quotes -->
  <div class="col-7 mx-3">
    <!-- <div class="row">
      <div class="float-left">
        Trattamento Attivo: <strong>{{assistanceProject?.treatment}}</strong>
      </div>
    </div> -->

    <div class="row">
      <!-- Q-QUOT -->
      <div class="col-3">
        <mat-card>
          <mat-card-header class="text-center d-flex justify-content-center align-items-center">
            <mat-card-title>Q.QUOT</mat-card-title>
          </mat-card-header>
          <mat-card-content class="text-center font-weight-bolder d-flex justify-content-center align-items-center min-h-122 font-size-l">
            €. {{assistanceProject?.dailyFee | number: '1.2-2'}}
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Q-ASL -->
      <div class="col-3">
        <mat-card>
          <mat-card-header class="text-center d-flex justify-content-center align-items-center">
            <mat-card-title>Q.ASL</mat-card-title>
          </mat-card-header>
          <mat-card-content class="text-center font-weight-bolder d-flex justify-content-center align-items-center min-h-122 font-size-l">
            {{assistanceProject?.aslPercentFee}}%
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Q-Comune -->
      <div class="col-3">
        <mat-card>
          <mat-card-header class="text-center d-flex justify-content-center align-items-center">
            <mat-card-title>Q.COMUNE</mat-card-title>
          </mat-card-header>
          <mat-card-content class="text-center font-weight-bolder d-flex justify-content-center align-items-center min-h-122 font-size-l">
            {{assistanceProject?.cityPercentFee}}%
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Q-Utente -->
      <div class="col-3">
        <mat-card>
          <mat-card-header class="text-center d-flex justify-content-center align-items-center">
            <mat-card-title>Q.UTENTE</mat-card-title>
          </mat-card-header>
          <mat-card-content class="text-center font-weight-bolder d-flex justify-content-center align-items-center min-h-122 font-size-l">
            {{assistanceProject?.userPercentFee}}%
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>

  <!-- Action column -->
  <div class="col-2 d-flex flex-column justify-content-center" style="min-height: 166px;">
  <!-- Edit button -->
    <ng-container *ngIf="rowActionIcons?.edit">
      <button class="btn btn-block rounded mat-elevation-z8 mb-3 button-r editBtn" [disabled]="validated" mat-raised-button (click)="emitEditAction(assistanceProject)">
        <mat-icon class="editIcon">{{rowActionIcons?.edit}}</mat-icon>
        <mat-label>{{'edit' | translate}}</mat-label>
      </button>
    </ng-container>

    <!-- Download UVI button -->
    <ng-container *ngIf="rowActionIcons?.download && assistanceProject?.file">
      <button class="btn btn-block rounded mat-elevation-z8 mb-3 button-r dwlBtn" [disabled]="validated" mat-raised-button (click)="emitDownloadAction(assistanceProject)">
        <mat-icon fontSet="material-icons-outlined" class="dwlIcon">{{rowActionIcons?.download}}</mat-icon>
        <mat-label>{{'assistanceProjects.downloadUVI' | translate}}</mat-label>
      </button>
    </ng-container>

    <!-- Delete button -->
    <ng-container *ngIf="rowActionIcons?.delete">
      <button class="btn btn-block rounded mat-elevation-z8 button-r delBtn" mat-raised-button [disabled]="validated" (click)="emitDeleteAction(assistanceProject)">
        <mat-icon class="delIcon">{{rowActionIcons?.delete}}</mat-icon>
        <mat-label>{{'delete' | translate}}</mat-label>
      </button>
    </ng-container>
  </div>
</div>
