<mat-label *ngIf="labelOutside" class="outer-label">{{label}} {{required ? '*' : ''}}</mat-label>
<mat-form-field appearance="outline" [class]="formFieldClass">
  <mat-label *ngIf="!labelOutside">{{label}}</mat-label>

  <input *ngIf="isAllUpperCase" type="text" oninput="this.value = this.value.toUpperCase()" [formControl]="control" matInput [matAutocomplete]="auto"
         (keydown.Tab)="onTab()" (ngModelChange)="onInputChange($event)" [required]="required">
  <input *ngIf="!isAllUpperCase" type="text" [formControl]="control" matInput [matAutocomplete]="auto"
         (keydown.Tab)="onTab()" (ngModelChange)="onInputChange($event)" [required]="required">

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)" [panelWidth]="700" (optionSelected)="onSelection($event)">
    <cdk-virtual-scroll-viewport [ngStyle]="{'height': height}" itemSize="25">
<!--      <mat-option [value]="null" *ngIf="isEmptyOption">-->
<!--        <ng-container *ngIf="optionKey"></ng-container>-->
<!--        <ng-container *ngIf="!optionKey"></ng-container>-->
<!--      </mat-option>-->
      <mat-option *cdkVirtualFor="let option of filteredOptions;  trackBy:trackByFn" [value]="option"
                  class="autocomplete-item">
        <ng-container *ngIf="optionKey">{{option[optionKey] | uppercase}}</ng-container>
        <ng-container *ngIf="!optionKey">{{option | uppercase}}</ng-container>
        <ng-container *ngFor="let optionView of optionsView">
          {{option[optionView] | uppercase}}
        </ng-container>
      </mat-option>
    </cdk-virtual-scroll-viewport>
  </mat-autocomplete>
  <mat-error *ngIf="isFormSubmitted">
    <app-form-field-error [formInput]="control" [isFormSubmitted]="isFormSubmitted"></app-form-field-error>
  </mat-error>
</mat-form-field>
