<div class="col">
  <div class="row">
    <mat-card class="mat-elevation-z24">
      <mat-card-content>
        <app-residence-form></app-residence-form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

