.detail-col-2 {
  font-weight: 500;
  color: #888888;
}

.detail-col-1 {
  font-weight: 500;
}

.container-name-surname {
  //border-style: solid;
  //border-width: 1px;
  //border-color: #1976d2;
  //border-radius: 5px;
  width: 90%;
  text-align: left;
  //padding: 8px;
  color: rgb(226, 55, 48);
  font-weight: 600;
}

p.ana {
  color: #888888;
  font-weight: 500;
  font-size: smaller;
}

p {
  margin: 0 0 0 0 !important;
}

.bolder {
  font-weight: 500;
}

