<div class="text-left p-0 mx-4">

  <div class="mb-2">
    <p class="ana">Regime</p>
    <p>{{element?.guestMinimal?.recoveryTaxRegime?.recoveryTaxRegimeType?.description}}</p>
  </div>

  <div class="mb-2">
    <p class="ana">Menomazione</p>
    <p class="bolder">{{element?.disability?.description}}</p>
  </div>

  <div class="mb-2">
    <p class="ana">Codice ICD9</p>
    <p class="bolder">{{element?.diagnosisICD9?.description}}</p>
  </div>

</div>
