<div class="mx-4 my-3">

  <div class="text-center mt-3">
    <span class="bolder">Impegnativa</span>
  </div>

  <div class="d-flex justify-content-between mt-2">
    <span class="bolder"> N° {{element.authNumber}} </span>
    <span class="bolder"> {{element.dateInsert | date: 'dd/MM/YYYY'}} </span>
  </div>

  <hr>

  <div class="d-flex justify-content-between mt-2">
    <span class="bolder"> Data inizio </span>
    <span class="bolder-grey"> {{element.treatmentStrDate | date: 'dd/MM/YYYY'}} </span>
  </div>

  <div class="d-flex justify-content-between mt-2">
    <span class="bolder"> Data fine </span>
    <span class="bolder-grey"> {{element.treatmentEndDate | date: 'dd/MM/YYYY'}} </span>
  </div>

  <hr>

  <div class="text-left mt-2">
    <span class="bolder"> {{element.performanceType.code}} - {{element.performanceType.description}}</span>
  </div>

  <div class="d-flex justify-content-between mt-2">
    <span class="bolder"> Presenze </span>
    <input type="number" class="w-25" placeholder="{{element.numberOfPresence}}" [ngModel]="element.numberOfPresence" (ngModelChange)="onChange($event)">
  </div>

</div>
