
<h2 mat-dialog-title>
  <mat-label>{{title}}</mat-label>
</h2>

<mat-dialog-content>

  <!-- Caso in cui sto aggiungendo un nuovo paziente il lista -->
  <ng-container *ngIf="patientAcceptance == null">
    <form [formGroup]="patientAcceptanceForm">

      <!-- TEMPLATE ERRORE CAMPI OBBLIGATORI -->
      <ng-template #formRegistryError let-formInput="formInput">
        <ng-container *ngIf="formInput.invalid && formInput.touched">
          <div class="form-text text-danger">
            <mat-label>Campo obbligatorio*</mat-label>
          </div>
        </ng-container>
      </ng-template>

      <div class="row mt-2">
        <div class="col">

          <!-- Nome -->
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input oninput="this.value = this.value.toUpperCase()"  matInput placeholder="Nome" autocomplete="off" formControlName="firstName" required>
            <ng-container [ngTemplateOutlet]="formRegistryError"
                          [ngTemplateOutletContext]="{formInput:patientAcceptanceForm.get('firstName')}">
            </ng-container>
          </mat-form-field>

          <!-- Cognome -->
          <mat-form-field appearance="outline">
            <mat-label>Cognome</mat-label>
            <input oninput="this.value = this.value.toUpperCase()"  matInput placeholder="Cognome" autocomplete="off" formControlName="lastName" required>
            <ng-container [ngTemplateOutlet]="formRegistryError"
                          [ngTemplateOutletContext]="{formInput:patientAcceptanceForm.get('lastName')}">
            </ng-container>
          </mat-form-field>

          <!-- Data Nascita -->
          <mat-form-field appearance="outline">
            <mat-label>Data di Nascita</mat-label>
            <input matInput [matDatepicker]="picker" autocomplete="off" formControlName="birthDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker color="primary"></mat-datepicker>
            <ng-container [ngTemplateOutlet]="formRegistryError"
                          [ngTemplateOutletContext]="{formInput:patientAcceptanceForm.get('birthDate')}">
            </ng-container>
          </mat-form-field>

          <!-- Telefono -->
          <mat-form-field appearance="outline">
            <mat-label>Telefono fisso</mat-label>
            <input type="text" pattern="[0-9]*" matInput placeholder="Telefono Fisso" autocomplete="off" formControlName="landingPhone" [required]="!patientAcceptanceForm?.get('mobilePhone')?.value">
          </mat-form-field>

          <!-- Cellulare -->
          <mat-form-field appearance="outline">
            <mat-label>Cellulare</mat-label>
            <input matInput placeholder="Cellulare" autocomplete="off" formControlName="mobilePhone" prefix="+39 " mask="000 00000000" [required]="!patientAcceptanceForm?.get('landingPhone')?.value">
          </mat-form-field>

          <!-- Note  -->
          <mat-form-field appearance="outline">
            <mat-label>Nota</mat-label>
            <textarea oninput="this.value = this.value.toUpperCase()"
                      matInput
                      autocomplete="off"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="3"
                      cdkAutosizeMaxRows="3"
                      formControlName="note">
                </textarea>
          </mat-form-field>

        </div>

      </div>
    </form>
  </ng-container>

  <!-- Caso in cui visualizzo i dettagli dell'utente  -->
  <ng-container *ngIf="patientAcceptance">
    <div class="row mt-2">
      <div class="col">

        <!-- Nome -->
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input oninput="this.value = this.value.toUpperCase()"  matInput [value]="patientAcceptance? patientAcceptance.firstName : ''" disabled style="color: #24292e">
        </mat-form-field>

        <!-- Cognome -->
        <mat-form-field appearance="outline">
          <mat-label>Cognome</mat-label>
          <input oninput="this.value = this.value.toUpperCase()"  matInput [value]="patientAcceptance? patientAcceptance.lastName : ''" disabled style="color: #24292e">
        </mat-form-field>

        <!-- Data Nascita -->
        <mat-form-field appearance="outline">
          <mat-label>Data di Nascita</mat-label>
          <input matInput [value]="patientAcceptance? (patientAcceptance.birthDate | date: 'dd/MM/yyyy'): ''" disabled style="color: #24292e">
        </mat-form-field>

        <!-- Telefono -->
        <mat-form-field appearance="outline">
          <mat-label>Telefono fisso</mat-label>
          <input matInput [value]="patientAcceptance? patientAcceptance.landingPhone : ''" disabled
                 style="color: #24292e">
        </mat-form-field>

        <!-- Cellulare -->
        <mat-form-field appearance="outline">
          <mat-label>Cellulare</mat-label>
          <input oninput="this.value = this.value.toUpperCase()"  matInput [value]="patientAcceptance? patientAcceptance.mobilePhone : ''" disabled
                 style="color: #24292e">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nota</mat-label>
          <textarea oninput="this.value = this.value.toUpperCase()"
                    matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="3"
                    cdkAutosizeMaxRows="3"
                    [value]="patientAcceptance ? (patientAcceptance.note) : ''" disabled style="color: #24292e">
                </textarea>
        </mat-form-field>

      </div>

    </div>
  </ng-container>

</mat-dialog-content>

<!--Bottoni della Dialog-->
<div mat-dialog-actions class="float-lg-right">
  <button mat-raised-button class="button-r" [mat-dialog-close]="false" cdkFocusInitial>
    <mat-icon class="mr-1">close</mat-icon>
    <mat-label>Annulla</mat-label>
  </button>
  <button mat-raised-button
          class="button-r"
          color="primary"
          [disabled]="patientAcceptanceForm.invalid"
          [mat-dialog-close]="patientAcceptance"
          (click)="onSave()"
          *ngIf="enabledButton">
    <mat-icon class="mr-1">add</mat-icon>
    <mat-label>Aggiungi</mat-label>
  </button>
</div>

