.container-name-surname {
  border-style: solid;
  border-width: 1px;
  border-color: #1976d2;
  border-radius: 5px;
  width: 90%;
  text-align: left;
  padding: 8px;
  color: #1976d2;
  font-weight: 500;
}

p {
  margin: 0 0 4px !important;
}

.bolder {
  font-weight: 500;
}
