<div class="text-left p-0">

  <div class="container-name-surname mb-2">
    <p>{{element.guestMinimal.firstName | uppercase}}</p>
    <p>{{element.guestMinimal.lastName | uppercase}}</p>
  </div>

  <div>
    <p class="bolder">{{element.guestMinimal.fiscalCode | uppercase}}</p>
    <p> {{element.guestMinimal.birthDate | date: 'dd/MM/YYYY'}}</p>
    <p>ASL: <span class="bolder">{{element.guestMinimal.historicResidence.asl.description | uppercase}}</span></p>
  </div>

</div>
