<div class="text-left p-0 mx-4">

  <div class="d-flex justify-content-between mt-2">
    <span class="detail-col-1">ASL</span>
    <span class="detail-col-2" style="color: green"> {{element.aslCharge | number: '1.2-2'}} €</span>
  </div>

  <div class="d-flex justify-content-between mt-2">
    <span class="detail-col-1">Comune</span>
    <span class="detail-col-2" style="color: green">{{element.birthPlaceCharge | number: '1.2-2'}} €</span>
  </div>

  <div class="d-flex justify-content-between mt-2">
    <span class="detail-col-1">Utente</span>
    <span class="detail-col-2" style="color: green"> {{element.userCharge | number: '1.2-2'}} €</span>
  </div>

  <hr>

  <div class="d-flex justify-content-between mt-2">
    <span class="detail-col-1">TOTALE</span>
    <span class="detail-col-2">{{element.userCharge + element.birthPlaceCharge + element.aslCharge | number: '1.2-2'}} €</span>
  </div>

</div>
