/*
Theme Name: PASW 2015
Description: Pasw2015 è il tema trasparente e accessibile promosso dalla Comunità di Pratica "Porte Aperte sul Web". Bello, accessibile e innovativo, con supporto continuo e volontario offerto dalla comunità.
Author: Porte Aperte sul Web
Author URI: http://www.porteapertesulweb.it
Version: 1.8.2
Tags: pasw, scuole, pubblica amministrazione, accessibile, trasparente, personalizzabile
GitHub Theme URI: https://github.com/PorteAperteSulWeb/pasw2015
GitHub Branch: master
*/

@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

.clear:before,.clear:after {
content:" ";
display:table;
}
.f-nav {
position: fixed!important;
margin: 0 auto;
top: 0;
z-index: 1000;
max-width:1150px;
left: initial!important;
}

.clear:after {
clear:both;
}

#menu-menu-orizzontale li:first-child a {
width: 18.6%;
text-align: center;
}

#sidebarleft-100-background {
width: 20%;
min-width: 170px;
position: absolute;
height: 100%;
border-radius: 5px 0 0 5px;
}

.shortcode-destinatari small {
padding: 2px 6px;
border-radius: 5px;
border: 1px solid #00004d;
}

.imglinks {
margin:10px auto;
width:100%;
text-align:center;
position: relative;
height: 130px;
background: url('images/footsep.png') no-repeat center top;
padding-top: 20px;
content: " ";
display: table;
}

.imglinks img {
transition: -webkit-filter 0.5s;
}

.pagecat {
margin-top: 20px;
padding: 5px 10px 10px 10px;
font-size: 0.8em;
border-radius: 5px;
}

.pagecat h3 {
font-weight:bold;
padding-bottom:10px;
}

.hdate {
color: white;
text-align: center;
padding: 0px 10px;
font-weight: bold;
}

.lastmodified {
float:right;
font-size: 0.7em;
padding-top: 10px;
}

#btn-login {
	background-color: green;
}

#btn-logout {
	background-color: red;
}

.topsearch-div {
	float:right;
	padding: 3px;
	margin-right: 2px;
	position: absolute;
	right: 0;
	z-index:1;
}

.sotto-pagine {
float: left;
font-size: 0.9em;
border-radius: 5px;
margin:10px;
}

.sotto-pagine ul {
list-style-type: none;
margin: 0px;
}

.sotto-pagine li {
padding: 5px;
border-bottom: 1px dotted white;
text-align: center;
}

.sotto-pagine li a {
text-decoration: none;
}

.sotto-pagine li:hover {
transition: background 0.5s, color 0.2s;
}

.sotto-pagine li:hover a {
color:white;
}

.secondo-menu {
height: 27px;
}

.secondo-menu ul {
list-style-type: none;
}

.secondo-menu li {
float: left;
padding: 3px 10px;
border-right: 1px solid #F0F0F0;
text-decoration: none;
}

.secondo-menu li a {
text-decoration: none;
}

.secondo-menu li.current_page_item {
text-decoration: none;
background-color: #25385D;
}

.secondo-menu li.current_page_item  a{
color: white;
}
.secondo-menu li a:hover{
color: white;
}

.secondo-menu li:hover{
background-color: #25385D;
}

.imglinks a {
padding:20px;
}

.imglinks img {
filter: grayscale(100%);
}

.imglinks img:hover {
filter: grayscale(0%);
}

/***************** 3 Column Layout ******************/
html {
margin:0 auto;
padding:0;
}

body {
color:#222;
font-family: Titillium Web,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
margin:0;
padding:0;
width:100%;
height:100%;
}

#wrapper {
margin: 30px auto 10px auto;
padding:0;
width:98%;
position: relative;
background-color: white;
z-index:1;
border-radius: 5px;
}

#container {
margin:0;
padding:0;
clear:both;
}

#leftsidebar {
float:left;
margin-top:0;
width:20%;
min-width: 170px;
overflow:hidden;
padding:0;
position:relative;
padding-top: 5px;
}

.post-box-archive {
	border-top:1px dotted #C2E3ED;
	float:left;
	width:100%;
}

.post-box-archive .hdate {
border:none;
float: right;
margin: 5px;
font-size: 0.7em;
}

#centrecontent {
margin:0;
padding:0 5px 5px 10px;
float:left;
width:60%;
}

#centrecontent .attachment-50x50 {
	float:right;
	margin: 4px;
}

#centrecontent .attachment-100x100 {
	float:left;
	margin: 10px 10px 10px 0px;
}

#menuorizzontale-superiore {
margin-right: -20px;
margin: -10px -10px 0 0;
box-shadow: 0 0 5px #00004d;
}

#rightsidebar {
float:left;
margin-top:3px;
min-height:120px;
margin:0;
min-width:122px;
padding:5px 0 0;
width:18%;
}

#footer {
padding: 5px 0;
clear:both;
margin-top: -100px;
min-height: 250px;
color:#FFF;
position: relative;
z-index: 0;
float: left;
width: 100%;
}

#footer a {
text-decoration:none;
}

#footer-interno {
	margin: 100px auto;
}

.footer-column {
	float:left;
	width:55%;
}

#footer-credits {
	float:right;
	width:25%;
}

#footer a {
color:#FFF;
}

#searchcss {
float:left;
display:block;
}

.homec {
	border-bottom: 1px dotted #25385D;
	font-size: .9em;
	padding: 10px 10px 20px 10px;
}

.stickyc {
	border-bottom: 1px dotted #25385D;
	font-size: .9em;
}

.stickyc p {
	font-size: 1em;
}

.stickyc ul li {
	list-style-type: none;
}

.stickyc-col {
	float:left;
	padding:1%;
}

/********************** Global **********************/
p {
font-size:.9em;
line-height:1.4em;
margin:.5em 0;
}

ol,ul {
margin:1.2em 0 1.2em 0em;
line-height:1.5em;
padding:0px;
}

.postentry ul, .postentry ol {
	padding-left: 2em;
}

ul ul,ul ol,ol ol,ol,ul {
font-size:.9em;
}

h1,h2,h3,h4,h5,h6 {
font-weight:700;
}

h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover {
text-decoration:underline;
}

h1 {
margin:1em 0 .5em;
}

h2 {
font-size:1.7em;
margin:1em 0 .5em;
}

h3 {
font-size:1.1em;
margin:1em 0 .5em;
font-weight:400;
}

h3 a {
font-size: 1.1em;
}

h4 {
font-size:1em;
margin:.5em 0 .3em;
font-weight:400;
}

a {
text-decoration:underline;
}

a:hover {
text-decoration:none;
}

input,textarea,select {
border:none;
color: #00004d;
font-family:"Open Sans",sans-serif;
padding-left: 5px;
}

input#submit{
cursor: pointer;
border-radius: 0;
font-weight: 700;
padding: 2px 6px;
height: 28px;
font-size: 11px;
}

blockquote {
font-size:.9em;
margin:0 20px;
padding:0 20px;
border-left:4px solid #E8E8CE;
}

form,img {
margin:0;
padding:0;
border:0;
}

.hidden {
visibility:hidden;
}

.nascosto {
background:#fff;
color:#000;
left:-10000px;
top:-10000px;
position:absolute;
}

#searchcss {
margin:0;
padding:0;
}

code {
}

.code {
background:#F0F0F0;
padding:10px;
margin:10px 60px;
border:1px dotted #000;
color:#000;
font-family:Monaco,"Courier New",Courier,monospace;
font-size:85%;
}

.small {
font-size:.9em;
color:#999;
}
.leftsidebar current_page_item a {
text-decoration:none;
background-color:#fff;
}

.leftsidebar current_page_item ul li a {
background-color:#fff;
text-decoration:none;
}

/********************** Header **********************/

/* Structure */
#header {
text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
padding:0;
margin:0;
min-height:125px;
position:relative;
text-align: center;
border-radius: 5px 0 0 0;
font-size: 1.1em;
}

/* Essential Layout (IE7 Fix) */
*+html #header {
padding-bottom:15px;
}

/* Essential Layout (IE6 Fix) */
* html #header {
padding-bottom:15px;
}

#header-interno {
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
max-height: 125px;
padding: 10px;
}

#header img.logo {
float:left;
}

#header p {
padding:0;
margin:4px 0 0;
}

#header h1 {
font-size:2.5em;
padding:0;
margin:0 0 0 10px;
font-weight:700;
}

#header h1 a {
text-decoration:none;
}

#header p {
font-size:.75em;
}

#header ul {
font-size:.75em;
text-align:left;
line-height:15px;
}

#header ul.sito {
height: 20px;
padding: 2px;
border-radius: 5px;
color: #F0F0F0;
float: right;
clear: both;
margin: -10px -10px 0 0;
border-radius: 0 0 0 5px;
text-shadow: none;
position:relative;
z-index:9;
}

#header ul li {
margin:0;
display:inline;
}

#header ul li a {
text-decoration:none;
}

#header ul.sito li a:hover {
background:white;
color:#00004d;
}

#header ul.sito li a {
padding:2px 10px;
float:right;
color:white;
}

#header ul.sito li.current_page_item a {
background:#F0F0F0;
color:#3A291F;
}

#header ul.sito li.current_page_item a:hover {
text-decoration:none!important;
color:#3A291F!important;
}

#topbar {
height:auto!important;
min-height:30px;
width:101%;
left:-0.5%;
border-radius:2px;
padding:0;
position: relative;
float:left;
color: #F0F0F0;	
}

#topbar ul {
margin-top: 0px;
}

#topbar li a {
padding: 5px 10px;
float:left;
border-right:1px solid;
border-right-color:#F0F0F0;
}

#topbar ul li {
margin:0;
display:inline;
}

#topbar ul li a {
text-decoration:none;
color:#FFF;
transition: background 0.5s, color 0.2s;
}

#topbar ul li a:hover {
color:#3A291F;
transition: background 0.5s, color 0.2s;
}

#topbar ul li.current_page_item a {
text-decoration:none!important;
color:#3A291F;
}

/* Essential Layout (IE7 Fix) */
*+html #topbar li a {
margin-top:-14px;
}

/******************* Main Content *******************/

#path {
font-size:.8em;
margin-top:.8em;
}

#path a {
text-decoration:none;
}

/********** Previous and Next by Catagory ***********/
/* Structure */
#postnavigation {
display:inline;
float:right;
margin:0 0 5px 5px;
padding:0 .5em;
border:1px solid #E8E8CE;
background-color:#FAFAF0;
font-size:.75em;
}

#postnavigation ul {
margin:0;
padding:0;
}

#postnavigation li {
margin-left:1em;
}

#postnavigation .navheader {
font-size:1.25em;
font-weight:bolder;
list-style-type:none;
margin-left:0;
}

#postnavigation ul {
list-style-type:none;
}

/******************* Left Sidebar *******************/
/* Structure */
#leftsidebar h2 {
display:block;
margin:0 .8em .2em;
padding-top:15px;
text-decoration:none;
font-size:1em;
border-radius:0 0 0 5px;
padding-left:5px;
border-bottom:1px dotted;
}

#leftsidebar h2 a {
display:block;
text-decoration:none;
}

#leftsidebar h2 a:hover {
display:block;
}

#leftsidebar ul {
list-style-image:url(images/li_image.gif);
font-size:1em;
margin:0;
padding:0;
}

#leftsidebar ul li a {
text-decoration:none;
}

#leftsidebar ul li a:hover {
text-decoration:underline;
}

#leftsidebar ul ul {
margin-left:30px;
}

#leftsidebar ul ul li {
margin:0 .9em 0 .3em;
font-size:90%;
line-height:170%;
}

#leftsidebar ul ul li a {
margin:0 0 0 -10px;
padding:0 10px;
voice-family: "\"}\"";
voice-family:inherit;
text-decoration:none;
display:block;
}

#leftsidebar ul ul ul {
margin:0;
}

#leftsidebar ul ul ul li {
margin:0 0 0 -10px;
padding:0 0 0 25px;
border-bottom:none;
border-top:1px solid #E8E8CE;
}

#leftsidebar ul ul ul li a {
margin:0 0 0 -25px;
padding:0 10px 0 25px;
}

/****************** Right Sidebar *******************/
/* Structure */
#rightsidebar h2 {
font-size:.85em;
margin:.6em 0 .3em;
display:block;
text-decoration:none;
color: white;
width: 105%;
padding-left: 10px;
}

#rightsidebar h2 a {
display:block;
padding-left:.6em;
color: white;
}

#rightsidebar h2.sez_utenti {
background-color:#fff;
color:#039;
font-size:1.4em;
margin-bottom:-1px;
padding-bottom:4px;
margin-left:-20px;
padding-left:20px;
}

#rightsidebar ul {
margin:10px;
padding: 0 0 0 8px;
list-style-type:none;
font-size:95%;
}

#rightsidebar li.widget {
margin-top:10px;
}

#rightsidebar #wpmenudati ul {
background-color:transparent;
border:0;
font-size:.8em;
}

#rightsidebar ul li a {
margin-left:-20px;
padding-left:20px;
display:block;
/*background: #fff;*/
text-decoration:none;
}

#rightsidebar ul li a:hover {
text-decoration:underline;
}

#rightsidebar ul ul {
margin:.1em 0 .8em;
border:0;
font-size:85%;
}

#rightsidebar ul ul li {
padding-bottom:4px;
border-bottom:1px dotted #C2E3ED;
}

#rightsidebar ul ul li a {
margin:0 0 0 -10px;
padding:0 10px;
voice-family: "\"}\"";
voice-family:inherit;
text-decoration:none;
}

#rightsidebar ul ul ul {
margin:0;
border:none;
}

#rightsidebar ul ul ul li {
margin:0 0 0 -10px;
padding:0 0 0 25px;
border-bottom:none;
border-top:1px solid #E8E8CE;
}

#rightsidebar ul ul ul li a {
margin:0 0 0 -25px;
padding:0 10px 0 25px;
}

#rightsidebar li.current-cat a {
color:#000!important;
}

#rightsidebar li.active a,#rightsidebar ul ul li.active a {
font-weight:700;
}

/********************** Footer **********************/

#footer p {
font-size:.75em;
margin:0;
padding:5px;
line-height:1.2em;
}

/******************* Search Widget ******************/
#searchform #s {
width: 95%;
background: white url(images/search.png) no-repeat center right;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 0.8em;
padding: 5px 2px 4px 10px;
}

/***************** Calendar Styles ******************/
/* Structure */
#wp-calendar {
font-size:.8em;
line-height:1.2em;
text-align:center;
margin:0 0 1.2em;
voice-family: "\"}\"";
voice-family:inherit;
width:160px;
}

html>body #wp-calendar {
width: 180px;
}

#wp-calendar caption {
font-weight:700;
margin:1.2em 0 0;
padding:.4em 0;
}

#wp-calendar caption {
font-weight:700;
margin:1.2em 0 0;
padding:.4em 0;
}

#wp-calendar td {
border:0;
border-collapse:collapse;
}

#wp-calendar td a {
display:block;
width:100%;
}

#wp-calendar td.pad {
background:transparent;
}

#wp-calendar td#next {
text-align:right;
}

#wp-calendar td#prev {
text-align:left;
}

#wp-calendar td#next,#wp-calendar td#prev {
padding:.1em 2px;
background:transparent;
}

#wp-calendar td#next a,#wp-calendar td#prev a {
display:inline;
}

/********************** Blog ************************/
.postentry,.postfeedback {
margin-left:1em;
}

.posttitle,.pagetitle {
margin-bottom:10px;
margin-top:15px;
width:100%;
}

.posttitle a,.pagetitle a {
float:left;
padding:0 10px;
color:#036;
}

.circ {
margin-top:-20px;
padding-top:1px;
}

.permalink {
margin:0 1.8em 0 0;
padding:0 0 0 14px;
background:url(images/permalink.gif) no-repeat center left;
}

.commentslink,.trackbacklink {
margin:0 1.8em 0 0;
padding:0 0 0 17px;
background:url(images/commentslink.gif) no-repeat center left;
}

#comments {
width:98%;
float:left;
margin:0;
padding-bottom:.5em;
}

.children,#commentlist {
list-style-type:none;
}

#commentlist {
clear:left;
margin:0;
padding:0;
border-bottom:1px solid #E8E8CE;
}

#commentlist li {
padding:1px 20px 20px;
border-top:1px solid #E8E8CE;
background-color:#FFF;
}

.comment-author {
font-size:1.1em;
font-style:normal;
font-weight:700;
margin:.5em 0 0;
}

.comment-author .avatar {
float:left;
margin:0 10px 5px 0;
}

.fn {
font-style:normal;
}

.comment-meta {
font-size:.9em;
color:#999;
margin-top:0;
}

.alt {
background-color:#FAFAF0!important;
}

.bypostauthor {
background-color:#F0F0F0!important;
}

.reply {
font-size:smaller;
text-align:right;
display:block;
margin-top:-1.8em;
}

#cancel-comment-reply {
margin-right:2em;
}

#respond {
clear:both;
margin-top:10px;
}

li #respond {
border-top:1px solid #000;
}

.navigation-bottom {
height:1em;
margin-top:5px;
margin-bottom:15px;
}

.navigation-top {
height:1em;
margin:0;
padding-top:1em;
}

.navigation-bottom p {
margin-top:0;
margin-bottom:0;
}

.navigation-top p {
margin-top:0;
margin-bottom:0;
}

/********************* Images ***********************/
p img {
padding:0;
max-width:100%;
}

.aligncenter,div.aligncenter,img.centered {
display:block;
margin-left:auto;
margin-right:auto;
}

img.alignright {
padding:4px;
margin:0 0 2px 7px;
/*display: inline;*/
clear:both;
}

img.alignleft {
padding:4px;
margin:0 7px 2px 0;
display:block;
clear:both;
}

.alignright {
float:right;
}

.alignleft {
float:left;
}

.reallysmallthumbs a img {
width:60px;
height:60px;
float:left;
margin:1px;
}

.wp-caption {
margin: 5px;
font-style: italic;
}

.wp-caption-text {
font-size: 90%;
margin-top: 0px;
text-align: center;
border-radius: 5px;
border-bottom: 1px solid #25385D;
padding-bottom: 2px;
}

/******************* Geo Mashup *********************/
.locationinfo {
overflow:auto;
height:195px;
width:320px;
font-size:70%;
/* used to allow room for the info window x icon */
margin:0 10px 0 0;
}

.locationinfo h2 a {
margin:0;
}

.locationinfo p {
margin:0;
}

.locationinfo img {
height:108px;
width:auto;
}

/********************* Sociable *********************/
.sociable_tagline {
display:none;
}

.sociable ul {
margin:0;
padding:0;
}

.sociable {
margin:0 0 -1em;
}

.sociable li {
background:none;
display:inline;
list-style-type:none;
margin:0;
padding:0 1px;
}

/***************** Twitter Widget *******************/
#twitter-list {
font-size:.9em;
}

/**************** pagina categorie *******************/
#centrecontent table {
width:100%;
font-size:.8em;
}

#centrecontent caption {
display:none;
}

#centrecontent table th,#centrecontent table td {
padding:6px;
}

#centrecontent table th {
text-align:left;
}

#centrecontent table tr.tdalt td {
background-color:#FFF;
}

.riassunto {
border:none;
margin-top:10px;
padding:.5em;
}

.riassunto p,p.riassunto {
margin:0;
padding:0;
font-size:.8em;
line-height:140%;
}

.tdalt {
background-color:#FFF;
}

/**************** pagina categorie *******************/
.news {
margin-top:10px;
padding:0 .4em;
font-size:95%;
}

.news h3 {
color:#000;
border-bottom:1px dotted #006;
}

.news .postmeta {
margin-top:-6px;
}

.news .postmeta a {
color:#000;
}

.news p {
}

/**************** sottopagine *******************/
.gerarchia {
font-size:.9em;
float:right;
border:1px dotted #ccc;
padding:4px 6px;
list-style-type:none;
background:#F0F0F0;
}

/***************** mappa *********************/
#left {
width:64%;
float:left;
}

#right {
width:34%;
float:right;
}

/****************albert*****************/
#rightsidebar h2.motore,.screen-reader-text {
display:none;
}

#leftsidebar ul ul ul {
display:none;
}

h4.piccino a {
font-size:1.2em;
font-weight:400;
line-height:1.4em;
margin:.75em 0 .25em;
text-decoration:none;
}

.piccolino {
font-size:.9em;
margin:0;
padding:0;
}

.piccolino p {
font-size:1em;
line-height:1.4em;
margin-bottom:6px;
margin-top:0;
padding:0;
}

/* tabelle per vista circolari */
#centrecontent ol.alfa {
list-style-type:lower-alpha;
}

#centrecontent ol.romano {
list-style-type:upper-roman;
}

#sotto-hp {
background-color:#FFF;
border-bottom:8px solid #FFF;
clear:both;
color:#000;
margin-bottom:8px;
padding-top:5px;
font-size:.85em;
}

#sotto-hp .col-com2 h2 a {
font-weight:400;
line-height:130%;
text-decoration:none;
}

.col-com2 {
width:30%;
float:left;
margin-right:5px;
padding:1%;
}

.col-com2 ul {
margin:5px;
}

.col-com2 a:hover {
text-decoration:underline;
}

.col-com2 li {
line-height:120%;
margin-bottom:5px;
list-style-type:none;
}

.col-com2 li li {
line-height:130%;
margin:5px;
padding-left:10px;
list-style-type:none;
font-size:1.1em;
}

/*footbar*/
#footbar {
height:auto!important;
min-height:21px;
width:100%;
padding:0;
margin:-14px 0 0;
clear:both;
display:block;
}

#footbar ul {
font-size:.8em;
text-align:left;
line-height:1.5em;
}

#footbar li a {
padding:1px 10px 3px;
float:left;
border-right:1px solid;
border-right-color:#F0F0F0;
}

#footbar ul li {
margin:0;
display:inline;
}

#footbar ul li a {
text-decoration:none;
color:#F0F0F0;
}

#footbar ul li a:hover {
background:#F0F0F0;
color:#3A291F;
}

#footbar ul li.current_page_item a {
text-decoration:none!important;
color:#3A291F!important;
background:#F0F0F0;
}

#footbar ul li.current_page_item a:hover {
text-decoration:none!important;
color:#3A291F!important;
}

/* Essential Layout (IE7 Fix) */
*+html #footbar li a {
margin-top:-14px;
}

/* ul diversi*/
.ulpuntato li {
list-style-image:url(images/square.gif);
font-weight:700;
padding-bottom:1em;
}

.ulsenzapunto {
list-style-image:none;
}

/*fine footbar*/
abbr,acronym {
cursor:help;
}

#centrecontent img {
border: 1px solid;
background-color: white;
padding: 2px;
border-radius: 5px;
}

#centrecontent dd {
font-size:.8em;
line-height:1.5em;
}

#centrecontent .gacounter ul {
list-style-type:none;
}

/* alberto ritocchi */
.postmeta {
font-size:.8em;
padding: 10px 10px 5px 10px;
border-radius: 5px;
}

table.ec3_schedule {
display:none;
}

.riassunto {
margin-bottom:1.5em;
}

#comments,h2.pagetitle {
font-weight:400;
}

#centrecontent li {
padding-bottom:.5em;
}

#centrecontent li li {
padding-bottom:0;
}

h3.piccino {
font-size:.95em;
font-weight:400;
line-height:1.4em;
margin:.75em 0 .25em;
}

h3.posttitle,h3.pagetitle {
border-bottom:none;
}


/* BLU */

#leftsidebar .current_page_item a, #leftsidebar .current_page_item ul li a {
	color: #25385D !important;
	text-decoration:none;
	background-color: #fff;
}

#postnavigation .navheader {
	color: #25385D; 
}

.posttitle, .pagetitle {
	border-bottom:1px dotted;
	padding-left: 10px;
}

.postmeta .postauthor, .comment-author {
	color: #25385D;
}


/******** HOME PAGE ************/

#sotto-hp .col-com2 h2 a {
    color: #25385D;
}

#centrecontent table th {
	background-color: #C2E2ED;
	border-bottom: 1px solid #25385D;
	color: #25385D;
}

#centrecontent table td {
	background-color: #DEEFF6;
	border-bottom:1px solid #CDCDCD;
}

#footbar{
	background-color: #25385D;
	color: #F0F0F0;	
}


/* this styles the paging navigation */

/*** paging nav ***/
#nav-below {
   clear:both;
}
.paging {
   margin-top:2em;
}
.paging li a,
.paging li a:hover,
.paging li.active a,
.paging li.disabled {
        color: #fff;
        text-decoration:none;
}

.paging li {
        display: inline;
}

.paging li a,
.paging li a:hover,
.paging li.active a,
.paging li.disabled {
        background-color: #c2e2ed;
        border-radius: 3px;
        cursor: pointer;
        padding: 6px;
		color: #006;
}

.paging li a:hover,
.paging li.active a {
        background-color: #006;
		color: white;
}

/**** end paging nav *****/

/**** widget show all category ****/
.showall_widget {
float: right;
font-size: 0.7em;
}
.showall_widget a:hover {
color:white;
}
.showall_widget a{
font-weight:normal;
text-decoration:none;
padding: 0 3px;
}
/**** end widget show all category ****/

/* Formattazione dell'immagine in evidenza sulla barra destra */
.attachment-rightbar-thumb{
  width: 100%!important;
  height: 100%!important;
  border: 1px #aaaacc solid;
  background-color: white;
  padding: 1px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 4px rgba(127, 126, 127, 0.50);
  -moz-box-shadow:    3px 3px 4px rgba(127, 126, 127, 0.50);
  box-shadow:         3px 3px 4px rgba(127, 126, 127, 0.50); 	
}

/* ------- Fluid Columns ------- */
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth { position:relative; margin-right:4%; float:left; min-height:1px; height:auto!important; height:1px; }
.one_half { width:48%; }
.one_third { width:30.6666%; }
.two_third { width:65.3332%; }
.one_fourth { width:22%; }
.two_fourth { width:48%; }
.three_fourth { width:74%; }
.one_fifth { width:16.8%; }
.two_fifth { width:37.6%; }
.three_fifth { width:58.4%; }
.four_fifth { width:79.2%; }
.one_sixth { width:13.3333%; }
.two_sixth { width:30.6666%; }
.three_sixth { width:47.9998%; }
.four_sixth { width:65.3332%; }
.five_sixth { width:82.6665%; }
.last { margin-right:0!important; clear:right; }
.one_half .one_half { margin-right:8.3333%; width:45.8333%; }
.one_half .one_third { margin-right:8.3333%; width:27.7778%; }
.one_half .two_third { margin-right:8.3333%; width:63.8889%; }
.two_third .one_third { margin-right:6.1224%; width:29.2517%; }
.two_third .two_third { margin-right:6.1224%; width:64.6258%; }
.two_third .one_fourth { margin-right:6.1224%; width:20.4082%; }

/* ------- Class per gestione shortcode destinatari ------- */
.contentdest {overflow:hidden; padding-bottom:5px;padding-top:15px;font-size: 0.9em;}
.short_dest_line {overflow:hidden; padding-bottom:5px;}
.short_dest_col_images {width:90px;float:left;margin-left:5px;margin-top:5px;}
.short_dest_col_testo_3C {margin-left:100px; padding-top:5px;margin-right:120px;margin-top:0px;padding-bottom:5px;}
.short_dest_col_testo_2C {padding-top:5px;margin-right:120px;margin-top:0px;padding-bottom:5px;}
.short_dest_col_date {width:120px;float:right; text-align:right;padding-top:5px;}

/* ------- Class per gestione eu law ------- */

.pasw2015cookies {
	width:100%;
	position:fixed;
	text-align: center;
	z-index: 999999;
	color: white;
}

.pasw2015cookies-cookie-pop {
    position: relative;
	box-shadow: 3px 4px 0px 0px #899599;
	border-radius:5px;
	border:1px solid #d6bcd6;
	display:inline-block;
	width:80%;
	
}
.pasw2015cookies-cookie-pop button {
	border-radius:5px;
}

.pasw2015cookies-cookie-pop a {
background: #E9E9E9;
border-radius:5px;
text-decoration:none;
}

.pasw2015cookies-banner-text {
    display: inline-block;
    position: relative;
	margin: 5px;
}

.pasw2015cookies_block {
background: url('images/bg_blocco.jpg');
border-radius: 5px;
float:left;
}
.pasw2015cookies_block span {
width: 100%;
margin: 5% auto 5% auto; 
float:left;
}

.pasw2015cookies_control {
	position: relative;
	box-shadow: 3px 4px 0px 0px #899599;
	margin: 20px auto;
    padding: 8px 21px;
	text-align: center;
	border-radius:5px;
	border:1px solid #d6bcd6;
	display:inline-block;
	width:80%;
}


.remove-cookie {
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
/*	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0); */
	background-color:#ededed;
	border-radius:5px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:13px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.remove-cookie:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0); */
	background-color:#bab1ba;
}

.remove-cookie {
	position:fixed;
	text-align: center;
	z-index: 99999;
	color: white;
}

span.pasw2015eu-policy-link a {
	/* link to the extended policy page */
}

/* CSS Document */
/* Modulo single custom*/

.box-shadow-br{ 
    padding: 1px;
    margin: auto;   
    position: relative; 
    background-color: #FFFFFF; 
    border: 1px solid #CCCCCC;    
    border-radius: 2px;
    box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.50);
}           

.box-shadow-br:after{ 
    content: ""; 
    z-index: -1; 
    position: absolute; 
    width: 60%; 
    top: 75%; 
    right: 4px; 
    bottom: 12px; 
    -webkit-transform: rotate(2deg); 
    transform: rotate(2deg); 
    box-shadow: 0px 15px 10px rgba(50, 50, 50, 0.50); 
}

.avviso {
  font-size: 0.90em;
  padding: 30px 30px 30px 30px;  
  margin: 15px 0 20px 0;
  text-shadow: 0 0 1px rgba(100, 100, 100, 0.75) !important;
}

.avviso hr {
  height: 1px;
  border-width: 0;
  background-color: #c2e2ed;
  margin-bottom: 20px;  
}

.avviso img {
  border: none !important;
}

.avviso table {
  width: 100%;
  /*background-color: rgb(255,255,255);*/
  border-collapse: collapse;
  margin: 5px 0 5px 0;
  cursor: default;
  font-size: 0.95em!important;
}

.avviso table td {
  /*background-color: rgb(255,255,255)!important;*/
  border: none;
  border-bottom: 1px solid rgb(102,204,255); 
}

.avviso table tr:nth-child(odd) td { 
  background-color: #eeeeff!important; 
}

.avviso table tr:nth-child(even) td { 
  background-color: #ffffff!important; 
}

.avviso table th {
  border: none;
  border-bottom: 1px solid rgb(102,204,255); 
  text-align: center;
}

.avviso p {
  font-size: 1.00em;
}

.avviso .content {
  min-height: 500px;
}

.avviso .object {
  margin: 30px 0 40px 0;
}

.avviso .sign {
  margin: 10px 0 10px 0;
  /*font-size: 0.90em; */
}

.avviso .footer {
  font-size: 0.90em;
} 
/*--------------------------------------------------------------
## Back to top.
--------------------------------------------------------------*/
/* Back to top. */
.back-to-top {
  position: fixed;
  bottom: -7.5%;
  padding: 5px;
  color: white;
  opacity: 0.25;
  border-radius: 4px;
  visibility: hidden;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
  background: #202020; 
  }
  .back-to-top span {
    color: white;
    font-size: 24px;
	}
  .back-to-top:hover, .back-to-top:focus {
    opacity: 1; }
  .back-to-top:focus {
    outline: #e4f1fe dotted thin; }

.show-back-to-top {
  display: block;
  bottom: 2.5%;
  visibility: visible;
  z-index: 9999999 !important;
    }
/*.back-to-top a:link, a:visited, a:hover, a:active {
    color: white !important;
} */

.back-to-top i {
	color: white !important;
	}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}
