<div class="text-left p-0 mt-3 mb-3">

  <div class="container-name-surname mb-3">
    <p class="ana">Nome e Cognome</p>
    <p>{{element.guestMinimal.firstName | uppercase}} {{element.guestMinimal.lastName | uppercase}}</p>
  </div>

  <div class="mb-2">
    <p class="ana">Codice Fiscale</p>
    <p class="bolder">{{element.guestMinimal.fiscalCode | uppercase}}</p>
  </div>

  <div class="mb-2">
    <p class="ana">Data Nascita</p>
    <p class="bolder"> {{element.guestMinimal.birthDate | date: 'dd/MM/YYYY'}}</p>
  </div>

  <div>
    <p class="ana">ASL</p>
    <p class="bolder">{{element.guestMinimal.historicResidence != null && element.guestMinimal.historicResidence.asl != null ? element.guestMinimal.historicResidence.asl.description : ''| uppercase}}</p>
  </div>

</div>
