<!-- Sezione Barra Sopra la tabella con azioni varie -->
<div class="mat-elevation-z4 data-table mx-auto archive-guest-search">
  <div class="row">

    <!-- Filtro tabella   -->
    <div class="col-sm-12 col-md-6 col-lg-4 pr-0">
      <div class="d-flex align-items-center ml-3">
        <div style="margin-top: -7px;">Cerca ospite</div>
        <div style="width: 75%;" class="input-form">
          <mat-form-field class="p-3 search-input">
            <input matInput (keyup)="applyFilter($event)">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 p-4 mr-2">
      <div class="lr-border" style="padding-top: 11px;">
        <div style="margin: -20px auto 0; width: 125px">
          <mat-form-field appearance="outline" *ngIf="years.length > 0">
            <mat-label>Anno</mat-label>
            <mat-select [(ngModel)]="yearSelected" (ngModelChange)="onChangeYear()">
              <mat-option *ngFor="let year of years" [value]="year">
                {{year}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!--Bottone Esporta -->
    <div class="col p-lg-4">
      <div class="float-right mr-2" style="margin-top: 7px;">
        <button mat-raised-button class="button-r esporta-btn" (click)="esporta()"  [disabled]="!esportazioneStato">
          <mat-icon class="esporta"></mat-icon>
          <mat-label>Esporta</mat-label>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Sezipone della Tabella -->
<div class="data-table mt-4" *ngIf="this.dataSource.filter">
  <div class="row">
    <div class="mt-3" *ngFor="let item of this.dataSource.filteredData" style="min-width: 390px;max-width: 392px;">
      <mat-card *ngIf="isAccessible" (click)="openGuestDetails(item)" class="img-block">
        <mat-card-header>
          <div mat-card-avatar>
            <img class="mat-card-image" *ngIf="!item || !item.picContent" mat-card-image src="assets/img/blank-avatar.png"/>
            <img class="mat-card-image img-display-cover" *ngIf="item && item.picContent" mat-card-image src="{{item.picContent}}"/>
          </div>
          <div [ngClass]="(item.status != null &&  item.status.id === 4) ? cardAbsentClass : cardClass">
            <div class="guest-card-detail-box">
              <mat-card-title class="mat-card-header-text patientName uppercase w-100">{{item.lastName}} {{item.firstName}}</mat-card-title>
              <mat-card-subtitle class="mat-card-header-text age w-100">Data di accettazione: {{getDate(item.acceptanceDate)}}</mat-card-subtitle>
              <mat-card-subtitle class="mat-card-header-text age w-100">Data di uscita: {{getDate(item.exitDate)}}</mat-card-subtitle>
            </div>
          </div>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
