.full-width-table {
  width: 100%;
}

.data-table {
  width: 98%;
  margin: 5px auto;
}

/* Structure */
table {
  width: 100%;
}

th {
  font-weight: bolder;
  font-size: large;
}

.mat-form-field {
  font-size: medium;
  width: 100%;
}

td, th {
  width: 15%;
}

.td-actions {
  width: 25%;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

.example-element-row td {
  border-bottom-width: 0;
}

.button-r {
  border-radius: 8px !important ;
}

//Per mettere tutto al centro all'interno delle tabelle

th.mat-header-cell,
th.mat-sort-header,
td.mat-cell {
  text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-card-image {
  margin-top: 0px !important;
  margin-left: 0px;
}

.mat-card-header-text {
  margin: 0px 35px !important;
}

.img-block {
  height: 134px !important;
  padding: 0px !important;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
}

.img-block .mat-card-avatar {
  width: 25%;
}

.img-block .mat-card-image {
  width: 153px !important;
  height: 134px !important;
  border-radius: 15px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border: 1px solid  #A9A9A9 !important;
}

.img-block .img-label {
  left: 147px;
  top: 0;
  width: 235px !important;
  background-color:  #A9A9A9 !important;
  border-radius: 15px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  padding-top: 23px;
  padding-left: 19px;
  position: absolute;
  bottom: 0;
}

.guest-card-detail-box {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.img-block .abs-img-label {
  left: calc(7.7vw - 1px);
  top: 0;
  width: 66% !important;
  background-color: #A9A9A9 !important;
  border-radius: 15px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  padding-top: 1.2vw;
  padding-left: 1vw;
  position: absolute;
  bottom: 0;
}

.patientName {
  font-weight: 600;
  color: white !important;
  font-size: 17px;
  width: 216px;
  margin-bottom: 9px !important;
  line-height: 19px;
}

.fiscalCode, .age {
  line-height: 28px;
  font-size: 15px;
  color: white !important;
}

.mat-card-header-text {
  margin-left: 0px !important;
}

.esporta {
  background-image: url('../../../assets/icon/esporta.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position-x: 12px;
  background-position-y: 6px;
  background-color: #4A8397;
  height: 31px;
  width: 39px;
  margin-top: -0.3em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.esporta-btn {
  float: right;
  margin-right: 15px;
  padding: 0;
  border: 1px solid #4A8397;
  color: #4A8397;
  height: 32px;
}

.esporta-btn mat-label {
  padding-left: 15px;
  padding-right: 15px;
}

.uppercase {
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .patientName {
    margin-bottom: 0 !important;
  }
}

.lr-br-h-65 {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  height: 65px;
}

.year-dd-width {
  width: 225px;
  min-width: 225px;
}

::ng-deep .archive-guest-search {
  margin-left: 0px !important;

  .lr-border {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    height: 50px;
  }

  .input-form .mat-form-field-label-wrapper {
    border: 1px solid darkgray;
    height: 20px !important;
    border-radius: 8px;
    margin-top: 14px;
  }

  .search-input input {
    padding: 3px;
    width: calc(100% - 4px);
    height: 28px;
    margin-top: -6px;
    border-radius: 5px;
    background-color: #fff;
  }

  .mat-button-wrapper mat-label {
    display: inline-block;
    margin-top: -0.4rem;
  }

  .mat-form-field-underline {
    display: none !important;
  }
}
