@import '~styles/cards';

::ng-deep app-stepper-acceptance {

  .family-card-border {
    box-shadow: none !important;
    border: 2px solid #e9e9e9;
    border-top: none;
  }

  .family-card {

    .mat-card-header {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }

    mat-card-content {
      background-color: #F6F6F6;
    }
	
	.icon-rescale {
		transform: scale(0.8);
	}
	
    .user {
      background-image: url('../../../../../assets/icon/user.png');
      background-repeat: no-repeat;
      background-size: 32px;
      background-position-y: 2px;
      height: 35px;
      width: 38px;
    }

    .mat-card-title {
      display: flex;
      margin-bottom: -2px !important;
      margin-top: -2px !important;
      align-items: center;
      gap: 30px;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
      background-color: #fff;
      border: 2px solid #DEDEDE;
      border-radius: 5px;
      color: transparent;
    }

    .mat-form-field-appearance-outline .mat-form-field-flex {
      height: 40px;
    }

    .mat-form-field-infix {
      padding-top: 0.1em;
    }

    .sm-mat-card:not(.full-w) .outer-label {
      margin-right: 21px;
      display: inline-flex;
    }

    .sm-mat-card:not(.full-w) mat-form-field {
      width: 55%;
    }

    app-virtual-scroll-autocomplete mat-form-field, .residenza mat-form-field {
      width: 56%;
    }

    .outer-label {
      min-width: 64px;
      display: inline-flex;
    }

    .mat-card-header-text {
      width: 57%;
    }

    table {
      width: 100%;
    }

    th {
      font-weight: bolder;
      font-size: large;
    }

    .mat-form-field {
      font-size: medium;
      width: 100%;
    }

    td, th {
      width: 15%;
    }

    .td-actions {
      width: 22%;
    }

    tr.example-element-row:not(.example-expanded-row):hover {
      background: whitesmoke;
    }

    .example-element-row td {
      border-bottom-width: 0;
    }

    .button-r {
      border-radius: 8px !important ;
    }

    //Per mettere tutto al centro all'interno delle tabelle

    th.mat-header-cell,
    th.mat-sort-header,
    td.mat-cell {
      text-align: center;
    }

    .mat-sort-header-container {
      display: flex;
      margin-left: 1rem;
      justify-content: center;
    }

    .clipboard {
      background-image: url('../../../../../assets/icon/clipboard.svg');
      background-repeat: no-repeat;
      background-size: 21px;
      height: 30px;
      width: 30px;
    }

    .clipboard-btn {
      background-image: url('../../../../../assets/icon/clipboard.svg');
      background-repeat: no-repeat;
      background-size: 14px;
      background-position-x: 12px;
      background-position-y: 5px;
      background-color: #4A8397;
      height: 30px;
      width: 39px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .groupedHeader {
      text-align: left !important;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .mat-header-row:not(.groupedHeader) {
      background-color: #A8A8A8 !important;
    }

    .mat-header-row:not(.groupedHeader) th {
      color: #fff;
    }

    tr:nth-child(odd) {
      background-color: #E9E9E9;
    }

    .ricovera-green {
      padding: 0;
      border: 1px solid #609970;
      color: #609970;
      height: 32px;
    }

    .ricovera-lista-blue {
      padding: 0;
      border: 1px solid #4A8397;
      color: #4A8397;
      height: 32px;
      line-height: initial;
    }

    .elimina-red {
      padding: 0;
      border: 1px solid #B7562C;
      color: #B7562C;
      height: 32px;
    }

    .elimina-red-icon {
      background-image: url('../../../../../assets/icon/cross-cirlce.svg');
      background-repeat: no-repeat;
      background-size: 18px;
      background-position-x: 11px;
      background-position-y: 7px;
      background-color: #B7562C;
      height: 31px;
      width: 39px;
      margin-top: -0.3em;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .elimina-red mat-label, .ricovera-green mat-label, .ricovera-lista-blue mat-label {
      padding-left: 10px;
      padding-right: 10px;
    }

    .mat-sort-header-container.mat-focus-indicator {
      border-right: 1px solid;
      height: 28px;
    }

    .lr-border {
      border-left: 1px solid lightgray;
      border-right: 1px solid lightgray;
      height: 50px;
    }

    .input-form .mat-form-field-label-wrapper {
      border: 1px solid darkgray;
      height: 20px !important;
      border-radius: 8px;
      margin-top: 9px;
    }

    .search-input .mat-form-field-underline {
      display: none !important;
    }

    td {
      font-weight: 500;
    }

    .search-input input {
      padding: 3px;
      width: calc(100% - 4px);
      height: 28px;
      margin-top: -6px;
      border-radius: 5px;
      background-color: #fff;
    }

    th.mat-header-cell:last-of-type {
      padding-right: 0px !important;
    }

    th:not(.groupedHeader) {
      font-weight: 400;
    }

    .data-table.mt-4 {
      margin: 0 !important;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 8px;
      width: 100%;
      box-shadow: none !important;
      border: 2px solid #e9e9e9;
      border-radius: 7px;
    }

    .cancel-btn {
      padding: 0;
      color: #ba5633;
      background-color: #E9E9E9 !important;
      height: 32px;
      line-height: initial;
      box-shadow: none;
      border-left: none;
    }

    .salva-btn {
      padding: 0;
      color: #56a265;
      background-color: #E9E9E9 !important;
      height: 32px;
      line-height: initial;
      box-shadow: none;
      border-left: none;
    }

    .cancel {
      background-image: url('../../../../../assets/icon/cancel.png');
      background-repeat: no-repeat;
      background-size: 21px;
      background-position-x: 7px;
      background-position-y: 5px;
      background-color: #ba5633;
      height: 30px;
      width: 35px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      margin-top: -1px;
    }

    .check {
      background-image: url('../../../../../assets/icon/pencil.png');
      background-repeat: no-repeat;
      background-size: 21px;
      background-position-x: 7px;
      background-position-y: 5px;
      background-color: #56a265;
      height: 30px;
      width: 35px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      margin-top: -1px;
    }

    .next-btn {
      padding: 0;
      border: 2px solid #D7D7D7;
      color: cornflowerblue;
      background-color: #fff;
      height: 32px;
      line-height: initial;
      border-radius: 4px !important;
      box-shadow: none;
      border-left: none;
    }

    .prev-btn {
      padding: 0;
      border: 2px solid #D7D7D7;
      color: cornflowerblue;
      background-color: #fff;
      height: 32px;
      line-height: initial;
      border-radius: 4px !important;
      box-shadow: none;
      border-left: none;
    }

    .next {
      background-image: url('../../../../../assets/icon/next.svg');
      background-repeat: no-repeat;
      background-size: 21px;
      background-position-x: 7px;
      background-position-y: 5px;
      background-color: cornflowerblue;
      height: 30px;
      width: 35px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      margin-top: -1px;
    }

    .prev {
      background-image: url('../../../../../assets/icon/prev.svg');
      background-repeat: no-repeat;
      background-size: 21px;
      background-position-x: 7px;
      background-position-y: 5px;
      background-color: cornflowerblue;
      height: 30px;
      width: 35px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      margin-top: -1px;
    }
  }
}
