<div class="row mt-2">
  <div class="col">
    <mat-card class="family-card family-card-border">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="user icon-rescale"></mat-icon>
          <span>{{'family.family' | translate}}</span>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content style="padding-top: 0px !important;padding-bottom: 0px !important;">
        <div class="row">

          <!-- Filtro tabella   -->
          <div class="col-5">
            <div class="d-flex align-items-center" style="margin-left: 20px;">
              <div style="margin-top: -4px;font-size: 17px;">Cerca</div>
              <div style="width: 80%;" class="input-form">
                <mat-form-field class="p-3 search-input" style="padding-bottom: 0px !important;">
                  <input matInput (keyup)="applyFilter($event)" [disabled]="disabled">
                </mat-form-field>
              </div>
            </div>
          </div>

          <!--Bottone Ricovera e Bottone Aggiungi in lista -->
          <div class="col p-lg-4">
            <div class="float-right mr-xl-5" style="margin-top: 4px;">
              <!-- Aggiungi -->
              <button mat-raised-button class="button-r ml-2 ricovera-lista-blue" [disabled]="disabled" (click)="openFamilyMemberDialog()">
                <mat-icon class="clipboard-btn"></mat-icon>
                <mat-label>{{'family.addFamilyMember' | translate}}</mat-label>
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <app-generic-table class="family-card"
                       [inUpperCase]="true"
                       [tableData]="familyData"
                       [tableColumns]="familyTableColumns"
                       [isFilterable]="true"
                       [isPageable]="true"
                       [paginationSizes]="[10, 20]"
                       [defaultPageSize]="10"
                       [noSearchPanel]="true"
                       [inUpperCase]="true"
                       [isNoTextBtn]="true"
                       [externalFilterSearch]="filterSearch"
                       [addAction]="{buttonIcon:'add', buttonText: 'family.addFamilyMember' | translate, disabled: disabled }"
                       (ngAdd)="openFamilyMemberDialog()"
                       [rowActionIcons]="{edit: 'edit', delete: 'delete_outline', position: 'center'}"
                       (ngEdit)="openFamilyMemberDialog($event)"
                       (ngDelete)="onDeleteFamilyMember($event)">
    </app-generic-table>
  </div>
</div>
