@import '~styles/cards';

::ng-deep app-exemptions-step .mat-header-row th {
  color: rgba(0,0,0,.54) !important;
}

::ng-deep app-stepper-acceptance {
  .mat-stepper-horizontal {
    margin-top: 30px;
  }

  .mat-step-icon:not(.mat-step-icon-state-error).mat-step-icon-state-number .mat-step-icon-content {
    display: none;
  }

  .mat-step-icon.mat-step-icon-state-number, .mat-step-icon.mat-step-icon-state-error {
    width: 100px;
    border-radius: 0px;
    border: 1px solid #db3535;
    background-color: #fff;
    color: #db3535;
    width: 150px;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .mat-step-icon.mat-step-icon-state-error .mat-step-icon-content {
    left: 23% !important;
  }

  .mat-step-label-error {
    height: 28px;
    padding-left: 23px;
  }

  .mat-step-label-error .mat-step-text-label {
    height: 15px;
    font-size: 13px;
  }

  .mat-step-sub-label-error {
    margin-top: -5px;
  }

  .mat-step-icon.mat-step-icon-state-number.mat-step-icon-selected {
    background-color: #dd553d;
  }

  .mat-step-label.mat-step-label-active {
    position: absolute;
    color: #dd553d !important;
  }

  .mat-step-label.mat-step-label-active.mat-step-label-selected {
    color: #fff !important;
  }

  .mat-stepper-horizontal-line {
    display: none;
  }

  .mat-step-header {
    padding-right: 0px;
    padding-left: 15px;
    height: 24px;
    justify-content: center;
    margin-bottom: -1px;
  }

  .mat-step-header:first-child {
    padding-left: 1px;
  }

  .mat-horizontal-stepper-header-container {
    border-bottom: 2.5px solid #dd553d;
    margin-left: 2px;
  }

  .mat-horizontal-stepper-header .mat-step-icon {
    margin-right: 0px;
  }

  .mat-horizontal-content-container {
    padding-left: 0;
    padding-right: 5px;
    margin-left: -5px;
  }

  .exemptions-card, .therapeutic-card {
    box-shadow: none !important;
    border: 2px solid #e9e9e9;
    border-top: none;

    .mat-card-header {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }

    .mat-card-content {
      padding-left: 0px !important;
      padding-right: 0px !important;
      padding-top: 0px !important;
      background-color: #F6F6F6;
    }

    .data-table {
      box-shadow: none;
    }
	
	.icon-rescale {
		transform: scale(0.8);
	}
	
    .clipboard {
      background-image: url('../../../../../assets/icon/clipboard.png');
      background-repeat: no-repeat;
      background-size: 38px;
      background-position-y: -2px;
      height: 35px;
      width: 38px;
    }

    .pills {
      background-image: url('../../../../../assets/icon/pills.png');
      background-repeat: no-repeat;
      background-size: 32px;
      background-position-y: 1px;
      height: 35px;
      width: 38px;
    }

    .mat-card-title {
      display: flex;
      margin-bottom: -2px !important;
      margin-top: -2px !important;
      align-items: center;
      gap: 30px;
    }

    .mat-header-row {
      background-color: #A8A8A8;
    }

    *:not(.mat-column-actions) > .mat-raised-button {
      position: absolute;
      margin-top: -84px;
      margin-left: -170px;
      padding: 0;
      border: 1px solid #4A8397;
      color: #4A8397;
      height: 32px;
      line-height: initial;
      background-color: #fff;
    }

    *:not(.mat-column-actions) > .mat-raised-button .material-icons {
      background-image: url('../../../../../assets/icon/clipboard.svg');
      background-repeat: no-repeat;
      background-size: 14px;
      background-position-x: 12px;
      background-position-y: 5px;
      background-color: #4A8397;
      height: 30px;
      width: 39px;
      -webkit-text-fill-color: transparent;
    }

    *:not(.mat-column-actions) > .mat-raised-button mat-label {
      padding-left: 10px;
      padding-right: 10px;
    }

    .search-input-block {
      display: flex;
      min-width: 70%;
      max-width: 70%;
      align-items: center;
    }

    .search-input-block .textFilter {
      display: block !important;
      width: 40%;
      padding-left: 20px;
    }

    .search-input-block input {
      padding: 3px;
      width: calc(100% - 4px);
      height: 28px;
      margin-top: -6px;
      border-radius: 5px;
      background-color: #fff;
    }

    .search-input-block .mat-form-field-label-wrapper {
      border: 1px solid darkgray;
      height: 20px !important;
      border-radius: 8px;
      margin-top: 9px;
    }

    .search-input-block .mat-form-field-underline, .search-input-block .inside-text {
      display: none !important;
    }

    .search-input-block .mat-form-field-infix {
      padding-top: 0.1em;
    }

    .search-input-block .mat-form-field-wrapper {
      padding-bottom: 0.3em;
    }

    .mat-sort-header-container.mat-focus-indicator {
      border-right: 1px solid;
      height: 28px;
    }

    .mat-column-actions {
      width: 24% !important;
      min-width: 25% !important;
    }

    .mat-raised-button.mat-button-disabled {
      background-color: lightgray;
    }
  }

  .therapeutic-card {
    *:not(.mat-column-actions) > .mat-raised-button {
      margin-left: -220px;
    }

    .search-input-block .textFilter {
      width: 51%;
    }
  }
}
