<!-- Exemptions -->
<div class="row mt-2">
  <!-- Exemptions -->
  <div class="col">
    <mat-card class="exemptions-card">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="clipboard icon-rescale"></mat-icon>
          <span>{{'exemptions.exemptions' | translate}}</span>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <app-generic-table
          [textFilter]="'Cerca Esenzione'"
          [tableData]="exemptionsData"
          [tableColumns]="tableColumns"
          [isFilterable]="true"
          [isPageable]="true"
          [isNoTextBtn]="true"
          [paginationSizes]="[5, 10]"
          [defaultPageSize]="5"
          [addAction]="{buttonIcon:'add', buttonText: 'exemptions.addExemption' | translate, disabled: disabled }"
          (ngAdd)="openFormDialog(DataTypeEnum.EXEMPTIONS)"
          [rowActionIcons]="{edit: disabled ? '' : 'edit', delete: disabled ? '' : 'delete_outline', position: 'center'}"
          (ngEdit)="openFormDialog(DataTypeEnum.EXEMPTIONS, $event)"
          (ngDelete)="onDeleteClick(DataTypeEnum.EXEMPTIONS, $event)">
        </app-generic-table>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Therapeutic Plans -->
  <div class="col">
    <mat-card class="m-0 p-0 therapeutic-card">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="pills icon-rescale"></mat-icon>
          <span>{{'exemptions.therapeuticPlan' | translate}}</span>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <app-generic-table
          [textFilter]="'Cerca Piano Terapeutico'"
          [tableData]="therapeuticPlanData"
          [tableColumns]="tableColumns"
          [isFilterable]="true"
          [isPageable]="true"
          [isNoTextBtn]="true"
          [paginationSizes]="[5, 10]"
          [defaultPageSize]="5"
          [addAction]="{buttonIcon:'add', buttonText: 'exemptions.addTherapeuticPlan' | translate, disabled: disabled }"
          (ngAdd)="openFormDialog(DataTypeEnum.THERAPEUTIC_PLAN)"
          [rowActionIcons]="{edit: disabled ? '' : 'edit', delete: disabled ? '' : 'delete_outline', position: 'center'}"
          (ngEdit)="openFormDialog(DataTypeEnum.THERAPEUTIC_PLAN, $event)"
          (ngDelete)="onDeleteClick(DataTypeEnum.THERAPEUTIC_PLAN, $event)">
        </app-generic-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
