.data-table {
  width: 97%;
  margin: 5px auto;
}

table {
  width: 100%;
}


th {
  font-weight: bolder;
  font-size: large;
}

//td, th {
//  width: 15%;
//}

.mat-form-field {
  font-size: medium;
  width: 100%;
}

.td-actions {
  width: 25%;
}


//tr:not(.expanded-row):hover {
//  background: whitesmoke;
//}

td {
  border-bottom-width: 0;
}

.button-r {
  border-radius: 8px !important ;
}

.mat-row  {
  text-align: center;
}

th.mat-header-cell,
th.mat-sort-header,
td.mat-cell:not(.mat-column-expandedDetail) {
  text-align: center;
  padding-block: 15px;
}



tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  text-align: left;
  //display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
