<div class="row m-3">
  <div class="col-12 mb-2">
    <mat-card class="mat-elevation-z4">
      <mat-form-field appearance="outline" class="w-25">
        <mat-label>Anno</mat-label>
        <mat-select [(ngModel)]="yearSelected" (ngModelChange)="changePeriodOrStructure()">
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="margin-left:30px" appearance="outline" class="w-25">
        <mat-label>Struttura</mat-label>
        <mat-select [(ngModel)]="buildingSelected" (ngModelChange)="changePeriodOrStructure()">
          <mat-option *ngFor="let building of buildings" [value]="building">
            {{building.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
  </div>
</div>

<ng-container *ngIf="observableData$">
  <!--  {{contractService.observableData$ | async | json}}-->
  <app-health-flows-history-table
    [tableData]="observableData$"
    [isFilterable]="true"
    [isPageable]="true"
    [paginationSizes]="[10, 15, 20]"
    [defaultPageSize]="10"
    [isEditable]="isEditable"
    (ngDownload)="onDownloadClick($event)"
    (ngStatus)="onStatusChange($event)">
  </app-health-flows-history-table>
</ng-container>
