<form [formGroup]="form" (ngSubmit)="onSubmit()" id="{{formId}}" #f="ngForm">
  <!-- Riga Anagrafica e Altre Info -->
  <div class="row mt-2">

    <!-- Anagrafica -->
    <div class="col-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{'profilo.cardTitle' | translate}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <!-- Name -->
          <mat-form-field appearance="outline" class="col-4">
            <mat-label>{{'profilo.form.name' | translate}}</mat-label>
            <input oninput="this.value = this.value.toUpperCase()" matInput
                   placeholder="{{'profilo.form.name' | translate}}" autocomplete="off"
                   formControlName="firstName" required>
            <mat-error *ngIf="formSubmitAttempt">
              <app-form-field-error [formInput]="form.get('firstName')"
                                    [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
            </mat-error>
          </mat-form-field>

          <!-- Surname -->
          <mat-form-field appearance="outline" class="col-4">
            <mat-label>{{'profilo.form.surname' | translate}}</mat-label>
            <input oninput="this.value = this.value.toUpperCase()" matInput
                   placeholder="{{'profilo.form.surname' | translate}}" autocomplete="off"
                   formControlName="lastName" required>
            <mat-error *ngIf="formSubmitAttempt">
              <app-form-field-error [formInput]="form.get('lastName')"
                                    [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
            </mat-error>
          </mat-form-field>

          <!-- Codice Fiscale -->
          <mat-form-field appearance="outline" class="col-4">
            <mat-label>{{'profilo.form.fiscalCode' | translate}}</mat-label>
            <input oninput="this.value = this.value.toUpperCase()" matInput class="uppercase"
                   placeholder="{{'profilo.form.fiscalCode' | translate}}"
                   autocomplete="off" formControlName="fiscalCode" required>
            <mat-error *ngIf="formSubmitAttempt">
              <app-form-field-error [formInput]="form.get('fiscalCode')" [isFormSubmitted]="formSubmitAttempt"
                                    [patternName]="'codice fiscale'"></app-form-field-error>
            </mat-error>
          </mat-form-field>

          <!-- Phone -->
          <mat-form-field appearance="outline" class="col-4">
            <mat-label>{{'profilo.form.phone' | translate}}</mat-label>
            <input oninput="this.value = this.value.toUpperCase()" matInput
                   placeholder="{{'profilo.form.phone' | translate}}" autocomplete="off"
                   formControlName="landingPhone">
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>

          <!-- Nome Utente -->
          <mat-form-field appearance="outline" class="col-4">
            <mat-label>{{'profilo.form.nomeUtente' | translate}}</mat-label>
            <input oninput="this.value = this.value.toUpperCase()" matInput class="uppercase"
                   placeholder="{{'profilo.form.nomeUtente' | translate}}"
                   autocomplete="off" formControlName="nomeUtente" required>
            <mat-error *ngIf="formSubmitAttempt">
              <app-form-field-error [formInput]="form.get('nomeUtente')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
            </mat-error>
          </mat-form-field>

          <!-- Email-->
          <mat-form-field appearance="outline" class="col-4">
            <mat-label>{{'profilo.form.email' | translate}}</mat-label>
            <input matInput type="email" autocomplete="off" placeholder="medico@esempio.com"
                   formControlName="email" required>
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-error *ngIf="formSubmitAttempt">
              <app-form-field-error [formInput]="form.get('email')" [isFormSubmitted]="formSubmitAttempt"
                                    [patternName]="'e-mail'"></app-form-field-error>
            </mat-error>
          </mat-form-field>

          <div class="col-4 plus-container">
            <!-- Ruolo -->
            <mat-form-field appearance="outline" class="col-10">
              <mat-label>{{'profilo.form.ruolo' | translate}}</mat-label>
              <input oninput="this.value = this.value.toUpperCase()" matInput class="uppercase"
                     placeholder="{{'profilo.form.ruolo' | translate}}"
                     autocomplete="off" formControlName="ruolo" required>
              <mat-error *ngIf="formSubmitAttempt">
                <app-form-field-error [formInput]="form.get('ruolo')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
              </mat-error>
            </mat-form-field>

            <button mat-icon-button class="ml-2">
              <mat-icon matSuffix (click)="_openRuoloDialog()">add</mat-icon>
            </button>
          </div>

          <!-- Ruolo -->
          <mat-form-field appearance="outline" class="col-4" [hidden]="!this.showProfession" *ngIf="form.get('lastName')?.value || form.get('firstName')?.value">
            <mat-label>{{'profilo.form.profession' | translate}}</mat-label>
            <input oninput="this.value = this.value.toUpperCase()" matInput class="uppercase"
                   placeholder="{{'profilo.form.profession' | translate}}"
                   autocomplete="off" formControlName="profession" required>
            <mat-error *ngIf="formSubmitAttempt">
              <app-form-field-error [formInput]="form.get('profession')" [isFormSubmitted]="formSubmitAttempt"></app-form-field-error>
            </mat-error>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
