::ng-deep {
  .ap-full-view.cdk-overlay-pane, .ap-full-view-btns.cdk-overlay-pane  {
    max-width: 99vw !important;
    width: 100% !important;
    height: 98vh;
  }

  .ap-full-view .data-table, .ap-full-view-btns .data-table {
    width: 97.6% !important;
  }

  .ap-full-view .mat-dialog-container, .ap-full-view-btns .mat-dialog-container {
    overflow: hidden !important;
  }

  .ap-full-view .mat-dialog-content {
    max-height: 95% !important;
  }

  .ap-full-view-btns .mat-dialog-content {
    max-height: 88% !important;
  }
}