@import "~styles/cards";

.mat-card-header .mat-card-title {
  font-size: 20px !important;
}

p {
  margin: 0 0 2px !important;
}

::ng-deep {
  .mat-column-expandedDetail {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .p-15 {
    padding: 15px;
  }

  .red-text {
    color: #e23730 !important;
  }

  .vl-center {
    align-items: center;
  }

  .vl-center:not(:last-child) {
    border-right: 1px solid darkgray;
    height: 30px;
    padding-right: 5px;
  }

  .editBtn .editIcon {
    background-color: #59A066;
    color: #fff;
    height: 32px;
    width: 39px;
    margin-left: -54px;
    margin-top: -0.35em;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-top: 5px;
    font-size: 20px;
  }

  .editBtn {
    padding: 0;
    // border: 1px solid #59A066;
    color: #59A066;
    height: 32px;
    margin-top: 8px;
    max-width: 174px;
  }

  .editBtn mat-label, .delBtn mat-label {
    padding-left: 20px;
  }

  .dwlBtn .dwlIcon {
    background-color: #4A8397;
    color: #fff;
    height: 32px;
    width: 39px;
    margin-left: -67px;
    margin-top: -0.35em;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-top: 4px;
    padding-left: 9px;
    font-size: 22px;
  }

  .dwlBtn {
    padding: 0;
    // border: 1px solid #4A8397;
    color: #4A8397;
    height: 32px;
    margin-top: 8px;
    max-width: 174px;
  }

  .dwlBtn mat-label {
    padding-left: 10px;
    margin-right: -51px;
  }

  .delBtn .delIcon {
    background-color: #dd553d;
    color: #fff;
    height: 32px;
    width: 39px;
    margin-left: -62px;
    margin-top: -0.35em;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-top: 5px;
    font-size: 21px;
  }

  .delBtn {
    padding: 0;
    // border: 1px solid #dd553d;
    color: #e23730;
    height: 32px;
    margin-top: 8px;
    max-width: 174px;
  }
}
.min-h-122 {
  min-height: 122px;
}

.font-size-l {
  font: 400 20px/28px Roboto, "Helvetica Neue", sans-serif;
}

.mat-card-title{
  align-items:center !important;
}

.button-r {
  border-radius: 8px !important ;
}
