@import "~app/shared/components/generic-table/generic-table.component";

.mat-column-dateInsert {
  width: 20%;
  padding: 1rem;
}

.bg-red {
  background-color: red;
}

.bold-500 {
  font-weight: 500 !important;
}

.row-card {
  border-color: #212121 !important;
  text-align: center !important;
  height: 110px !important;
}

.font-size-h1 {
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
}

.margin-left-20 {
  margin-left: 20px;
}

::ng-deep {

  .mat-slide-toggle-content {
    font-size: 1.3rem !important;
  }

  .mat-slide-toggle.mat-checked:not(.mat-disabled) {
    .mat-slide-toggle-bar {
      background-color: #ff6666;
    }

    .mat-slide-toggle-thumb {
      background-color: #ff0000;
    }
  }
}

td {
  border-bottom-width: 0;
}

.button-r {
  border-radius: 8px !important ;
}

.mat-row  {
  text-align: center;
}

th.mat-header-cell,
th.mat-sort-header,
td.mat-cell:not(.mat-column-expandedDetails) {
  text-align: center;
  padding-block: 15px;
}



tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  text-align: left;
  //display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.col-w-17 {
  flex: 0 0 17% !important;
  max-width: 17% !important;
  margin-left: 10px;
}

.col-w-19 {
  flex: 0 0 19% !important;
  max-width: 19% !important;
}

.col-w-23 {
  flex: 0 0 23% !important;
  max-width: 23% !important;
  padding-left: 5px;
  padding-right: 5px;
}
.total-values {
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.d-flex .w33 {
  flex: 33.33%;
}
