<ng-template #cardInfo let-title="title" let-value="value" let-param>
  <div class="card px-1 mb-4 rounded-lg row-card">
    <span class="h6 w-50 mx-auto px-2 py-1 rounded-bottom bg-red text-white shadow-sm">{{title | translate}}</span>
    <div class="bg-transparent card-header pt-4 border-0">
      <h1 class="h1 font-weight-normal text-center mb-0 bold-500">{{value}}</h1>
      <ng-container *ngTemplateOutlet="param" class="my-0"></ng-container>
    </div>
  </div>
</ng-template>

<ng-container>
  <div class="mat-elevation-z24 data-table mt-4">
    <!-- Table -->
    <table mat-table [dataSource]="tableDataSource" matSort multiTemplateDataRows (matSortChange)="sortTable($event)">

      <!-- Month Column -->
      <ng-container matColumnDef="periodoDiRiferimento">
        <th mat-header-cell *matHeaderCellDef [class.text-center]="true" [mat-sort-header]="'periodoDiRiferimento'">{{'healthFlowsHistory.table.periodoDiRiferimento' | translate}}</th>
        <td mat-cell *matCellDef="let element">
          <div class="container d-flex">
            <span class="w33">
              <span class="display-4 font-size-h1">{{getMonthName(element) | titlecase}}</span>
              <span class="lead margin-left-20">{{getPeriod(element)}}</span>
            </span>
            <span class="w33">
              <span class="display-4 font-size-h1">{{'healthFlowsHistory.table.impegnative' | translate}}</span>
              <span class="lead margin-left-20">{{getBindingTotal(element)}}</span>
            </span>
            <span class="w33">
              <span class="display-4 font-size-h1">{{'healthFlowsHistory.table.totale' | translate}}</span>
              <span class="lead margin-left-20">€ {{getTotale(element)}}</span>
            </span>
          </div>
          <!-- <div class="mt-5">
            <mat-slide-toggle (change)="emitStatusChangeAction($event, element)" [checked]="isStatusChecked(element)">{{'healthFlowsHistory.table.consolidated' | translate}}</mat-slide-toggle>
          </div> -->
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetails">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <ng-container *ngFor="let fileH of element.fileHs">
              <div class="row p-4 m-3 border border-dark rounded-lg">
                <div class="mt-5" class="col-2 align-self-center">
                  <mat-slide-toggle [disabled]="!isEditable" (change)="emitStatusChangeAction($event, fileH)" [checked]="isStatusChecked(fileH)">{{'healthFlowsHistory.table.consolidated' | translate}}</mat-slide-toggle>
                </div>
                <div class="col-w-19 align-self-center" role="group" aria-label="Standard Button Group">
                  <div style="padding-bottom:80px"><span style="font-size:18px">Nome: </span><span style="font-size:18px;" class="font-weight-bolder">{{getFileNameFromPathWithoutExtension(fileH.anaFile?.dynamicPath)}}</span></div>
                  <!-- Download ASL Invoice -->
                  <button style="top:-50px" class="btn btn-secondary btn-lg border border-dark" mat-button (click)="emitDownloadAction(fileH.anaFile)">{{'healthFlowsHistory.table.fileAna' | translate}}</button>
                  <!-- Download ASL Invoice -->
                  <button style="top:-50px" class="btn btn-success btn-lg border border-dark" mat-button (click)="emitDownloadAction(fileH.sanFile)">{{'healthFlowsHistory.table.fileSan' | translate}}</button>
                </div>
                <div class="col-w-23">
                  <ng-template #fileHRowsTemplate>
                    <div class="d-flex justify-content-around">
                      <span class="font-weight-bolder">{{'healthFlowsHistory.table.numberRowsAna' | translate}}</span>
                      <span class="text-danger font-weight-bold">{{fileH.numberRowsAna}}</span>
                    </div>
                    <div class="d-flex justify-content-around">
                      <span class="font-weight-bolder">{{'healthFlowsHistory.table.numberRowsSan' | translate}}</span>
                      <span class="text-danger font-weight-bold">{{fileH.numberRowsSan}}</span>
                    </div>
                  </ng-template>

                  <ng-container [ngTemplateOutlet]="cardInfo"
                                [ngTemplateOutletContext]="{title: 'healthFlowsHistory.table.numberRowsFileH', $implicit: fileHRowsTemplate}">
                  </ng-container>

                  <ng-container *ngFor="let detail of ['totNumberPresence', 'numberProjects']"
                                [ngTemplateOutlet]="cardInfo"
                                [ngTemplateOutletContext]="{title: 'healthFlowsHistory.table.' + detail, value: fileH[detail]}">
                  </ng-container>
                </div>
                <div class="col-w-23">
                  <ng-container *ngFor="let quote of ['totAslCharge', 'totBirthplaceCharge', 'totUserCharge']"
                                [ngTemplateOutlet]="cardInfo"
                                [ngTemplateOutletContext]="{title: 'healthFlowsHistory.table.' + quote, value: '€ ' + fileH[quote]}">
                  </ng-container>
                </div>
                <div class="d-flex flex-column col-w-17 align-self-center">
                  <!-- Download ASL Invoice -->
                  <button class="mat-focus-indicator btn btn-primary mat-elevation-z8 mt-3 button-r" mat-raised-button (click)="emitDownloadAction(fileH)">
                    <span class="h6">{{'healthFlowsHistory.table.downloadAslInvoice' | translate}}</span>
                    <mat-icon class="ml-2 align-self-end">receipt_long</mat-icon>
                  </button>

                  <!-- Download ASL Invoice -->
                  <button class="mat-focus-indicator btn btn-primary mat-elevation-z8 mt-3 button-r" mat-raised-button (click)="emitDownloadAction(fileH)">
                    <span class="h6">{{'healthFlowsHistory.table.downloadMunicipalityInvoice' | translate}}</span>
                    <mat-icon class="ml-2 align-self-end">receipt_long</mat-icon>
                  </button>

                  <!-- Download ASL Invoice -->
                  <button class="mat-focus-indicator btn btn-primary mat-elevation-z8 mt-3 button-r" mat-raised-button (click)="emitDownloadAction(element)">
                    <span class="h6">{{'healthFlowsHistory.table.downloadUserInvoice' | translate}}</span>
                    <mat-icon class="ml-2">receipt_long</mat-icon>
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
          [class.expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetails']" class="detail-row"></tr>

      <!-- No data row -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [colSpan]="displayedColumns.length">{{'noData' | translate}}</td>
      </tr>
    </table>

    <!-- Pagination -->
    <mat-paginator *ngIf="displayPaginator()"
                   [pageSizeOptions]="paginationSizes"
                   [pageSize]="defaultPageSize"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
</ng-container>
