.snackButton{
  background-color: transparent;
  max-height: 30px;
  width: 20px;
  float: right;
}
.snackText{
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 20px;
  max-height: 30px;
  float: left;
  width: 70%;
}
.div_container{
  width: 100%;
  display: inline-block;
}
