<div class="div_container">
    <div class="snackText  text-uppercase">{{data.title}}</div>
    <button mat-raised-button class="snackButton" (click)="dismiss()">
      <mat-icon class="mr-1">close</mat-icon>
    </button>
  </div>
<div style="padding-top: 15px">
  {{data.message}}
</div>
  <!--
      <div>
        <button mat-flat-button (click)="snackBarRef.dismiss()" class="snackButton">{{data.button}}</button>
      </div>
      -->

