<!-- Sezione Barra Sopra la tabella con azioni varie -->
<div class="mat-elevation-z4 data-table mx-auto archive-guest-search">
  <div class="row">

    <!-- Filtro tabella   -->
    <div class="col-sm-12 col-md-6 col-lg-4 pr-0">
      <div class="d-flex align-items-center ml-3">
        <div style="margin-top: -7px;">Cerca ospite</div>
        <div style="width: 75%;" class="input-form">
          <mat-form-field class="p-3 search-input">
            <input matInput (keyup)="applyFilter($event)">
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- Filtro Struttura -->

    <div class="col-sm-12 col-md-6 col-lg-3 p-4 mr-2">
      <div class="lr-border" style="padding-top: 11px;">
        <div style="margin: -20px auto 0; width: 270px">
          <mat-form-field appearance="outline" *ngIf="buildings.length > 0">
            <mat-label>Struttura</mat-label>
            <mat-select [(ngModel)]="buildingSelected" (ngModelChange)="onChange()">
              <mat-option *ngFor="let building of buildings" [value]="building">
                {{building?.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- Filtro Regime di ricovero-->
    <div class="col-sm-12 col-md-6 col-lg-3 p-4 mr-2">
      <div class="lr-border" style="padding-top: 11px;">
        <div style="margin: -20px auto 0; width: 270px">
          <mat-form-field appearance="outline" *ngIf="recoveryTaxRegimeTypes.length > 0">
            <mat-label>Regime di Ricovero</mat-label>
            <mat-select [(ngModel)]="recoveryTaxRegimeTypeSelected" (ngModelChange)="onChange()">
              <mat-option *ngFor="let recoveryTaxRegime of recoveryTaxRegimeTypes" [value]="recoveryTaxRegime">
                {{recoveryTaxRegime?.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!--Bottone Esporta -->
    <div class="col p-lg-4">
      <div class="float-right mr-2" style="margin-top: 7px;">
        <button mat-raised-button class="button-r esporta-btn" (click)="esporta()"  [disabled]="!esportazioneStato">
          <mat-icon class="esporta"></mat-icon>
          <mat-label>Esporta</mat-label>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Sezipone della Tabella -->
<div class="data-table mt-4 ml-0">
  <div class="row">
    <div class="mt-3" *ngFor="let item of this.dataSource.filteredData" style="min-width: 390px;max-width: 392px;">
      <mat-card *ngIf="isAccessible" (click)="openGuestDetails(item)" class="img-block">
        <mat-card-header>
          <div mat-card-avatar>
            <img class="mat-card-image" *ngIf="!item || !item.picContent" mat-card-image src="assets/img/blank-avatar.png"/>
            <img class="mat-card-image img-display-cover" *ngIf="item && item.picContent" mat-card-image  src="{{item.picContent}}"/>
          </div>
          <div [ngClass]="(item.status != null &&  item.status.id === 4) ? cardAbsentClass : cardClass">
            <mat-card-title class="mat-card-header-text patientName uppercase">{{item.lastName}} {{item.firstName}}</mat-card-title>
            <mat-card-subtitle class="mat-card-header-text fiscalCode uppercase">{{item.fiscalCode}}</mat-card-subtitle>
            <mat-card-subtitle class="mat-card-header-text age">{{getAge(item)}} anni</mat-card-subtitle>
          </div>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
