@import "~styles/index";

.full-width-table {
  width: 100%;
}

.data-table {
  width: 98.7%;
  margin: 5px auto;
}

/* Structure */
table {
  width: 100%;
}

th {
  font-weight: bolder;
  font-size: large;
}

.mat-form-field {
  font-size: medium;
  width: 100%;
}

td, th {
  width: 15%;
}

.td-actions {
  width: 25%;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

.example-element-row td {
  border-bottom-width: 0;
}

.button-r {
  border-radius: 8px !important ;
}

//Per mettere tutto al centro all'interno delle tabelle

th.mat-header-cell,
th.mat-sort-header,
td.mat-cell {
  text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-card-image {
  margin-top: 0px !important;
  margin-left: 0px;
}

.mat-card-header-text {
  margin: 0px 35px !important;
}

.img-block {
  // height: 7vw !important;
  height: 134px !important;
  padding: 0px !important;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
}

.img-block .mat-card-avatar {
  width: 25%;
}

.img-block .mat-card-image {
  //width: 8vw !important;
  //height: 7vw !important;
  //border-radius: 0.8vw !important;
  width: 153px !important;
  height: 134px !important;
  border-radius: 15px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border: 1px solid  $redGlobalBGColor !important;
}

.img-block .img-label {
  // left: calc(7.7vw - 1px);
  left: 147px;
  top: 0;
  // width: 12.25vw !important;
  width: 235px !important;
  background-color:  $redGlobalBGColor !important;
  border-radius: 15px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  padding-top: 23px;
  padding-left: 19px;
  position: absolute;
  bottom: 0;
}

.img-block .abs-img-label {
  left: 147px;
  top: 0;
  width: 235px !important;
  background-color: #A9A9A9 !important;
  border-radius: 0.8vw !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  padding-top: 23px;
  padding-left: 19px;
  position: absolute;
  bottom: 0;
}

.patientName {
  font-weight: 600;
  font-size: 17px;
  width: 216px;
  margin-bottom: 9px !important;
  line-height: 19px;
  color: white !important;
}

.fiscalCode, .age {
  line-height: 28px;
  font-size: 15px;
  color: white !important;
}

.mat-card-header-text {
  margin-left: 0px !important;
}

.esporta {
  background-image: url('../../../assets/icon/esporta.svg');
  background-repeat: no-repeat;
  background-size: 21px;
}

.esporta-btn {
  margin-top: 30px;
  float: right;
  margin-right: 15px;
}

.uppercase {
  text-transform: uppercase;
}
