.mat-card {
  padding: 0 !important;
}

.mat-card-header {
  background-color: #dd553d !important;
  padding: 5px !important;
  border-radius: 4px 4px 0 0;
}

.mat-card-title {
  margin-top: 8px;
  color: white;
}

mat-icon.mat-card-avatar {
  width: 28px;
  height: 28px;
  font-size: 28px;
  color: white;
  //padding-left: .25rem!important;
  padding: 5px !important;
}

.mat-card-content {
  padding: 30px !important;
}
