.full-width-table {
  width: 100%;
}

.data-table {
  width: 99%;
  margin: 5px auto;
  border-radius: 5px;
}

.groupedHeader {
  background-color: #dd553d;
  color: white;
}

/* Structure */
table {
  width: 100%;
}

th {
  font-weight: bolder;
  font-size: large;
}

.mat-form-field {
  font-size: medium;
  width: 100%;
}

td, th {
  width: 15%;
}

.td-actions {
  width: 22%;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

.example-element-row td {
  border-bottom-width: 0;
}

.button-r {
  border-radius: 8px !important ;
}

//Per mettere tutto al centro all'interno delle tabelle

th.mat-header-cell,
th.mat-sort-header,
td.mat-cell {
  text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  margin-left: 1rem;
  justify-content: center;
}

.bed {
  background-image: url('../../../assets/icon/bed.svg');
  background-repeat: no-repeat;
  background-size: 26px;
  background-position-x: 7px;
  background-position-y: 6px;
  background-color: #609970;
  height: 31px;
  width: 39px;
  margin-top: -0.3em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.clipboard {
  background-image: url('../../../assets/icon/clipboard.svg');
  background-repeat: no-repeat;
  background-size: 21px;
  height: 30px;
  width: 30px;
}

.clipboard-btn {
  background-image: url('../../../assets/icon/clipboard.svg');
  background-repeat: no-repeat;
  background-size: 14px;
  background-position-x: 12px;
  background-position-y: 6px;
  background-color: #4A8397;
  height: 31px;
  width: 39px;
  margin-top: -0.3em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.groupedHeader {
  text-align: left !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mat-header-row:not(.groupedHeader) {
  background-color: #A8A8A8;
}

.mat-header-row:not(.groupedHeader) th {
  color: #fff;
}

tr:nth-child(odd) {
  background-color: #E9E9E9;
}

.ricovera-green {
  padding: 0;
  border: 1px solid #609970;
  color: #609970;
  height: 32px;
}

.ricovera-lista-blue {
  padding: 0;
  border: 1px solid #4A8397;
  color: #4A8397;
  height: 32px;
}

.elimina-red {
  padding: 0;
  border: 1px solid #dd553d;
  color: #dd553d;
  height: 32px;
}

.elimina-red-icon {
  background-image: url('../../../assets/icon/cross-cirlce.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position-x: 11px;
  background-position-y: 7px;
  background-color: #dd553d;
  height: 31px;
  width: 39px;
  margin-top: -0.3em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.elimina-red mat-label, .ricovera-green mat-label, .ricovera-lista-blue mat-label {
  padding-left: 10px;
  padding-right: 10px;
}

::ng-deep .acceptance .mat-sort-header-container.mat-focus-indicator {
  border-right: 1px solid;
  height: 28px;
}

.lr-border {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  height: 50px;
}

::ng-deep .input-form .mat-form-field-label-wrapper {
  border: 1px solid darkgray;
  height: 20px !important;
  border-radius: 8px;
  margin-top: 14px;
}

::ng-deep .search-input .mat-form-field-underline {
  display: none !important;
}

::ng-deep .acceptance .mat-button-wrapper mat-label, ::ng-deep .acceptance-search .mat-button-wrapper mat-label {
  display: inline-block;
  margin-top: -0.4rem;
}

.acceptance td {
  font-weight: 500;
}

::ng-deep .acceptance .mat-column-landingPhone {
  width: 30% !important;
}

.search-input input {
  padding: 3px;
  width: calc(100% - 4px);
  height: 28px;
  margin-top: -6px;
  border-radius: 5px;
  background-color: #fff;
}

.acceptance-search, .acceptance {
  margin-left: 0px !important;
}

th.mat-header-cell:last-of-type {
  padding-right: 0px !important;
}

th:not(.groupedHeader) {
  font-weight: 400;
}
