<!-- Sezione Barra Sopra la tabella con azioni varie -->
<div class="mat-elevation-z4 data-table mx-auto acceptance-search">
  <div class="row">

    <!-- Filtro tabella   -->
    <div class="col-sm-12 col-md-6 col-lg-4 pr-0">
      <div class="d-flex align-items-center ml-3">
      <div style="margin-top: -7px;">Cerca ospite</div>
        <div style="width: 75%;" class="input-form">
          <mat-form-field class="p-3 search-input">
            <input matInput (keyup)="applyFilter($event)">
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- Switch Ospiti Eliminati -->
    <div class="col-sm-12 col-md-6 col-lg-3 p-4 mr-2">
      <div class="lr-border" style="padding-top: 11px;">
        <div class="ml-4">
          <mat-label class="mr-2">Ospiti Eliminati</mat-label>
          <mat-slide-toggle (change)="findDeleted($event)"></mat-slide-toggle>
        </div>
      </div>
    </div>

    <!--Bottone Ricovera e Bottone Aggiungi in lista -->
    <div class="col p-lg-4">
      <div class="float-right mr-2" style="margin-top: 7px;">
        <!-- Ricovera -->
        <button class="button-r ricovera-green mr-2 mb-3" mat-raised-button (click)="onHospitalize(null)">
          <mat-icon class="bed"></mat-icon>
          <mat-label>Aggiungi Ricovera</mat-label>
        </button>

        <!-- Aggiungi in Lista -->
        <button mat-raised-button class="button-r ricovera-lista-blue" (click)="addInList()">
          <mat-icon class="clipboard-btn"></mat-icon>
          <mat-label>Aggiungi in Lista</mat-label>
        </button>
      </div>

    </div>

  </div>
</div>

<!-- Sezipone della Tabella -->
<div class="mat-elevation-z4 data-table mt-4 acceptance">

  <!-- Tabella -->
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mt-xl-1">

    <ng-container matColumnDef="groupedHeader">
      <th class="groupedHeader" mat-header-cell *matHeaderCellDef colspan="5"><span><mat-icon class="clipboard"></mat-icon></span> <span style="position: absolute;margin-top: 6px;">LISTA DI ATTESA</span> </th>
    </ng-container>

    <!-- Visualizzazione delle colonne della tabella -->
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">

      <!-- Se la colonna non è actions -->
      <ng-container *ngIf="(column !== 'actions' && column !== 'details')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{(column | translate) | uppercase}}</th>
        <ng-container *ngIf="column !== 'birthDate'">
          <td mat-cell *matCellDef="let element" (click)="openGuestDetailsDialog(element)"> {{element[column] | uppercase }} </td>
        </ng-container>
        <ng-container *ngIf="column === 'birthDate'">
          <td mat-cell *matCellDef="let element" (click)="openGuestDetailsDialog(element)"> {{ getAge(element[column]) }} </td>
        </ng-container>
      </ng-container>

      <!-- Se la colonna che devo visualizzare è quella con i bottoni azione -->
      <ng-container *ngIf="column === 'actions'">
        <th mat-header-cell *matHeaderCellDef> {{(column | translate) | uppercase}} </th>
        <td class="td-actions p-2 min-w-250px" mat-cell *matCellDef="let element">
          <!-- Bottone per l'operazione di aggiunta paziente ricovero -->
          <button *ngIf="!isDeleted" class="button-r mr-2 ricovera-green" mat-raised-button (click)="onHospitalize(element)">
            <mat-icon class="bed"></mat-icon>
            <mat-label>Ricovera</mat-label>
          </button>
          <!-- Bottone per l'azione di cancellazione -->
          <button *ngIf="!isDeleted" class="button-r elimina-red" mat-raised-button (click)="openGuestDeleteDialog(element)">
            <mat-icon class="elimina-red-icon"></mat-icon>
            <mat-label>Elimina</mat-label>
          </button>
          <!-- Bottone Ripristina -->
          <button *ngIf="isDeleted" class="button-r mr-2" mat-raised-button (click)="onRecoverGuest(element)">
            <mat-icon>add</mat-icon>
            <mat-label>Ripristina</mat-label>
          </button>
        </td>
      </ng-container>
    </ng-container>

    <!-- Header della tabella   -->
    <tr class="groupedHeader" mat-header-row *matHeaderRowDef="groupedColumns; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>

    <!-- Riga che appare quando la tabella è vuota -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="6"> Nessun Dato Presente</td>
    </tr>
  </table>

  <!-- Paginator con di default 10 risultati per pagina-->
  <!-- Pagination -->
  <mat-paginator #paginator
                 [pageSizeOptions]="paginationSizes"
                 [pageSize]="defaultPageSize"
                 showFirstLastButtons>
  </mat-paginator>
</div>
