@import '~styles/cards';

//::ng-deep .mat-card-header-text {
//  margin: 0 !important;
//}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

::ng-deep {
  .mat-input-element:disabled,
  .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after,
  .mat-select-disabled .mat-select-value, {
    color: gray !important;
  }
}

.file-upload-form-field {
  ::ng-deep {
    .mat-form-field-wrapper,
    .mat-form-field-flex,
    .mat-form-field-appearance-standard {
      padding: 0 !important;
    }

    .mat-form-field-infix {
      border: none !important;
      padding-top: 0 !important;
      border-top: none !important;
    }

    //.mat-form-field-appearance-legacy .mat-form-field-infix {
    //  border: none !important;
    //  padding-top: 0 !important;
    //}
    //
    //.mat-form-field-appearance-standard .mat-form-field-flex {
    //  border: none !important;
    //  padding-top: 0 !important;
    //}

    .mat-form-field-underline {
      display: none;
    }

    .mat-form-field-outline-start, .mat-form-field-outline-end {
      border-radius: 0 !important;
      border: none !important;
    }
  }
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  font-size: inherit;
}

.mat-toolbar-single-row button {
  width: 200px;
}


#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

.n-card {
  box-shadow: none;
  border: 2px solid #DEDEDE;
}
::ng-deep .n-card {
  .mat-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
  }

  mat-label {
    padding-top: 1px;
  }

  mat-icon {
    font-size: 40px;
    margin-top: -15px;
  }

  mat-card-content {
    background-color: #F6F6F6;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #fff;
    border: 2px solid #DEDEDE;
    border-radius: 5px;
    color: transparent;
  }

  .mat-form-field-appearance-outline .mat-form-field-flex {
    height: 40px;
  }

  .mat-form-field-infix {
    padding-top: 0.1em;
  }

  mat-card-content:not(.full-w) .outer-label {
    margin-right: 10px;
    color: #838383;
  }

  .mat-select-arrow-wrapper {
    padding-top: 8px;
  }

  .mat-select-value {
    padding-top: 1px;
  }

  .sm-mat-card {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 0px !important;
  }

  .sm-mat-card:not(.full-w) .outer-label {
    margin-right: 21px;
    display: inline-flex;
    width: 39%;
  }

  .sm-mat-card:not(.full-w) mat-form-field {
    width: 55%;
  }

  .file-alt {
    background-image: url('../../../../assets/icon/file-alt.svg');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 14px;
    background-position-y: 13px;
    height: 43px;
    width: 39px;
  }

  .file-upload-block .container {
    border-color: black !important;
    border-radius: 5px;
    margin-left: 15px !important;
    width: calc(100% - 30px);
    padding: 20px !important;
    background-color: #fff;
  }
  
  .file-upload-block .file-upload-icon {
    position: absolute;
    right: 1em;
    margin-top: 0.5em;
  }

  .file-upload-block .align-items-center {
    align-items: flex-start !important;
  }
  
  .file-upload-block label {
    position: absolute;
    margin-top: 2.3em;
    margin-left: 4em;
  }

  .p-lr-2 {
    padding-right: 2px;
    padding-left: 2px;
  }

  .wid-f mat-label, .wid-f mat-form-field {
    width: 100% !important;
  }

  .quote-b mat-label {
    width: 61% !important;
  }

  .quote-b mat-form-field {
    width: 32% !important;
  }
}