::ng-deep {
  .contracts-table .data-table.mx-auto {
    border: 2px solid #DEDEDE;
    height: 100px;
    border-radius: 7px;
    background-color: #F6F6F6;
    box-shadow: none;
    width: 98.1%;
  }
}

.input-form mat-label {
  color: #000000 !important;
}

