<ng-container *ngIf="contractService.observableData$">
<!--  {{contractService.observableData$ | async | json}}-->
  <app-generic-table class="contracts-table"
      [tableData]="contractService.observableData$"
      [tableColumns]="contractsTableColumns"
      [isFilterable]="true"
      [isPageable]="true"
      [paginationSizes]="[10, 15, 20]"
      [defaultPageSize]="10"
      [addAction]="{buttonIcon:'add', buttonText: 'contract.addContract' | translate }"
      [isMatCardTable]="true"
      (ngAdd)="openFormDialog()"
      [rowActionIcons]="{edit: 'edit', delete: 'delete_outline', position: 'center'}"
      (ngEdit)="openFormDialog($event)"
      (ngDelete)="onDeleteClick($event)">
    </app-generic-table>
</ng-container>
