@import "~styles/breakpoints";
@import "~styles/theme";
@import "~@angular/material/theming";

.mat-sidenav {
  // width: 300px;
  width: 15.6vw;
  background-color: #dd553d;
}

::ng-deep .guest-mang-view {
  .mat-list-base .mat-list-item {
    font-size: 0.8335vw;
  }

  .mat-list-base .mat-list-item .mat-list-item-content {
    padding: 0 0.8335vw !important;
  }

  .mat-list-base .mat-list-item {
    height: 2.5vw !important;
  }

  .mat-list-item .routeIcon {
    height: 1.25vw;
    width: 1.25vw;
    margin-right: 1.56vw !important;
  }

  .mat-list-item .material-icons {
    font-size: 1.25vw !important;
    height: 1.25vw !important;
    width: 1.25vw !important;
  }
}

.mat-sidenav-container {
  background-color: whitesmoke !important;
  height: 100vh;

  .mat-sidenav-content {
    display: flex;
    flex-direction: column;
  }
}

.sidenav-toolbar {
  height: 64px;
  background-color: mat-color($app-primary);
  display: flex;
  flex-direction: row;

  @media (max-width: 600px) {
    height: 56px;
  }
}

.mat-nav-list {
  padding-top: 0;
}

@include breakpoint-max(600px) {
  .fixed-topnav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
  }

  .mat-drawer-container,
  .mat-drawer {
    padding-top: 56px;
  }
}

.version-info {
  font-size: 8pt;
  padding: 8px;
  align-self: flex-end;
}
