<!-- TOOLBAR -->
<app-toolbar></app-toolbar>

<!-- SIDEBAR AND CONTENT -->
<mat-sidenav-container>
  <mat-sidenav #appDrawer mode="side" opened="true">
    <mat-nav-list>
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div class="m-4">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
