@import "../../../../../../styles/theme";

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;
}

::ng-deep {
  .mat-list-item {
    padding: 8px 0;
    display: flex;
    width: auto;

    .routeIcon {
      margin-right: 30px;
      color: white;
    }

    .mat-list-item-content {
      flex: 1 1 100%;
    }
  }

  .mat-list-item-content {
    flex: 1 1 100%;
  }

  .activeIcon svg path {
    fill: #e23730;
  }

  .mat-list-item.active {
    background-color: whitesmoke;

    span {
      color: #e23730!important;
    }

    .mat-list-item-content .routeIcon {
      color: #e23730!important;
      svg path {
        fill: #e23730!important;
      }
    }

    &:hover,
    &:focus {
      background-color: white !important;
    }
  }
}

.text-red, .activeMatIcon {
  color: #e23730;
}
