<ng-container *ngIf="item">
  <a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)" *ngIf="getUrl(item)"
     [ngClass]="{'active': item.route ? (router.isActive(item.route, true)
      || (item.route.startsWith('guest') && router.url.startsWith('/guest/stepper'))): false, 'expanded': expanded}">
    <mat-icon *ngIf="item.matIconName" class="routeIcon{{item.route && router.isActive(item.route, true) ? ' activeMatIcon' : ''}}">{{item.matIconName}}</mat-icon>
    <mat-icon *ngIf="item.svgIconName" class="routeIcon{{item.route && router.isActive(item.route, true) ? ' activeIcon' : ''}}" svgIcon="{{item.svgIconName}}"></mat-icon>
    <span class="{{item.route && router.isActive(item.route, true) ? 'text-red' : 'text-white'}} font-weight-bold">{{item.displayName}}</span>
    <span fxFlex *ngIf="item.children && item.children.length">
      <span fxFlex></span>
      <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">expand_more</mat-icon>
    </span>
  </a>
  <div *ngIf="expanded">
    <app-menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1" style="margin-left: 10px;"></app-menu-list-item>
  </div>
</ng-container>
